/*实时财务CSS*/
.height340{height: 340px;}
.height40{height: 40px;}
.width180{width: 180px;}
.width220{width: 220px;}
.height190{height: 190px;}
.height250{height: 250px;}
.height230{height: 230px;}

.finanz{background: url("/Style/H/images/finanz/e_circle.png") no-repeat scroll 40% 0%}
.finanz_shandow{-webkit-box-shadow: #ccc 0 0 8px;
    -moz-box-shadow: #ccc 0 0 8px;
    box-shadow: #ccc 0 0 8px;
    -ms-box-shadow: #ccc 0 0 8px;
    -o-box-shadow: #ccc 0 0 8px;
    border-color: #d6d6d6;
}
.tab-list1 .current {
    background: #FF2F2F none repeat scroll 0px 0px;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
}
UL {list-style-type: none;  }
UL {  padding: 0px;  margin: 0px;  }
ul, ol { list-style: outside none none;}
.tab-list1 .li2 { }
.tab-list1 li { cursor: pointer; float: left;  font-size: 14px; font-weight: bold; line-height: 34px; text-align: center; width: 24.9%; }
.tab-list1 .current { background: none repeat scroll 0 0 #ff2f2f;  color: #fff; font-size: 14px; font-weight: bold; line-height: 34px; text-align: center;height: 40px; }
.red {  color: #EA5413;  }
.invest_page a{display: block;width: 25px;height: 25px;border: 1px solid #e6e6e6;background: #e4e4e4;float: left;margin-right: 3px;color: #444}
.invest_page a.prevnext {display: block;width: 65px;height: 25px;border: 1px solid #e6e6e6;background: #e4e4e4;float: left;margin-right: 3px;}
.invest_page .current{display: block;width: 25px;height: 26px;background: #fa0000;float: left;color: #fff;margin-right: 3px;}
.tr_bg_grey{background: #fafafa}
.pages { font-size: 12px; height: 43px; background:#F9F9F9; border:1px #e3e3e3 solid; padding:7px 7px 3px 0; text-align: right; color:#666666; width:965px; margin:5px 0px 5px 2px; margin:0 auto; margin-top:15px; }
.pages a { margin: 0 1px; padding: 2px 6px; background: none repeat scroll 0 0 #F2F2F2; border:1px #fa0000 solid; color:#c00 }