/**************特权金页面样式表*************/
.tqj-main{background: url("/Style/H/images/privilege/main_bg.jpg") #3d1e1e no-repeat top center;}
.tqj-title{height: 85px;width: 481px;background: url("/Style/H/images/privilege/title_bg.png") no-repeat top center;color:#71463f;top:42px;z-index: 1;}
.tqj-content{background-color: #f64a1a;padding: 75px 40px 40px;}
.tqj-list-box{background: url("/Style/H/images/privilege/money.jpg") #faddcb no-repeat 620px 86px;height: 165px;padding: 30px 50px 30px 65px;color:#71463f;}
.tqj-list-left{width:820px;}
.tqj-list-right{width:180px;height: 140px;}
.tqj-list-right-bg1{background: url("/Style/H/images/privilege/receive.png") no-repeat;}
.tqj-list-right-bg2{background: url("/Style/H/images/privilege/receive2.png") no-repeat;}
.tqj-list-page a{color: #fff;}
.tqj-list-page .current{display: inline-block;width: 25px;height: 25px;background-color: #fff;color: #f64a1a;line-height: 25px;border-radius: 6px;}
.tqj-detail-bottom{width: 1236px;height: 109px;background: url("/Style/H/images/privilege/bottom_bg.png") no-repeat;top:290px;left:-19px;z-index: 0px;}
.tqj-detail-packet{width:343px;height:218px;top: 170px;right: 50px;z-index: 888;background: url("/Style/H/images/privilege/packet.png") no-repeat;}
.tqj-circle{width:30px;height:30px;border:1px #fff solid;}
.tqj-width390{width:390px;}
.tqj-height55{height: 55px;}