
 .xw_banner{width:980px;height:72px;margin: 0 auto;}
 .logo{
 	height: 72px;
 	background: url(../images/logo.jpg) no-repeat;
 	width: 386px;
 	float: left;
 }
 .bb_list_banner{width:980px;margin: 0 auto;height:266px;}
 .nav_lists{
 	float: left;
 	width: 500px;
 }
.nav_lists li{
	float: left;
	padding-left:26px;
	margin-top: 26px;
	height: 46px;
}
.nav_lists li.libg{
	
	position: relative;
}
.nav_lists li span{
	background: url(../images/navlibg.jpg) no-repeat right;
	width: 8px;
	height: 8px;
	display: inline-block;
	padding-left: 6px;
}
.nav_lists a{
	font-size: 16px; color:#4F4F4F
	 
}
body{background:#f2f2f2;}
/* 导航 */
.banner{
 	width:100%;
	height:358px;

}
.banner_lists{
	position: relative;
	height: 356px;
}
.banner_lists li{
	position: absolute;
	top: 0;
	left: 0;
}
.main .dengji{ 
				text-align:center;
}
/* home_main */
.home_main{
	width: 1002px;
	margin:0 auto;
	margin-top:6px;
}
.home_main .main_top_header{
	
	border: solid 1px #d8d8d8;
	background: #fbfbfb;
}
.home_main .main_top_header>h3{
	background: url("../images/main_img1.jpg") no-repeat left center;
	height: 38px;
	padding-left: 66px;
	line-height: 38px;
}
.home_main .main_top_header>h3 span{
	padding-right: 32px;
	font-size: 14px;
	font-weight: bolder;
}
.home_main .main_top_header>h3 em{
	font-style: normal;
	color: #fb9b55;
}
.home_main .main_top_bottom{
	height: 268px;
	padding-left: 16px;
}
.home_main .main_top_bottom>dl{
	width: 328px;
	padding-top: 16px;
	height: 248px;
	overflow: hidden;
	float: left;
}
.home_main .main_top_bottom>dl dt{
	width: 328px;
	overflow: hidden;
}
.home_main .main_top_bottom>dl img{
	display: block;
	margin-bottom: 10px;
}
.home_main .main_top_bottom>dl h4{
	font-size: 20px;
	font-weight: normal;
	line-height: 30px;
}
.home_main .main_top_bottom>dl p{
	line-height: 22px;
	width: 278px;
}

.home_main .main_bottom{

}
.home_main .main_table{
	border: solid 1px #ccc; 
	margin-top: 8px;
}
.home_main .main_table h3{
	height: 56px;
	position: relative;
	top: 8px;
	left: -16px;
	background: url(../images/main_table_img1.jpg) no-repeat left;
	font-size: 24px;
	padding-left: 50px;
	padding-top: 12px;
	color: #fff;
	z-index: 10;
}
.home_main .main_table h3 a{
	float: right;
	font-size: 14px;
	font-weight: normal;
	color: #333;
}
.home_main .main_table h4{
	padding-top: 8px;
	height: 32px;
	background: url(../images/main_table_img2.jpg) no-repeat left;
	padding-left: 24px;
	font-size: 16px;
	font-weight: normal;

}
.home_main .main_table_left{
	padding-left: 16px;
	width: 475px;
	float: left;

}
.home_main .main_table_right{
	width: 475px;
	float: right;
	padding-right: 20px;
}
.home_main .main_table_lists{
color:#333
}
.home_main .main_table_lists li{
	height: 30px;
	line-height: 30px;
	border-bottom: dashed 1px #ccc; 
	 
}
.home_main .main_table_lists span{
	float: right;
}
.home_main .more{
	line-height: 75px;
	float: right;
}
.home_main .lest_table{
	margin-top: 12px;
}
.home_main .lest_table tr{
	border:none;
	text-align: center;
	padding-top: 16px;
	height: 42px;
}
.home_main .lest_table  tr{
	border-bottom: solid 1px #ccc;
}
.home_main .lest_table .dengji{
	text-align: center;
}


/* login_main */
.login_main{

}
.login_main .login_form{
	width: 960px;
	height: 612px;
	margin: 28px auto 20px;
	border:solid 1px #ccc;
	position: relative;
}
.login_main form{
	padding-left: 66px;
}
.login_main h2{
	margin-top: 90px;
	height: 55px;
	font-size: 18px;
	font-weight: normal;
}
.login_form p{
	height: 60px;
}
.login_form p span{
	font-size: 14px;
	padding-right: 20px;
}
.login_text,.login_pass{
	width: 240px;
	height: 36px;
	line-height: 36px;
}
.login_check{
	width: 60px;
	height: 36px;
	line-height: 36px;
}
.login_img{
	padding: 0 26px 0 16px;
}
.login_submit{
	display: block;
	padding: 36px 0 58px; 52px;
}
.forgetPass{
	color: #89BCF5;
}
.login_register{
	width: 290px;
	height: 276px;
	border-left: solid 1px #ccc;
	position: absolute;
	left: 556px;
	bottom: 162px;
}
.login_register p{
	padding-left: 130px;
	padding-top: 6px;
	height: 32px;
}
.login_register .login_btn{
	display: block;
	margin-left: 130px;
	height: 42px;
	width: 156px;
	background: url(../images/login_btn.jpg) no-repeat;
}

/* register_main */
.register_main{

}
.register_main .register_form{
	width: 960px;
	height: 760px;
	border: solid 1px #ccc;
	margin: 16px auto 12px;
}
.register_form h2{
	padding: 26px 0 0 28px;
	color: #0E87D6;
	height: 76px;
	font-size: 18px;
	font-weight: normal;
}
.register_nav{
	height: 52px;
	background:url(../images/register_bg1.jpg) no-repeat 28px center; 
	
}
.register_nav li{
	float: left;
	font-size: 20px;
	font-weight: bolder;
	
	color:#9A9A9A;
	line-height: 52px;
}
.register_nav li.space1{
	padding-left: 135px;
	color: #C9C9C9 ;
}
.register_nav li.space2{
	padding-left: 195px;
}
.register_nav li.space3{
	padding-left: 226px;
}
.register_form form{
	padding-top: 52px;
}
.register_form form p{
	height: 64px;
}
.register_form .require{
	width: 208px;
	display: inline-block;
}
.register_form .require b{
	font-weight: normal;
	float: right;
	padding-right: 18px;
	padding-left: 10px;
	background: url(../images/register_bg2.jpg) no-repeat left center;
}
.register_form .require b.no_bg{
	background: none;
}
.register_email,.register_name,.register_pass,.register_rec{
	width: 240px;
	height: 34px;
	border: solid 1px #ccc;
}
.register_check{
	width: 56px;
	height: 34px;
	border: solid 1px #ccc;
}
.register_form em{
	font-style: normal;
	color: #FF6600;
	padding-left: 10px;
}
.register_form form p a{
	color: #146EAD;
	text-decoration: underline;
	padding: 0 4px;
}
.register_form p.teshu{
	height: 34px;
}
.register_submit{
	padding-left:220px;
}

/* state_main */
.state_main{
	margin-top:20px;
}
.xw_main_state{width:980px;margin:0 auto;}
.state_main h2{
	line-height: 60px;
	font-size: 14px;
	font-weight: normal;
}
.state_project{ padding-top:0px;
}
.project_left{
	float: left;
	width: 632px;
	border:1px solid #ffc13c;
	height: 372px;
	overflow: hidden;
	border-radius:10px;
	background: white;
}
.project_left h3{
	padding:20px 34px 10px 22px;
	height: 36px;
	background: #ffc13c;
	font-size: 18px;
	font-weight: normal;
	width:576px;
	color:white;
}
.project_left h3 span{float:right;font-size: 15px;
	display:inline-block;
	padding-right: 5px;

}
.project_left h3 .tailuser{ position:relative;top:-5px;	padding-right: 30px;line-height:30px;}
.project_left h3 span img{ position:relative; top:-2px; margin-right:2px;}
.project_left h3 .tailuser a img{ position:absolute; top:-5px;}
.project_left p{
	padding-top: 20px;
	height: 20px;
	width:606px;
	margin:0 13px;
}
.project_left span{
	display: inline-block;
}
.red #loan_time{ color:#666;}
.project_left span.width1{
	width: 290px;
}
.project_left span.width2{
	width: 210px;
}
.project_left span.width3{ text-align:center;
}
.project_left li{
	height: 60px;
	width:606px;
	margin:0 13px;
	line-height: 60px;
	border-bottom:1px solid #D9D9D9;
}
.project_left  strong{
	font-size: 26px;
	color: #5F5F5F;
}
.project_left .state_progress{
	padding-left: 192px;
	background: url(../images/state_img4.jpg) no-repeat left center;
}
.project_right{
	float: right;
	width: 300px;
	border: solid 1px #5aa8fa;
	height: 372px;
	overflow: hidden;
	border-radius:10px;
	background: white;
}
.project_right h3{
	font-size: 20px;
	height: 36px;
	padding: 20px 16px 10px 10px;
	background:#5aa8fa;
	color:white;
}
.project_right h3 a{
	float: right;
	color: white;
	font-weight: normal;
	font-size: 14px;
}
.project_right form{
	margin: 0 10px;
}
.remind-infos .remain{
	position: relative;
}
.institution .remain a{
	display: block;
	width: 64px;
	height: 30px;
	background: url(../images/state_img1.jpg) no-repeat;
	position: absolute;
	top: 30px;
	right: 20px;
}
.project_right .remain{height: 84px;position: relative;}
.project_right .remain a{display: block;height: 30px;line-height:30px;position: absolute;top: 30px;right: 20px;}

.institution a.icon-gree-link{display: block;height: 30px;line-height:30px;position: absolute;top: -44px;right:0px;}
.icon-gree-link:hover {background: #58AE04;color: white;}
.project_right .remain span{
	display: block;
	padding-top: 18px;
	height: 22px;
}
.icon-gree-link {
display: inline-block;
background: #76BC31;
color: white;
padding: 1px 7px;
border-radius: 5px;
border: none;
cursor: pointer;
}

.project_right .remain strong{
	font-size: 24px;
}
.project_right .differ{
	padding-top: 20px;
	height: 40px;
	border-top: solid 1px #ccc;
}
.project_right .differ strong{
	font-size: 24px;
}
.state_text{
	height: 40px;
	width: 255px;
	color: #ccc;
	font-size:24px;
}
.project_right .money{
	margin-top:15px;
	height: 30px;
	line-height: 30px;

}
.project_right .money span{
	float: right;
}
.state_submit{
	background: #077BCE;
	font-size: 14px;
	display: block;
	width: 280px;
	height: 36px;
	text-align: center;
	color: #fff;
	line-height: 36px;
}
.state_submit:hover{
	color: #fff;
}
.state_info{
	margin:28px 0px 10px;
}
.state_info_nav{
	height: 40px;
	width:468px;
	position: relative;
	top: 1px;
	z-index: 1;
	background:url(/Style/H/images/0.png);
}
.state_info_nav li{
	float: left;
	width: 156px;
	height: 40px;
	text-align: center;
	line-height: 38px;
	font-size: 14px;
}

.state_info_nav li{
	height: 40px;
}
.state_info_nav li .invest-tab{display:block;width:100%;height:40px;}

.state_info_con{
	position:relative;
	top:1px;
	height: 440px;
	border:1px solid #fb5f58;
	padding: 20px 20px 0;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background: white;
}
.state_info_con h3{
	line-height: 35px;
	background: #EDF6FF;
	color: #83BEFA;
	border-bottom: solid 1px #DBE4E9; 
	font-size: 14px;
	padding-left: 20px;
	font-weight: normal;
}
.state_info_con ul{
	padding-bottom: 12px;
}
.state_info_con ul.state_person{
	padding-bottom: 12px;
	padding-top: 12px;
}
.state_info_con li{
	height: 30px;
}
.state_info_con li#display2{
	height:auto;
}
.state_info_con span{
	display: inline-block;
}
.state_info_con span.width1{
	width: 190px;
}
.state_info_con span.width2{
	width: 184px;
}
.state_info_con span.width3{
	width: 190px;
}
.state_info_con span.width4{
	width: 188px;
}
.bidbox {
float: left;
width: 660px;
padding-right: 20px;
}
.bid {
display: block;
float: left;
margin: 0px;
width: 660px;
border-collapse: collapse;
border-top: 2px solid white;
border-left: 2px solid white;
}
.bid tr {
margin: 0px;
width: 660px;
height: 40px;
line-height: 40px;
vertical-align: middle;
float: left;
}
.bid thead tr th {
display: block;
float: left;
background-color: #3BAFDA;
border-right: 2px solid white;
border-bottom: 2px solid white;
text-align: center;
font-size: 16px;
color: white;
}
.bid td {
border-right: 2px solid white;
border-bottom: 2px solid white;
margin: 0px;
display: block;
float: left;
}
.totalAmount {
background-color: #F1F9FF;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
width: 237px;
padding: 20px 0px 20px 20px;
}
.fn-clear {
zoom: 1;
}
.posa {
position: absolute;
z-index: 100;
top: 20px;
left: 701px;
}
.f16 {
font-size: 16px;
}
.f24 {
font-size: 24px; line-height:1.5em;
}
.mt20 {
margin-top: 20px;
}
.pr30 {
padding-right: 30px;
}
.txtRight {
text-align: right;
}
/* list_main */
.list_main{

}
.list_account h2{
	padding-top: 24px;
	height: 26px;
	font-size: 14px;
	font-weight: normal;
}
.list_account_left{
	float: left;
	width: 630px;
	height: 214px;
	padding-left: 16px;
	border: solid 1px #ccc;
	overflow: hidden;
}
.list_account_left h3{
	padding-top: 16px;
	font-size: 18px;
	height: 45px;
	font-weight: normal;
}
.list_account_left dt{
	float: left;
	width: 88px;
	height: 38px;
}
.list_account_left dd{
	float: left;
	width: 500px;
	height: 38px;
}
.list_account_left .list_classify span{
	display: inline-block;
	height: 20px;
	width: 72px;
	line-height: 20px;
	text-align: center;
}
.list_account_left .list_classify span.active{
	background: url(../images/list_bg1.jpg) no-repeat;
	color: #fff;
}
.list_account_left .list_rank span{
	padding: 0 16px 0 8px;
}
.list_account_left .list_form{
	padding-left: 8px;
	position: relative;
	_top: -10px;
}
.list_account_left .list_text{
	height: 20px;
	width: 150px;
	margin: 0 12px 0 8px;
}
.list_account_left .list_form .list_submit{
	position: absolute;

}
.list_account_right{
	float: right;
	width: 300px;
	padding-left: 16px;
	height: 214px;
	border: solid 1px #ccc;
}
.list_account_right h3{
	font-size: 18px;
	padding-top: 16px;
	height: 36px;
	font-weight: normal;
}
.list_account_right h3 a{
	float: right;
	color: #333;
	margin-right: 22px;
	font-size: 12px;
}
.list_account_right li{
	height: 26px;
	margin-bottom: 4px;
	line-height: 26px;
}
.list_account_right li span{
	display: inline-block;
	font-size: 14px;
	font-weight: 200;
	margin-right: 34px;
}
.list_account_right li span.no_completed{
	margin-right: 0;
	color: #fff;
	width: 64px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: url(../images/list_bg2.jpg) no-repeat;
}
.list_table{
	border: solid 1px #ccc; 
	height: 772px;
	margin-top: 16px;
	width:980px;
	margin: 0 auto;
	margin-top:20px;
}
.list_table .list_title h3{
	height: 56px;
	background: url(../images/main_table_img1.jpg) no-repeat left;
	font-size: 24px;
	padding-left: 50px;
	padding-top: 12px;
	color: #fff;
	z-index: 10;
	float: left;
	width: 144px;
}
.xw_list_h3{
	position:relative;left:-18px;top:11px;
}
.list_table .list_title span{
	float: left;
	width: 84px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	color: #fff;
	display: block;
	margin-top: 20px;
	background: url(../images/list_bg3.jpg) no-repeat;
	margin-left:2px;
}
.list_table .list_title a{
	color: #333;
	float: left;
	margin-top: 20px;
	margin-left: 202px;
}
.list_table table{
	width:980px;
}
.list_table tr{
	padding-top: 8px;
	height: 44px;
	border-bottom: solid 1px #ccc;
	width:980px;
}
.list_table .list_tablehead{
	height: 28px;
	border:solid 1px #ccc;
	background: #F4F4F4;
	margin: 0 auto;
	width:980px;
}
.list_table .list_tablehead th.text_center{
	text-align: center;
}
.list_table .list_bid{
	width: 64px;
	text-align: center;
	line-height: 24px;
	color: #fff;
	background: url(../images/list_bg4.jpg) no-repeat;
	display: inline-block;
}
.list_pagination{
	float: right;
	padding-top: 20px;
	height: 42px;
	position:relative;
	top:0px;
	right:424px;
}
.list_pagination li{
	float: left;
	margin-right: 10px;
}
.list_pagination li.list_prev{
	height: 28px;
	width: 74px;
	background: url(../images/list_img4.jpg) no-repeat;
}
.list_pagination li.list_next{
	height: 28px;
	width: 74px;
	background: url(../images/list_img5.jpg) no-repeat;
	margin-right: 0;
}
.list_pagination li a{
	display: block;
	width: 28px;
	height: 28px;
	background: url(../images/list_bg6.jpg) no-repeat;
	text-align: center;
	line-height: 28px;
	color: #666;
}
.list_pagination li a.active{
	background: url(../images/list_bg5.jpg) no-repeat;
	color: #fff;
}

/*新风格 填写金额窗口*/
.ajax-invest{ width:360px; height:auto; float:left; margin:40px;}
.ajax-invest .item{ width:100%; height:auto; float:left;}
.ajax-invest .item li{ width:100%; height:auto; float:left; margin-bottom:20px;}
.ajax-invest .item li h6{ width:100px; height:30px; line-height:30px; text-align:center; float:left;}
.ajax-invest .item li input{ width:200px; height:30px; line-height:30px; float:left; border:1px solid #CBCBCB; padding:0 3px; border-radius:3px;}
.ajax-invest .item li div{ width:100%; height:40px; float:left; margin:30px 0 0; _display:none;}
.ajax-invest .item li a{ width:auto; height:40px; line-height:40px; color:#fff; float:left; padding:0 20px; background:#067BCE; border-radius:5px;}
.ajax-invest .item li a.center{ margin-left:110px;}
.ajax-invest .item li div a.center{ margin-left:135px;}
.ajax-invest .item li a:hover{ background:#128BDE;}

/*新风格 确认投标窗口*/
.jbox-custom{ width:400px; height:100px; float:left; margin:40px;}
.jbox-custom p{ width:400px; height:72px; line-height:24px; float:left;}
.jbox-custom .jbox-custom-button{ width:400px; height:30px; float:left;}
.jbox-custom .jbox-custom-button span{ width:100px; line-height:30px; height:30px; text-align:center; color:#fff; float:right; margin:0 30px 0 0; background:#067BCE; border-radius:5px;}
.jbox-custom .jbox-custom-button span:hover{ background:#128bde; cursor:pointer;}

/*新风格 我要投标*/
.jx_end{ height:30px; line-height:30px; padding-top:20px; border-top:1px solid #ccc;}
.jx_notice{ width:100%; height:24px; line-height:24px; color:#C13939; text-indent:24px;}
.jx_error{ background:url(../images/jx_icon_error.png) no-repeat left center;}
.jx_success{ background:url(../images/jx_icon_success.png) no-repeat left center; color:#56AC0B;}
.jx_input input{ width:272px; height:40px; font-size:18px; line-height:40px; border:1px solid #ddd; padding:0 3px;}
.jx_desc{ width:100%; height:35px; line-height:35px;}
.jx_desc span{ float:right;}
.jx_payment{ width:280px; height:35px; line-height:35px; font-size:18px; text-align:center; color:#fff; float:left; margin-top:10px; background:#5aa8fa;border-radius:10px; cursor:pointer;}
.jx_input_disabled{ background:#fff;}
.jx_payment_disabled{ background:gray;}