@charset "utf-8";
.money {
	font-size:14px;
	color: #ef444c;
	font-weight: bold;
}

.mLeft {
	float: left;
	width: 230px;border-right: 1px solid #dadada;
}
.mRight {
	float: left;margin-left:20px;
	width:926px;
}

.block {
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
}

.mMenu {
  overflow: hidden;
}
.mMenu dl {
	margin-bottom: 1px;
}
.mMenu dl dt {
	color: #323232;
    font-size: 16px;
    padding-left: 60px;
    line-height: 50px;
	background:#e6e6e6 url(../images/member.png) no-repeat;
}
.mMenu .aci_1{background-position:10px -101px;}
.mMenu .aci_2{background-position:10px -159px;}
.mMenu .aci_3{background-position:10px -214px;}
.mMenu dl dd {
	line-height: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.mMenu dl dd a {
	display: block;
	text-align: center;
	color: #999;
	font-size: 14px;
}
.mMenu dl dd a:hover,.mMenu dl dd a.curr {
	background-color:#75c0ea;color:#fff;
}

.mTabs {
  background:#e6e6e6;
	margin-bottom: 20px;overflow:hidden;
}
.mTabs li {
	float: left;
	line-height:50px;
}
.mTabs li a {
  display: block;
  padding:0 40px;
  font-size: 15px;color:#3b3c3c;
}
.mTabs li a:hover,.mTabs li a.curr {
	background: #fff;
    color: #14a2e3;
    border-top: 2px solid #14a2e3;
}

.mSearch {
	border: 1px solid #e6e6e6;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 20px;
}
.mSearch .do {
	float: right;
}
.mSearch input.text {
	border: 1px solid #e4e4e4;
	border-radius: 5px;
	padding: 8px;
}

.mBox {
  background: #fff;
  padding:10px;
}
.mBox .title {
  font-size: 20px;
    font-weight: bold;
    color: #333;
    border-left: 3px solid #14a2e3;
    padding-left: 10px;
    line-height: 28px;margin:20px 0;
}
.mBox .title h3 {

}
.mBox .title .back {
	float: right;
}
.mBox .body {
	min-height: 500px;margin-top:30px;
}

.mSafe {
}
.mSafe table {
	width: 100%;
}
.mSafe table td {
	padding: 10px;
}
.mSafe .items li {
  line-height: 58px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-bottom: 10px;overflow:hidden;
}
.mSafe .items li span {font-size:14px;
	display: inline-block;float:left;
}
.mSafe .items li .name {
	width: 96px;
	font-weight: bold;
}
.mSafe .items li .summary {
	width:430px;line-height:28px; padding-top:15px; text-align:left; margin:0px 15px;
}
.mSafe .items li .action {
	float: right; margin-right:10px;
}

.mSafe .levels {
	margin-bottom: 20px;
}
.mSafe .levels strong {
	font-size: 14px;
	color: #666;
	float: left
}

.mSafe .levels .level-row {
	margin-left: 10px;
	float: left;
	width: 230px;
	padding-top: 6px
}
.mSafe .levels .level-row span {
	display: block;
	float: left;
	width: 30px;
	height: 11px;
	overflow: hidden;
	background-color: #e4e9ed;
	margin-right: 1px
}
.mSafe .levels .level-row .level-left-radius {
	border-radius: 20px 0 0 20px;
}
.mSafe .levels .level-row .level-right-radius {
	border-radius: 0 20px 20px 0;
}

.mSafe .levels .level-row .security-low {
	background-color: #ff8679
}
.mSafe .levels .level-row .security-middle {
	background-color: #f6ab00
}
.mSafe .levels .level-row .security-high {
	background-color: #8ec31f
}


table.list {
	width: 100%;
	border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
}

table.list td {
padding: 10px 5px;
border-right: 1px solid #dedede;
border-bottom: 1px solid #dedede;text-align:center;
}
table.list th {
	background: url(../images/block_bg.png) repeat;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  font-weight: bold;
    border-right: 1px solid #dedede;
border-bottom: 1px solid #dedede;
    padding: 5px;
}

table.list tr.space {
	background: #f9f9f9;
}
table.list tr.hover {
	background: #f9f9f9;
}

.pager {
	margin-top:30px;
	margin-bottom: 20px;
	text-align: center;
}
.pager a {
	padding: 5px 10px;
  background: #c9c9c9;
  color: #666;
  border-radius: 2px;
  margin: 0px 2px;
}
.pager .count {
	padding: 4px 10px;
	background: #c9c9c9;
	font-size: 14px;
	color: #666;
	cursor: pointer;margin-right:5px;
}
.pager .number span {
	padding: 4px 10px;
	background: #c9c9c9;
	font-size: 14px;
	color: #666;
	cursor: pointer;
}
.pager .number span.curr{background:#14a2e3;color:#fff;}
table.form {
	width: 100%;
	border-top: 1px solid #f3f3f3;
	border-left: 1px solid #f3f3f3;
}
table.form th,table.form td {
	padding: 10px;
	border-right: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
}
table.form th {
	text-align: right;
	font-weight: bold;
}
table.form td {
}
table.form .text,table.form .textInput {
	padding: 10px 5px;
	border: 1px solid #e4e4e4;
	width: 200px;
	  border-radius: 5px;
}

table.form textarea {
	width: 500px !important;
	height: 150px;
}
table.form select {
	border: 1px solid #f0f0f0;
	padding: 8px 5px;
	min-width: 150px;
	  border-radius: 5px;
}

table.form .text:FOCUS,table.form select:FOCUS {
	border: 1px solid #D43B36;
}

table.form td.action {
	padding-top: 40px;
	padding-bottom: 40px;text-align:center;
}
table.form td.action a.btn {
	padding: 8px 80px;
	font-size: 16px;
}
table.form span.tip,table.form span.note {
	display:inline-block;
	color: #999;
}
table.form span.msgtip {
	color: red;
	margin-left: 10px;
}
table.form th.group {
	background: url(../images/block_bg.png) repeat;
height: 20px;
  line-height: 20px;
	font-size: 15px;
	text-align: center;
}


.quickNav {
	  margin-bottom: 20px;overflow:hidden;
}
.quickNav li {
	float: right;
	margin-left:10px;
}
.quickNav li a {
background:#ff6600;
  padding: 8px 15px;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;display:inline-block;
}
.tipMsg {
	font-size: 16px;
	color: red;
	margin-bottom: 20px;
}


.mMain {
	background: #fff;
	border: 1px solid #f1f1f1;
	padding: 20px;
}
.mMain .c1 {
	float: left;
}
.mMain .c2 {
	float: right;
}


.commonTip {
  color: #454545;
  font-size:14px;
  padding: 10px 0;
  line-height:30px;
  margin-bottom: 30px;
}
.commonTip h3 {
	font-weight: bold;font-size:16px;
}
.spread_list{overflow:hidden;line-height:30px;margin-bottom:40px;}
.spread_box{width:800px;float:right;}
.spread_list .fl p{font-weight:bold;color:#38a9dd;font-size:18px;}
.spread_box a b{font-weight:bold;font-size:16px;color:#38a9dd;}
.spread_box a.copy{display:inline-block;width:120px;height:42px;line-height:42px;text-align:center;color:#fff;background:#38a9dd;border-radius:4px;margin-left:20px;}
.spreadBox{padding:20px 24px;border:1px dashed #ccc;}
.spreadBox p{color:#161616;font-weight:bold;}
.spreadBox h2{font-size:16px;font-weight:bold;color:#38a9dd;}
.spreadBox h2 input{width:64%;height:40px;border:none;line-height:40px;font-size:16px;font-weight:bold;color:#38a9dd;}

.warringTip {
  background: #FFE7E2;
  border: 1px solid #ef444c;
  border-radius: 5px;
  color: #454545;
  font-size: 16px;
  padding: 10px 20px;
  line-height: 28px;
  margin-bottom: 30px;
}
.warringTip h3 {
	font-weight: bold;
}

.cardList {
	  margin-left: -20px;
}
.cardList li {
  background: #14a2e3;
  width: 300px;
  height: 180px;
  color: #fff;
  float: left;
  border-radius: 20px;
  margin-left: 20px;
  position: relative;
}
.cardList li span {
	display: block;
	position: absolute;
}
.cardList li span.cardno {
	font-weight: bold;
	font-size: 20px;
	top: 25px;
  	left: 25px;
}
.cardList li span.actname {
	top: 64px;
  	left: 25px;
  	font-size: 20px;
}
.cardList li span.bankname {
	top:124px;
  	left: 25px;
  	font-size: 20px;
}
.cardList li a.delete {
	position: absolute;
	right: 6px;
	top: 6px;
	display: block;
	width: 30px;
	height: 30px;
	background:url(../images/cuo.png);
}
.name1,.name2,.name3,.name4,.name5,.name6{ padding-left:50px; font-weight:bold;}
.items .name1{background:url(../images/safe1.png) no-repeat center left;}
.items .name2{background:url(../images/safe5.png) no-repeat center left;}
.items .name3{background:url(../images/safe2.png) no-repeat center left;}
.items .name4{background:url(../images/safe4.png) no-repeat center left;}
.items .name5{background:url(../images/safe3.png) no-repeat center left;}
.items .name6{background:url(../images/safe6.png) no-repeat center left;}

.home .tag{width:100%;position:relative;top:1px;overflow:hidden;}
.home .tag li{float:left;font-size:14px;width:70px;margin-right:5px;line-height:36px; font-weight:bold; 
 text-indent:5px;}
.home .tag li a{color:#000;}
.home .list{background:#fff;overflow:hidden; margin-bottom:18px;font-size:12px;}
.home .list table{ background-color:#FAFAFA;}
.home .list em{ color:#ef444c;}
.home .list .zzc{color:#ef444c; font-size:20px; font-weight:bold;}
.home .list .last a {padding: 6px 34px;background:#ef444c;color: #fff;border-radius: 3px;font-size: 16px;}
.home .list .last a:hover{ background-color:#b30000;}
.home .list .tou{height:30px;line-height:30px;background:#FAFAFA;margin-top:10px;width:100%;}
.home .list .tou li{ width:152px; text-align:center; float:left;}

.home .group {
	  margin-bottom: 20px;
}
.row {
	  height: 40px;
  line-height: 40px;
  font-size: 15px;
}
.row a{
	padding-left:30px;
	margin-left:10px;
}
.row .style1-a2{
    background:url(../images/cert1.png) no-repeat 7px 2px
}
.row .style2-a2{
    background:url(../images/cert2.png) no-repeat 0px 4px
}
.row .style3-a2{
    background:url(../images/cert3.png) no-repeat 0px 2px
}
.row .style1-a1{
    background:url(../images/cert1.png) no-repeat 6px -18px
}
.row .style2-a1{
    background:url(../images/cert2.png) no-repeat -6px -17px
}
.row .style3-a1{
    background:url(../images/cert3.png) no-repeat 0px -16px
}

.home .group .area p.row.op a {
	  padding: 5px 50px; 
}
.home .group .area p.row .zzc {
	color: #ef444c;
  font-size: 20px;
  font-weight: bold;
}
.home .accountInfo table {
	width: 100%;
	font-size: 15px;
}
.home .accountInfo table td {
	padding: 10px;
}
.body_data{margin-bottom:30px;padding: 10px 0px 20px 0px;border-bottom:1px dashed #ededed;overflow: hidden;}
.body_tx{display:block;width:75px;height:75px;padding:2px;border:1px solid #ededed;margin-right:15px;position:relative;}
.body_tx img{width:75px;height:75px;}
.body_tx a{display: inline-block;font-size:12px;background:#dedede;color:#333;position:absolute;bottom:2px;left:2px;width:75px;text-align:center;line-height:20pxï¼›}

.acbox1{text-align:center;padding-top:20px;overflow:hidden;font-size:18px;color:#181818;}
.acbox1 img{width:100px;height:100px;}
.acbox1 ul{height:60px;margin-top:25px;}
.acbox1 li{float:left;width:89px;padding-left:25px;font-size:16px;color:#353434;}
.acbox1 li,.acbox2 h2,.acbtnclosed{background:url(../images/member.png) no-repeat;}
.acbox1 li a{color:#353434}
.acbox1 li a em{color:#14a2e3;display:block;font-weight:bold;padding-top:9px;}
.acbox1 .hongbao{background-position:0px -2px;border-right:1px solid #ddd;}
.acbox1 .messages{background-position:0px -63px;}
.mem_auth{display: block;
    position: relative;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid #ddd;}
.mem_auth a.rep_auth{font-size: 12px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
    background-color:#ededed;
    line-height: 20px;}
.chooseBtn{font-size: 12px;
    border: 1px solid #dedede;
    display: inline-block;
    padding: 3px;
    background-color: #f7f7f7;border-radius:3px;}
.saveBtn{display: block;
    width: 120px;
    margin: 10px auto;
    font-size: 14px;
    background-color: #ffa200;
    color: #fff;
    line-height: 24px;}

.overview{width:100%;height:190px;background:#f9f9f9;overflow:hidden;}
.overbox{margin:20px 0 10px;width:244px;border-right:1px solid #ddd;float:left;line-height:25px;font-size:16px;color:#332323;padding-left:36px;}
.overbox h1{font-size:20px;font-weight:bold;color:#ef444c;line-height:30px;}
.overcon{margin-bottom: 10px;}
.overbox .sta_tip{float: none;
    margin-left: 5px;
    margin-top: 0px;
    vertical-align: middle;}
.overbtn{margin:20px 59px 20px 0px;}
.overbtn a{display:block;width:110px;height:42px;border-radius:5px;text-align:center;color:#fff;line-height:42px;background:#ffa200;font-size:16px;font-weight:bold;}
.overbtn a.top-up{background:#38a9dd;margin:10px 0px 20px 0;}

.group h3{font-size:16px;line-height:60px;font-weight:bold;}

.statisBox{}
.statisBox h4{font-size:16px;height:40px;line-height:40px;background:#eaeaea;color:#000;text-indent:10px;font-weight:bold;}
.statisBox table{width:100%;border:none;margin:10px 0px;}
.statisBox table tr th,.statisBox table tr td{line-height:30px;text-align:left;text-indent:5px;}

.app_btn{display:inline-block;width:86px;height:30px;text-align:center;line-height:30px;border:1px solid #14a2e3;color:#14a2e3;}
.app_dis{border:1px solid #a5a5a5;color:#a5a5a5;}

.sta_tip{display:inline-block;width:16px;height:16px;background:url(../images/sta_tip.png) no-repeat;float:left;margin-top:6px;cursor:pointer;}

.clearfloat
{
	clear:both;
}
.tyj-box
{
	
}
.tyj-box > span
{
	padding-left: 36px;
	color: #332323;
    font-size: 16px;
    float:left;
}
.tyj-box > strong
{
	color: #ef444c;
    font-size: 20px;
	float:left;
	margin-top:-3px;
	margin-left:10px;
}