@charset "utf-8";
/* CSS Document */

/*全局样式---------------------------------------------*/
section, article, aside, header, footer, nav, figure { display: block; }
body, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, figure { margin: 0; padding: 0; }
body, button, input, select, textarea { font: 12px/1.5 arial; }
h1, h2, h3, h4, h5, h6, button, input, select, textarea { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp { font-family: courier new, courier, monospace; }
p, ul, li, dl, dd, dt, form, h1, h2, h3, h4, h5, h6 { list-style: none; }
a { color: #666; text-decoration: none; cursor: pointer; }
a:hover { color: #0089CD; text-decoration: none; }
fieldset, img { border: 0; }
table { border-collapse: collapse; border-spacing: 0; }
input::-moz-focus-inner, button::-moz-focus-inner {
border:0;
padding:0;
outline:0;
}
.clear { clear: both; font-size: 0px; height: 0px; overflow: hidden; }
/* Clear Fix */ 
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
/* Hide from IE Mac */ 
.clearfix { display: block; }
/* End hide from IE Mac */ 
/* end of clearfix */ 

/*全局样式end---------------------------------------------*/

/*通用样式------------------------------------------------------------------------------------------*/
body { font-size: 14px; font-family: "Microsoft YaHei"; color: #333 }
.nfull { width: 100%; }
.nwrap { margin: 0 auto; width: 980px; text-align: left; }
.left { float: left; }
.right { float: right; }
.red { color: #F00; }
.red:hover { color: #F60; }
.red a { color: #F00; }
.red a:hover { color: #F60; }
.orange { color: #F60; }
.orange:hover { color: #F00; }
.orange a { color: #F00; }
.orange a:hover { color: #F00; }
.gray { color: #666; }
.gray:hover { color: #F60; }
.gray a { color: #666; }
.gray a:hover { color: #F60; }
.blue { color: #1E7BB3; }
.blue:hover { color: #F60; }
.blue a { color: #1E7BB3; }
.blue a:hover { color: #F60; }
.font18 { font-size: 18px; }
.pad20 { padding: 20px; }
.marL10 { margin-left: 10px; }
.marT10 { margin-top: 10px; }
.marT20 { margin-top: 20px; }
.line5 { clear: both; font-size: 0px; height: 5px; overflow: hidden; }
.line10 { clear: both; font-size: 0px; height: 10px; overflow: hidden; }
.line15 { clear: both; font-size: 0px; height: 15px; overflow: hidden; }
.line20 { clear: both; font-size: 0px; height: 20px; overflow: hidden; }
.line30 { clear: both; font-size: 0px; height: 30px; overflow: hidden; }
.line100 { clear: both; font-size: 0px; height: 1px; overflow: hidden; width: 100%; border-bottom: 1px solid #e5e5e5; }
.posr { position: relative }
.posa { position: absolute }
/*通用样式end------------------------------------------------------------------------------------------*/

.nTopBar { height: 50px; line-height: 50px; position: relative }
.nTel { font-size: 18px; }
.nTqq { width: 20px; height: 21px; display: block; background-image: url(../images/nTQQ.png); background-repeat: no-repeat; background-position: left top; position: absolute; left: 380px; top: 15px; }
.nTqq:hover { background-position: left -21px; }
.nTwx { width: 20px; height: 17px; display: block; background-image: url(../images/nTwx.png); background-repeat: no-repeat; background-position: left top; position: absolute; left: 420px; top: 18px; }
.nTwx:hover { background-position: left -17px; }
.nnMainNavbox { margin-bottom: 15px }
.nlogo { width: 298px; height: 52px; display: block; background: url(../images/logo.png) no-repeat; margin-top: 15px; }
.nMainNav { margin-top: 30px; }
.nMainNav a { font-size: 16px; padding: 0 5px; }
.nMainBanner { height: 425px; }
.nRegBox { filter: alpha(opacity=70); /*支持 IE 浏览器*/ -moz-opacity: 0.70; /*支持 FireFox 浏览器*/ opacity: 0.70; /*支持 Chrome, Opera, Safari 等浏览器*/ position: absolute; width: 320px; height: 330px; background-color: #fff; background-image: url(../images/regCB.png); background-position: right top; background-repeat: no-repeat; right: 10px; top: -345px; text-align: center; z-index: 99; }
.nRegRow1 { color: #16b4dd; font-size: 16px; margin-top: 30px; }
.nRegRow2 { font-size: 60px; color: #F60; }
.nRegRow2 em { font-style: normal; font-size: 32px; }
.nRegRow3 { font-size: 18px; margin-top: 10px; }
.nRegRow4 { }
.nRegRow4 a { display: block; width: 255px; height: 38px; text-align: center; font-size: 22px; line-height: 38px; background-color: #F60; color: #fff; margin-left: 35px; margin-top: 20px; }
.nRegRow4 a:hover { background-color: #333; }
.nRegRow5 { color: #666; margin-top: 15px; }
.nRegRow5 a { color: #333; }
.nRegRow5 a:hover { color: #16b4dd }
.ntongji { background-color: #1682dd; padding: 15px 0 20px; }
.ntongji span { background-image: url(../images/tjbtn.png); background-repeat: no-repeat; width: 245px; display: block; float: left; height: 45px; color: #fff; padding-left: 80px; text-align: center; }
.ntongji span em { font-size: 24px; }
.ntongji span em:hover { color: #f60 }
.ntongji span.tjbt1 { background-position: 80px top }
.ntongji span.tjbt2 { background-position: 80px -51px; }
.ntongji span.tjbt3 { background-position: 80px -95px; }
/*活动滚动公告栏*/
.ngonggaobox { }
.ngonggaobox img { margin: 1px 0 -2px; }
.ngonggaobox a { line-height: 50px; }
/*活动滚动公告栏end*/
div.nrowbox { }
.nadbox { margin-top: 20px; margin-bottom: 20px; }
.nptggbox { margin-top: 20px; margin-bottom: 20px; }
.tit_ptgg { border-bottom: 1px solid #ccc; width: 350px; height: 30px; line-height: 30px; font-size: 16px; }
.tit_ptgg a { font-size: 12px; }
.nptggbox ul { margin-top: 10px; }
.nptggbox li a { width: 250px; display: inline-block; line-height: 30px; }
.nptggbox li span { font-size: 12px; color: #666; display: inline-block; float: right; }
.xmlist { margin-top: 15px; }
.xmlistTit { font-size: 24px; border-bottom: 1px solid #ccc }
.xmlistTit span { font-size: 12px; padding-left: 30px; }
.xmlistItembox { margin-top: 20px; text-align: center; line-height: 26px; }
.xmlistItembox li { width: 220px; float: left; margin-left: 10px; margin-bottom: 10px; padding: 5px 5px 0; border: 1px solid #ccc; }
.xmlistItembox .xmlistItem-r1 { background: url(../images/icon_jiang.png) no-repeat 10px top; margin-bottom: 15px; }
.xmlistItembox .xmlistItem-r1 em { font-size: 20px; color: #F00 }
/*haifeng*/  
.xmlistItembox .xmlistItem-r11 { margin-bottom: 15px; }
.xmlistItembox .xmlistItem-r11 em { font-size: 20px; color: #F00 }
.zc_one { margin-top: 20px; text-align: center; line-height: 26px; }
.zc_one li { width: 690px; float: left; margin-left: 10px; margin-bottom: 10px; padding: 5px 5px 0; }
.zc_one .zc_one-r1 { float: left; margin-top: 4px; margin-bottom: 8px; }
.zc_one .zc_one-r1 em { font-size: 20px; color: #F00 }
.zc_one .xmlistItem-r6 { width: 350px; height: 30px; margin: 10px auto; float: right; text-align: center; }
.zc_one .xmlistItem-r6 a.a1 { display: block; width: 250px; height: 30px; color: #fff; background-color: #00a8ff; line-height: 30px; font-size: 18px }
.zc_one .xmlistItem-r6 a.a2 { display: block; width: 250px; height: 30px; color: #fff; background-color: #9ACD32; line-height: 30px; font-size: 18px }
.zc_one .xmlistItem-r3 { margin: 5px auto; }
.zc_one .xmlistItem-r4 { color: #00a8ff; font-size: 16px; margin: 10px auto; }
.zc_one-r5 { margin-top: 15px; }
.zc_one-r5-c1 { border-right: 1px solid #ccc; width: 110px; }
.zc_one-r5-c1 .font-numStyle01 { font-size: 16px; color: #f60; }
.zc_one-r5-c1 .font-numStyle01 em { font-size: 12px; font-style: normal; }
.xmlistItem-r5-c2 .font-numStyle02 { font-size: 18px; color: #333; }
.zc_one .xmlistItem-r6 { width: 250px; height: 20px; padding-right: 70px; }
.zc_one .xmlistItem-r6 a.a1 { display: block; width: 250px; height: 50px; color: #fff; background-color: #00a8ff; line-height: 50px; font-size: 18px }
.zc_one .xmlistItem-r6 a.a2 { display: block; width: 250px; height: 50px; color: #fff; background-color: #f60; line-height: 50px; font-size: 18px }
/*haifeng*/ 
.xmlistItembox .xmlistItem-r3 { margin: 10px auto; }
.xmlistItembox .xmlistItem-r4 { color: #00a8ff; font-size: 16px; margin: 10px auto; }
.xmlistItem-r5 { margin-top: 15px; }
.xmlistItem-r5-c1 { border-right: 1px solid #ccc; width: 110px; }
.xmlistItem-r5-c1 .font-numStyle01 { font-size: 16px; color: #f60; }
.xmlistItem-r5-c1 .font-numStyle01 em { font-size: 12px; font-style: normal; }
.xmlistItem-r5-c2 .font-numStyle02 { font-size: 18px; color: #333; }
.xmlistItembox .xmlistItem-r6 { margin: 10px auto; text-align: center; }
.xmlistItembox .xmlistItem-r6 a.a1 { display: block; width: 220px; height: 50px; color: #fff; background-color: #00a8ff; line-height: 50px; font-size: 18px }
.xmlistItembox .xmlistItem-r6 a.a2 { display: block; width: 220px; height: 50px; color: #fff; background-color: #f60; line-height: 50px; font-size: 18px }
.nnewslistbox { margin-top: 20px; }
.nnewlist-tit { border-bottom: 1px solid #ccc; width: 300px; height: 30px; line-height: 30px; font-size: 16px; }
.nnewlist-tit a { float: right; font-size: 12px; color: #3eb3ff }
.nnewslist { width: 300px; float: left; margin: 0 13px; }
.nnewslist dl { margin-top: 15px; }
.nnewslist dt { margin: 10px 0; }
.nnewslist dd { line-height: 25px; background: url(../images/dot.gif) no-repeat left 12px; text-indent: 15px; }
.nnewslist dd span { float: right; font-size: 12px; color: #999 }
.nbnav, .nbnav a { line-height: 30px }
.nfooter { background-color: #e5e5e5; padding: 20px 0; }
.nfooter dl { float: left; width: 120px; }
.nfooter dl dt { font-size: 16px; margin-bottom: 10px; }
.nfooterright { float: right }
.Coop { width: 980px;/*  height:156px; */ border: 1px solid #ccc; margin: auto; margin-top: 20px; clear: both; overflow: hidden; }
.Coop01 { width: 980px; height: 46px; border-bottom: 1px dotted #ccc; background: #f2f2f2; }
.Coop01 h2 { float: left; font-size: 18px; line-height: 46px; text-indent: 10px; }
.Coop01 span { float: right; margin-right: 6px; line-height: 46px; }
.Coop01 span a { color: #555; }
.Coop02 ul { width: 980px;/*  height:108px; */ background: #fafafa; }
.Coop02 ul li { float: left; margin: 10px 0px 10px 14px; }
/*合作机构以及新闻公告样式表结束*/
.footer_top { width: 100%; height: 40px; border-top: 1px solid #ccc; margin-top: 20px; background: #fafafa }
.footer_top_m { width: 980px; height: 40px; margin: 0 auto; }
.footer_top_m ul li { float: left; font-size: 14px; margin-left: 10px; line-height: 40px; }
.footer_top_m ul li a { color: #555; line-height: 40px; }
.footer_top_m ul li span { margin-left: 10px; }
.footer { width: 100%; background: #5a5a5a; }
.footer_m { width: 980px; height: 274px; margin: 0 auto; border: 1px solid red; }
.ui-progressbar-mid2-100 { background-position: -12273px 0; }
.ui-list-field { height: 100px; line-height: 100px; }
.ui-progressbar-mid2 { margin: 0px auto }
.ui-progressbar-mid2 { display: block; width: 100px; height: 100px; line-height: 100px; font-size: 18px; text-align: center; background: url(../images/progressbar_mid2.png) }
.ui-progressbar-mid2 em { font-size: 18px; color: #0697DA; }
.ui-progressbar-mid2-0 { background-position: 0 0 }
.ui-progressbar-mid2-1 { background-position: -100px 0 }
.ui-progressbar-mid2-2 { background-position: -108px 0 }
.ui-progressbar-mid2-3 { background-position: -162px 0 }
.ui-progressbar-mid2-4 { background-position: -216px 0 }
.ui-progressbar-mid2-5 { background-position: -270px 0 }
.ui-progressbar-mid2-6 { background-position: -324px 0 }
.ui-progressbar-mid2-7 { background-position: -378px 0 }
.ui-progressbar-mid2-8 { background-position: -432px 0 }
.ui-progressbar-mid2-9 { background-position: -486px 0 }
.ui-progressbar-mid2-10 { background-position: -540px 0 }
.ui-progressbar-mid2-11 { background-position: -594px 0 }
.ui-progressbar-mid2-12 { background-position: -648px 0 }
.ui-progressbar-mid2-13 { background-position: -702px 0 }
.ui-progressbar-mid2-14 { background-position: -756px 0 }
.ui-progressbar-mid2-15 { background-position: -810px 0 }
.ui-progressbar-mid2-16 { background-position: -864px 0 }
.ui-progressbar-mid2-17 { background-position: -918px 0 }
.ui-progressbar-mid2-18 { background-position: -972px 0 }
.ui-progressbar-mid2-19 { background-position: -1026px 0 }
.ui-progressbar-mid2-20 { background-position: -1080px 0 }
.ui-progressbar-mid2-21 { background-position: -1134px 0 }
.ui-progressbar-mid2-22 { background-position: -1188px 0 }
.ui-progressbar-mid2-23 { background-position: -1242px 0 }
.ui-progressbar-mid2-24 { background-position: -1296px 0 }
.ui-progressbar-mid2-25 { background-position: -1350px 0 }
.ui-progressbar-mid2-26 { background-position: -1404px 0 }
.ui-progressbar-mid2-27 { background-position: -1458px 0 }
.ui-progressbar-mid2-28 { background-position: -1512px 0 }
.ui-progressbar-mid2-29 { background-position: -1566px 0 }
.ui-progressbar-mid2-30 { background-position: -1620px 0 }
.ui-progressbar-mid2-31 { background-position: -1674px 0 }
.ui-progressbar-mid2-32 { background-position: -1728px 0 }
.ui-progressbar-mid2-33 { background-position: -1782px 0 }
.ui-progressbar-mid2-34 { background-position: -1836px 0 }
.ui-progressbar-mid2-35 { background-position: -1890px 0 }
.ui-progressbar-mid2-36 { background-position: -1944px 0 }
.ui-progressbar-mid2-37 { background-position: -1998px 0 }
.ui-progressbar-mid2-38 { background-position: -2052px 0 }
.ui-progressbar-mid2-39 { background-position: -2106px 0 }
.ui-progressbar-mid2-40 { background-position: -2160px 0 }
.ui-progressbar-mid2-41 { background-position: -2214px 0 }
.ui-progressbar-mid2-42 { background-position: -2268px 0 }
.ui-progressbar-mid2-43 { background-position: -2322px 0 }
.ui-progressbar-mid2-44 { background-position: -2376px 0 }
.ui-progressbar-mid2-45 { background-position: -2430px 0 }
.ui-progressbar-mid2-46 { background-position: -2484px 0 }
.ui-progressbar-mid2-47 { background-position: -2538px 0 }
.ui-progressbar-mid2-48 { background-position: -2592px 0 }
.ui-progressbar-mid2-49 { background-position: -2646px 0 }
.ui-progressbar-mid2-50 { background-position: -2700px 0 }
.ui-progressbar-mid2-51 { background-position: -2754px 0 }
.ui-progressbar-mid2-52 { background-position: -2808px 0 }
.ui-progressbar-mid2-53 { background-position: -2862px 0 }
.ui-progressbar-mid2-54 { background-position: -2916px 0 }
.ui-progressbar-mid2-55 { background-position: -2970px 0 }
.ui-progressbar-mid2-56 { background-position: -3024px 0 }
.ui-progressbar-mid2-57 { background-position: -3078px 0 }
.ui-progressbar-mid2-58 { background-position: -3132px 0 }
.ui-progressbar-mid2-59 { background-position: -3186px 0 }
.ui-progressbar-mid2-60 { background-position: -3240px 0 }
.ui-progressbar-mid2-61 { background-position: -3294px 0 }
.ui-progressbar-mid2-62 { background-position: -3348px 0 }
.ui-progressbar-mid2-63 { background-position: -3402px 0 }
.ui-progressbar-mid2-64 { background-position: -3456px 0 }
.ui-progressbar-mid2-65 { background-position: -3510px 0 }
.ui-progressbar-mid2-66 { background-position: -3564px 0 }
.ui-progressbar-mid2-67 { background-position: -3618px 0 }
.ui-progressbar-mid2-68 { background-position: -3672px 0 }
.ui-progressbar-mid2-69 { background-position: -3726px 0 }
.ui-progressbar-mid2-70 { background-position: -3780px 0 }
.ui-progressbar-mid2-71 { background-position: -3834px 0 }
.ui-progressbar-mid2-72 { background-position: -3888px 0 }
.ui-progressbar-mid2-73 { background-position: -3942px 0 }
.ui-progressbar-mid2-74 { background-position: -3996px 0 }
.ui-progressbar-mid2-75 { background-position: -4050px 0 }
.ui-progressbar-mid2-76 { background-position: -4104px 0 }
.ui-progressbar-mid2-77 { background-position: -4158px 0 }
.ui-progressbar-mid2-78 { background-position: -4212px 0 }
.ui-progressbar-mid2-79 { background-position: -4266px 0 }
.ui-progressbar-mid2-80 { background-position: -4320px 0 }
.ui-progressbar-mid2-81 { background-position: -4374px 0 }
.ui-progressbar-mid2-82 { background-position: -4428px 0 }
.ui-progressbar-mid2-83 { background-position: -4482px 0 }
.ui-progressbar-mid2-84 { background-position: -4536px 0 }
.ui-progressbar-mid2-85 { background-position: -4590px 0 }
.ui-progressbar-mid2-86 { background-position: -4644px 0 }
.ui-progressbar-mid2-87 { background-position: -4698px 0 }
.ui-progressbar-mid2-88 { background-position: -4752px 0 }
.ui-progressbar-mid2-89 { background-position: -4806px 0 }
.ui-progressbar-mid2-90 { background-position: -4860px 0 }
.ui-progressbar-mid2-91 { background-position: -4914px 0 }
.ui-progressbar-mid2-92 { background-position: -4968px 0 }
.ui-progressbar-mid2-93 { background-position: -5022px 0 }
.ui-progressbar-mid2-94 { background-position: -5076px 0 }
.ui-progressbar-mid2-95 { background-position: -5130px 0 }
.ui-progressbar-mid2-96 { background-position: -5184px 0 }
.ui-progressbar-mid2-97 { background-position: -5238px 0 }
.ui-progressbar-mid2-98 { background-position: -5292px 0 }
.ui-progressbar-mid2-99 { background-position: -5346px 0 }
.ui-progressbar-mid2-100 { background-position: -12273px 0 }


/*zt-2015.07.03*/
.coopsx{margin-bottom:20px;}
#display2 a{ border:1px solid #eee; display:inline-block;}
#display2 a:hover{ border:1px solid #F93;}