.height333{height: 333px;}
.novice-bg-color{background-color: #f58e53}
.novice_head{background: url("/Style/H/images/novice/novice_head.jpg");padding-top: 30px;}
.novice_orange{color:#f3943f }
.novice_head_orange{color: #fdd983}
.novice_black{color:#434343}
.width380{width: 380px;}
.width200{width: 200px;}
.height600{height: 600px;}
.width450{width: 450px;}
.invest_bg_color_black{background-color: #808080}
.invest_index_bggray{background: #e5e5e5}
.index_pro_img {
    width: 228px;
    height: 129px;
}
.index_pro_img img{
    width: 228px;
    height: 129px;
}

/*invest page*/
.invest_page a{display: block;width: 25px;height: 25px;border: 1px solid #e6e6e6;background: #e4e4e4;float: left;margin-right: 3px;color: #444}
.invest_page a.prevnext {display: block;width: 65px;height: 25px;border: 1px solid #e6e6e6;background: #e4e4e4;float: left;margin-right: 3px;}
.invest_page .current{display: block;width: 25px;height: 26px;background: #fa0000;float: left;color: #fff;margin-right: 3px;}
.novice:hover{
    -webkit-box-shadow: #ccc 0 0 8px;
    -moz-box-shadow: #ccc 0 0 8px;
    box-shadow: #ccc 0 0 8px;
    -ms-box-shadow: #ccc 0 0 8px;
    -o-box-shadow: #ccc 0 0 8px;
    border-color: #d6d6d6;
}