.float0831 {position: fixed;right:1px; _position:absolute;height:376px;z-index:100;top:50%;margin-top:-188px}
.float0831 a{color:#00a0e9}
.float0831 a:hover {color: #ff8100;text-decoration: none}
.float0831 .floatL {position: relative;width:28px; float: left}
.float0831 .floatL a {text-indent: -9999px; display: block; font-size: 0px}
.float0831 .tp {background: url(../images/float_bg.gif) no-repeat 0% 0%; height: 10px}
.float0831 .floatR {padding-bottom: 15px;width:130px;background: url(../images/float_bg.gif) no-repeat -131px bottom; float: left; overflow: hidden
}
.float0831 .cn {background: url(../images/float_bg.gif) repeat-y  -262px 0px}
.float0831 .cn ul {padding:0 14px;}
.float0831 .cn ul li {border-bottom: #e6e5e4 1px solid; line-height:23px; height:40px;padding:6px 0;overflow: hidden; word-break: normal;display:block;text-align:center;}
.float0831 .cn ul li span{float:left;display:block;text-align:center}
.float0831 .icoZx {background: url(../images/float_s.gif) no-repeat  2px -159px;padding-left: 28px; display: block; float: left;color:#c7000a;font-size:14px;font-weight:bold}
.float0831 .btnOpen {background: url(../images/float_s.gif) no-repeat  -30px -396px;position: relative;width: 28px; height: 118px;TOP: 130px; left: 1px
}
.float0831 .btnOpen_n {background: url(../images/float_s.gif) no-repeat  0px -530px;position: relative;width: 28px; height: 118px; TOP: 118px; left: 1px}
.float0831 .btnCtn {background: url(../images/float_s.gif) no-repeat  0px -396px;position: relative;width: 28px; height: 118px; TOP: 130px; left: 2px
}
.float0831 ul li.bot {border-bottom: none}
