/**************个人中心样式表*************/
/*顶部用户信息*/
.member-color-red{color: #ef5c52;}
.member-color-orange{color: #fc8026;}
.member-color-gray{color: #707070;}
.member-color-blue{color: #4bb1e6;}
.member-color-green{color: #b7db83;}
.member-bg-red{background-color: #ef5c52;}
.member-bg-gray{background-color: #d7d7d7;}
.member-bg-orange{background-color: #fc8026;}
.member-bg-gray2{background-color: #aaaaaa;}
.member-bg-blue{background-color: #fc554c}
.member-banner{background: url("/Style/Member/images/index/member_banner.jpg") no-repeat center #fcf7f1; height: 155px;}
.member-photo{width: 134px;}
.member-photo img{width: 100%;height: 134px;}
.member-proprogress{width: 130px;height: 10px;}
.member-height15{height: 10px;}
.member-verify{margin-bottom: 10px;}
.member-verify img{margin-right: 5px;}
.member-button-width65{width:65px;}
.member-button-tx a:hover{background-color: #ff2f2f;}
.member-link a:hover{color: #04a7e5;}
.member-width230{width: 344px !important;}
.member-height170{height: 170px !important;}
.member-height210{height: 210px !important;}

/*左边导航*/
.member-left{width:187px;}
.cms_left{width:155px;}
.left_list_div{width: 100%; height: 62px; margin-bottom: 2px;background-color: #e7e7e7;}
.left_sonlist_div{width: 100%;margin-bottom: 2px;}
.left_sonlist_div .sondiv{ height: 36px; background-color: #fff;margin-bottom: 1px;}
.left_sonlist_div .a_sonlink{width: 100%; display: block;height: 36px; line-height: 36px; border:none; color: #222222;background-color: #ddd;text-align: center}
.left_sonlist_div .a_sonlink:hover{text-decoration:underline;width: 100%; display: block;height: 36px; line-height: 36px; border:none; color: #fff;background-color: #ffa0a0;text-align: center}
.left_sonlist_div .a_sonlink_in{text-decoration:underline;width: 100%; display: block;height: 36px; line-height: 36px; border:none; color: #fff;background-color: #ef5c52;text-align: center}
.left_list_div .a_link{width: 100%; display: block;height: 62px; line-height: 62px; border:none; color: #444444;background-color: #e7e7e7;text-align: center}
.left_list_div .a_link:hover{width: 100%; display: block;height: 62px; line-height: 62px; border:none; color: #fff;background-color: #ff6b6b;text-align: center}
.left_list_div .a_link_in{width: 100%; display: block;height: 62px; line-height: 62px; border:none; color: #fff;background-color: #ef5c52;text-align: center}
.cms_content_new{padding: 0 35px 35px 35px; width: 915px;margin-top: 25px; min-height: 800px;}
.cms_content_new .cms_title{height: 56px; line-height: 56px;width: 100%;}
.cms_content_new .cms_title .t_text{border-bottom: solid 1px #ef5c52; width: 82px; height: 56px; line-height: 56px;}

/*右边内容*/
.member-right{width: 987px;}
.member-width100{width: 100px;}
.member-width160{width: 160px;}
.member-width345{width: 515px;}
.member-width400{width:300px;}
.member-width338{width: 139px;}
.member-width691{width: 1033px;}
.member-width760{width: 760px;}
.member-width270{width: 270px;}
.member-width195{width: 195px;}
.member-width205{width: 205px;}
.member-width360{width: 360px;}
.member-height160{height: 160px;}
.member-height172{height: 172px;}
.member-height180{height: 240px;}
.member-height155{height: 155px;}
.member-height300{height: 300px;}
.member-height50{height: 50px;}
.member-height247{height: 247px;}
.member-height3{height: 3px;}
.member-height42{height: 42px;}
.member-width42{width: 42px;}
.member-width-half{width: 50%;}
.member-ad-bg{background: url("/Style/Member/images/index/member_ad.jpg") no-repeat;}
.member-border-orange{border: 2px #fc8026 solid;}
.member-border-blue{border: 2px #4bb1e6 solid;}
.member-border-green{border: 2px #b7db83 solid;}
.member-button{padding: 5px 15px;cursor: pointer;background-color: #42b8e5;}
.member-button:hover{background-color: #06a9e7;}
.member-invest-title{color:#707070;}
.member-invest-title:hover{color:#ff2f2f;}

/*加息券*/
.coupon-list-box{width:880px;margin: 10px auto;}
.coupon-box{width:214px;}
.coupon-available-bg{background: url("/Style/Member/images/coupon/coupon_available.png") no-repeat;height: 117px;}
.coupon-unavailable-bg{background: url("/Style/Member/images/coupon/coupon_unavailable.png") no-repeat;}
.coupon-detail{font-size: 13px;padding-left: 20px;}
.coupon-grey{color: #9f9f9f;}
.coupon-red{color:#ff7400;}
.coupon-interest{font-size: 50px;}
.coupon-interest-top{padding-top: 45px;line-height: 20px;}
.coupon-percent{font-size: 25px;}

/*众筹*/
.back_1{background: #FC554C; width: 100%; height:63px;line-height:60px;}
.font_1{font-size: 20px;margin-left: 20px;}
.member-width318{width: 170px;height: 132px;}
.member-width319{width: 300px;}
.member-width330{width: 515px !important;}
.member-height181{height: 300px;}