*{
	margin:0;
	padding:0;
	border:none;
	list-style: none;
	font-family:"微软雅黑", "黑体", "宋体";
	font-size:12px;
	text-decoration:none;
}
.wrapper,
.content1{
	width:100%;
	overflow: hidden;
}
.content2{
	width:1200px;
	margin: 0 auto;
	overflow: hidden;
}
ul,
ul li{
	overflow: hidden;
}
a{
	cursor:pointer;
}
.number{
	font-size: 30px;
	color: #1ec2ad;
}


.frame-1{
	overflow: hidden;
}
.frame-1 ul li{
	float: left;
	width: 23.5%;
	margin-right: 2%;
	position: relative;
}
.frame-1 ul li .la{
	margin-right: 0;
}
.frame-1 ul li .edge{
	width: 99%;
	margin: 0 auto;
	border:1px solid #d8d7d6;
}
.frame-1 ul li .edge .state{
	width: 65px;
	height: 23px;
	position: absolute;
	top: 0;
	left: 0;
}
.frame-1 ul li .edge .img{
	width: 100%;
	height: 193px;
	overflow: hidden;
}
.frame-1 ul li .edge .img img{
	width: 100%;
	height: auto;
}
.frame-1 ul li .text{
	padding:20px 5% 25px 5%;
	position: relative;
}
.frame-1 ul li .edge .text p{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	color: #272727;
}
.frame-1 ul li .edge .text p span{
	color: #f8a717;
}
.frame-1 ul li .edge .text .p1{
	font-size: 16px;;
}
.frame-1 ul li .edge .text .p2,
.frame-1 ul li .edge .text p span{
	font-size: 13px;
}
.frame-1 ul li .edge .text .p2{
	width: 60%;
	padding:25px 0;
}
.frame-1 ul li .edge .text .bar{
	width: 100%;
	height: 5px;
	overflow: hidden;
	background: #d8d7d6;
}
.frame-1 ul li .edge .text .bar .speed{
	width: 80%;
	height: 5px;
	background: #f8a717;
}
.frame-1 ul li .edge .text .list{
	overflow: hidden;
	margin-top: 25px;
}
.frame-1 ul li .edge .text .list .ls{
	float: left;
	width: 33%;
	border-right: 1px solid #d8d7d6;
	text-align: center;
	font-size: 16px;
	color: #767676;
}
.frame-1 ul li .edge .text .list .last{
	border-right: none;
}
.frame-1 ul li .edge .text .operation,
.frame-1 ul li .edge .text .operation img{
	width: 80px;
	height: 29px;
}
.frame-1 ul li .edge .text .operation{
	overflow: hidden;
	position: absolute;
	top:60px;
	right: 5%;
}
.frame-1 ul li .edge .text .jers{
	overflow: hidden;
	margin-top: 20px;
}
.frame-1 ul li .edge .text .jers p{
	font-size: 13px;
}
.frame-1 ul li .edge .text .jers .p3{
	float: left;
	width: 50%;
}
.frame-1 ul li .edge .text .jers .p4{
	float: right;
	width: 40%;
	padding-left: 10%;	
	text-align: right;
}
.frame-2 .iftin{
	overflow: hidden;
	float: left;
	width: 31.8%;
	margin-right:1.9%;
	border:1px solid #d8d7d6; 
}
.frame-2 .iftin .title{
	overflow: hidden;
	width: 100%;
	padding:10px 0;
	background:#f5f5f5;
}
.frame-2 .iftin .title p{
	font-size: #000000;
	vertical-align: bottom;
}
.frame-2 .iftin .title p,
.frame-2 .iftin .title p a{
	font-size: #000000;
	vertical-align: bottom;
}
.frame-2 .iftin .title .p1{
	float: left;
	padding-left: 8%;
	font-size: 16px;
}
.frame-2 .iftin .title .p2{
	float: right;
	padding-right: 5%;
}
.frame-2 .iftin .title .p2 a{
	font-size: 12px;
	color: #000000;
}
.frame-2 .iftin .con{
	overflow: hidden;
	height: 145px;
	padding:10px 0;
}
.frame-2 .iftin .con .list{
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
}
.frame-2 .iftin .con .list .p1{
	float: left;
	width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.frame-2 .iftin .con .list .p2{
	float: right;
}
.frame-2 .iftin .con .list p{
	line-height: 30px;
	font-size: 14px;
	color: #000000;
}
.frame-2 .iftin .con .list:hover p{
	color: #ff583b;
}
.frame-3 .box a{ 
	color:#6cf;
}
.frame-3 .box a:hover{ 
	color:#84B263;
}
.frame-3 .box{ 	
	width:1200px; 
	margin:0 auto; 
	overflow:hidden;
	position:relative;  
	_height:100%;
}
.frame-3 .box .picbox{ 
	width:1104px; 
	height:52px; 
	margin:0 auto;
	overflow:hidden; 
	position:relative;
}
.frame-3 .box .picbox .piclist{ 
	width: 1104px;
	height:52px;
	position:absolute; 
	top:0px;
	left:0px; 
}
.frame-3 .box .picbox .piclist li{ 
	float:left;
	width: 162px;
	height: 50px;
    border:1px solid #c5c5c5;
	margin:0 10px; 	 
}
.frame-3 .box .picbox .swaplist{ 
	position:absolute; 
	top:0px;
	left:-3000px; 
}
.frame-3 .box .og_prev,.og_next{ 
	width:24px;
	height:100px;
	position:absolute; 
	top:1px; 
	z-index:99; 
	cursor:pointer;
	filter:alpha(opacity=70); 
	opacity:0.7;
}
.frame-3 .box .og_prev{ 
	background-position:0 -60px; 
	left:0;
}
.frame-3 .box .og_next{ 
	background-position:0 0px;
    right:0px;
}
.footer-1{
	overflow: hidden;
	background: #333333;
}
.footer-1 .footer-1-upper{
	overflow: hidden;
	padding:50px 0 20px;
}
.footer-1 .footer-1-upper ul li{
	float: left;
	margin-right: 105px;
	margin-left: 25px;
}
.footer-1 .footer-1-upper ul li p a,
.footer-1 .footer-1-upper ul li .p2{
	line-height: 30px;
	font-size: 14px;
	color: #ababab;
}
.footer-1 .footer-1-upper ul li .p1{
	padding-bottom: 15px;
	font-size: 18px;
	color: #ffffff;
}
.footer-1 .footer-1-lower{
	overflow: hidden;
	padding: 30px 0;
	background: #2a2a2a;
}
.footer-1 .footer-1-lower p{
	text-align: center;
	font-size: 16px;
	color: #ababab;
}
.footer-1 .footer-1-lower .p1{
	padding-bottom: 20px;
}
.footer-1 .footer-1-upper ul li .p2 span{
	font-size: 24px;
	color: #f8a717;
}
.footer-1 .footer-1-upper ul li .contact{
	padding:0px 0 10px 0;
}
.banner-1 img{
	width:100%;
	height:auto;
}
.frame-5{
	overflow: hidden;
	margin-bottom: 20px;
}
.frame-5 p{
	font-size:18px;
	color:#1a1a1a;
	line-height: 60px;
}
.frame-5 .p1,
.frame-5 .p2{
	float: left;
}
.frame-5 .p1{
	padding-left: 20px;
}
.frame-5 .p1 img{
	width: 32px;
	height: 27px;
	margin-right: 20px;
	padding-top: 16px;
}
.frame-5 .p3{
	float: right;
	padding-right:20px;
}
.frame-6 ul li{
	float: left;
	width: 25%;
	text-align: center;
}
.divwrap{width: 135px;height: 170px;margin: 0 auto;}
.frame-6 ul li img{
	width: 135px;
	height: 135px;
	transition: all 0.3s ease;
	margin-top: 20px;
	position: absolute;
	margin-left: -67px;
}
.frame-6 ul li img:hover{margin-top: -5px;}
.frame-6 ul li p{
	width: 90%;	
	margin: 0 auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 24px;
}
.frame-6 ul li .p1{
	color: #0a0204;
	padding:10px 0 12px 0;
}
.frame-6 ul li .p2{
	color: #cc2c2c;
}
.frame-7{
	overflow: hidden;
}
.frame-7 ul li{
	float: left;
	width:272.5px;
	padding:3px 0 0 5px;
	margin-right: 30px; 
	position: relative;	
}
.sign{
	position: absolute;
	top: 0;
	left:0;
	z-index: 99999;
}
.sign img{
	width: 106px;
	height: 106px;
}
.frame-7 ul li .vehicle{
	width: 272.5px;
	height: 231px;
}
.frame-7 ul li .text{
	overflow: hidden;
	padding:0 10px 10px 10px;
	background-color: #ffffff;
}
.frame-7 ul li .text h2{
	padding:15px 0;
	font-size: 20px;
	color: #585858;
}
.frame-7 ul li .text .details{
	overflow: hidden;
}
.frame-7 ul li .text .details p{
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #a2a2a2;
}
.frame-7 ul li .text .details p,
.frame-7 ul li .text .details p span{
	font-size: 14px;
	line-height: 35px;
}
.frame-7 ul li .text .details p span{
	color: #cc2c2c;
}
.frame-7 ul li .text .details .p1{
	width: 50%;
	margin-right: 10%;
}
.frame-7 ul li .text .details .p2{
	width: 40%;
}
.frame-7 ul li .text .jdt{
	width: 95%;
	margin: 10px auto 8px auto;
	height: 7px;
	background-color: #acabab;	
}
.frame-7 ul li .text .jdt .jd{
	width: 75%;
	height: 7px;
	background-color: #cc2c2c;
}
.frame-7 ul li .text .p3,
.frame-7 ul li .text .p3 span{
	font-size: 16px;
}
.frame-7 ul li .text .p3{
	text-align: center;
	color: #a2a2a2;
}
.frame-7 ul li .text .p3 span{
	color: #e14342;
}
.frame-7 ul li .etr .enter,
.frame-7 ul li .etr .enter img{
	width: 100%;
	height: 54px;
}
.frame-7 ul li .etr .enter{
	position: absolute;
	bottom: 0;
	left: 0;
}
.frame-8{
	padding:20px;	
}
.frame-8 .list{
	overflow: hidden;
	padding:5px 0;
}
.frame-8 .list p{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.frame-8 .list p a{
	font-size: 14px;
	color: #666666;
	line-height: 25px;
}
.frame-8 .list .p1,
.frame-8 .list .p2{
	float: left;
}
.frame-8 .list .p1 img{
	width: 5px;
	height: 5px;
	margin: 10px 15px 0 0;
}
.frame-8 .list .p2{
	width: 65%;
}
.frame-8 .list .p3{
	float: right;
	width: 18%;	
	text-align: right;
}
.frame-9 ul li{
	float: left;
	width: 380px;	
	height: 286px;
	padding:3px 0 0 4px;
	margin-right: 24px;
	position: relative;
}
.frame-9 ul li .tit{
	width: 380px;
	background-image: url(../images/tit-bg.png);
	position: absolute;
	bottom: 0px;
	top: 241px;
	transition:all 0.5s;
}
.frame-9 ul li .tit p{
	padding:0 20px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
	color: #ffffff;
	line-height: 45px;
}
.frame-9 ul li .tit .details{
	width:102px;
	height: 30px;
	margin: 0 auto;
	background-color: #cc2c2c;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
    color: #ffffff;
    display: none;
    margin-top: 40px;
}
.frame-9 ul li:hover .tit{
	top: 3px;
}
.frame-9 ul li:hover .details{
	display: block;
}
.frame-9 ul li:hover .tit p{
	margin-top: 110px;
}
.frame-10 ul li{	
	float: left;
	width: 299px;
	background-color: #ffffff;
	margin-right: 10px;
	position: relative;
}
.frame-10 ul li .date{
	width: 72px;
	height: 62px;
	background-color: #e14342;
	position: absolute;
	top: 0;
	left: 0;
}
.frame-10 ul li .date p{
	text-align: center;
	color: #ffffff;
}
.frame-10 ul li .date .p1{
	padding-top: 5px;
	font-size: 24px;
}
.frame-10 ul li .date .p2{
	font-size: 14px;
}
.frame-10 ul li .img{
	width: 299px;
	height: 202px;
}
.frame-10 ul li .p3,
.frame-10 ul li .p4{
	margin: 0 5px;
}
.frame-10 ul li .p3{
	padding:5px 0 10px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	color: #333333;
}
.frame-10 ul li .p4{
	font-size: 12px;
	color: #a0a0a0;
	line-height: 20px;
}
.frame-10 ul li .more{
	margin-top: 8px;
	width: 125px;
	height: 30px;
	background-color: #dcdcdc;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: #a0a0a0;
}
.frame-11 .list{
	overflow: hidden;
	width: 568px;
	margin-bottom: 15px;
}
.frame-11 .list .date,
.frame-11 .list .text{
	float: left;
}
.frame-11 .list .date{
	margin-right: 12px;
	width: 66px;
	height: 66px;
	border:1px solid #c7c7c7;
}
.frame-11 .list .date .p1{
	background-color: #e14342;
	text-align: center;
	line-height: 24px;
	font-size: 11px;
	color: #ffffff;
}
.frame-11 .list .date .p2{
	text-align: center;
	font-size: 18px;
	color: #b6b6b6;
	line-height: 42px;
}
.frame-11 .list .text{
	overflow: hidden;
	width: 83%;
	height: 58px;
	padding: 5px;
	background-color: #ffffff;
}
.frame-11 .list .text p{
	overflow: hidden;	
	text-overflow: ellipsis;
	white-space: nowrap;
}
.frame-11 .list .text .p3{
	font-size: 14px;
	color: #333333;
}
.frame-11 .list .text .p4{
	font-size: 14px;
	color: #989898;
}
.frame-12{
	overflow: hidden;	
}
.frame-12 ul li{
	float: left;
	width: 291px;
	background: #f8f8f8;
	padding-bottom: 15px;
	margin-right: 12px;
	position: relative;
}
.frame-12 ul li .vehicle{
	width: 100%;
	height: 218px;
}
.frame-12 ul li .sign{
	width: 38px;
	height: 50px;
	position: absolute;
	top:0;
	left: 30px;
}
.frame-12 ul li .text{
	width: 90%;
	padding:10px 5%;
}
.frame-12 ul li .text p{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.frame-12 ul li .text .p1{
	font-size: 18px;
	color: #1f1f1f;
}
.frame-12 ul li .text .p2,
.frame-12 ul li .text p span{
	font-size: 14px;
}
.frame-12 ul li .text .p2{
	padding-top: 15px;
	color: #666666;
}
.frame-12 ul li .text p span{
	color: #e56c10;
}
.frame-12 ul li .text .jdt{
	width: 100%;
	height: 5px;
	background: #c1bebe;
	margin:10px 0;
}
.frame-12 ul li .text .jdt .jd{
	width: 80%;
	height: 5px;
	background: #46a9e3;
}
.frame-12 ul li .text .p3{
	color: #333333;
}
.frame-12 ul li .text .p3 img{
	width: 15px;
	height: 13px;
}
.frame-12 ul li .text .p3 .span1{
	padding:0 20px 0 5px;
}
.frame-12 ul li .investment,
.frame-12 ul li .investment img{
	width: 100%;
}