/* xingfami css general.css  */
/* time:2016-01-18  */
/* author:hexiaobo qq:9304600 */
/*
***
***
****
*****
********************/

/* topbar */
.topbar { height: 42px; line-height: 42px; background: #f2f2f2 }
.topbar-leftbtn li { float: left }
.topbar-leftbtn a.dropdown-hover, .topbar-leftbtn li>a { display: block; height: 42px; min-width: 36px }
.topbar-leftbtn li a { background: url(../images/topbar-left-icon.png) no-repeat 0 0 }
.topbar-leftbtn li a:hover { background-color: #fff; text-decoration: none; }
.topbar-leftbtn li .weibo { background-position: 0 0 }
.topbar-leftbtn li .weixin { background-position: 0 -42px }
.topbar-leftbtn li .qq { background-position: 0 -84px }
.topbar-leftbtn li .phone { background-position: 0 -126px }
.topbar-leftbtn li .data { background-position: 0 -168px; padding-left: 34px; padding-right: 8px }
.topbar-leftbtn .drop-menu { line-height: 1.8em ;}
/* header */
#header { height: 98px }
#header .logo { margin-top: 14px }
#header .nav { margin-top: 40px; width: 600px; margin-left: 80px; float: left }
#header .nav>li { float: left; width: 16.66% }
#header .nav>li>a { font-size: 16px; display: block; text-align: center; color: #737373; padding-left: 0; padding-right: 0 }
#header .nav>li.current>a { color: #f50 }
#header .nav .drop-menu li { }
#header .nav .drop-menu li a { text-align: left }
#header .nav .drop-menu li a:hover { text-decoration: none }
#header .header-account { height: 33px; width: 133px; background-color: #f9f9f9; padding: 5px 8px; border: 1px solid #ccc; border-radius: 3px; margin-top: 40px; color: #8B8B8B }
#header .header-account:hover { background-color: #fff }
#header .header-account a:hover { text-decoration: none; }
#header .header-account .account-btn span { padding: 0 15px 0 4px; color: #8B8B8B }
#header .header-account .drop-menu { top: 97%; right: -2px; width: 200px; left: auto; z-index: 2; }
#header .header-account .drop-menu a { padding: 10px 10px }
#header .header-account .drop-menu strong { color: #8B8B8B; font-size: 12px }
/* slide */
.flexslider { overflow: hidden; z-index: 0; margin-bottom: 5px }
.flexslider, .flexslider .slides img { height: 400px; }
.flexslider .slides img { width: 1920px }
/* 首页浮动 */
.slide-float { width: 259px; height: 331px; padding: 40px 15px 0 21px; z-index: 0; background: url(../images/slide-float.png) no-repeat; top: -11px; right: 0 }
.slide-float .slide-float-btn { display: block; width: 210px; height: 48px; line-height: 48px; background: #d9534f; color: #fff; font-size: 1.2em; }
.slide-float .slide-float-btn:hover { background-color: #E97C79; text-decoration: none }
/*** 数据 ***/
.webdata li { float: left; padding-left: 116px; width: 25%; background: url(../images/webdata-icon.png) no-repeat; border-right: 1px solid #ccc; height: 80px; }
.webdata li.d1 { background-position: 30px 0 }
.webdata li.d2 { background-position: -263px 0 }
.webdata li.d3 { background-position: -570px 0 }
.webdata li.d4 { background-position: -865px 0; border-right: none }
.webdata strong { padding-top: 15px; display: block; font-size: 1.2em }
.webdata span { font-size: 1em; color: #8E8E8E; line-height: 1.8em }
/* 鱼蛋宝 */
.licai-tit-wrap { border-bottom: 1px solid #f1f1f1; padding: 20px 15px 22px }
.licai-tit-wrap h1 { font-size: 18px; padding-right: 30px }
.licai-tit-wrap h1 span { font-size: 14px; color: #979797 }
.licai-tit-badge { font-size: 12px; color: #fcae52; border: 1px solid #fcae52; border-radius: 5px; margin: 0 4px 0; padding: 0 6px }
.ydb-keyinfo-wrap { padding-top: 25px }
.ydb-keyinfo-wrap li { float: left; width: 33.2%; border-right: 1px solid #e8e8e8; text-align: center }
.ydb-keyinfo-wrap li:last-child { border-right: none }
.ydb-keyinfo-wrap li strong { height: 50px; display: block; margin-bottom: 15px; line-height: 50px }
.ydb-info { float: left; margin-left: 50px; color: #9F9F9F; width: 460px }
.ydb-info span { width: 50%; float: left; font-size: 14px }

/* 首页众筹 */
.index-zc-wrap { padding: 10px 15px 6px	;border-radius:5px}
.zc-tit { padding-bottom: 10px }
.index-zc-wrap img { width: 100%; height: 230px }
.pointer li { border: none; width: 15px; height: 4px; margin: 1px; display: inline-block; border-radius: 0px; cursor: pointer; background: #FFFFFF; background: rgba(255,255,255,0.5) }
#index_zx .banner .pointer { bottom: 40px }
#index_zx .banner .pointer .active { border: none; background: #E9924F; width: 15px; height: 4px; margin: 1px; }
#index_zx .banner .pager-prev,#index_zx .banner .pager-next{border:none}

/* 中部轮播 */
#slide2{height:280px; background:url(../images/slide2-bg.jpg) no-repeat center #748ca2 }
.flexslider2 .slide2-pc{ margin:58px 0 0 248px; float:left}
.slide2-text-wrap{float:left; margin-left:118px; width:380px; margin-top:45px}
.slide2-text-wrap h1{ font-size:26px; color:#fff; line-height:60px; border-bottom:1px solid #ccc; font-weight:bold}
.slide2-text-wrap h2{color:#ffac0d ;font-size:24px; padding:8px 0}
.slide2-text-wrap em{color:#fff; font-size:16px; margin-bottom:15px}
.slide2-text-wrap a{background-color:#647591; border:1px solid #fff; margin-top:15px; color:#fff;}
.slide2-text-wrap a:hover{ color:#647591}
.flexslider2{height:280px}
.flexslider2 .flex-direction-nav a{opacity:1; width:27px; height:47px;background:url(../images/slide-nav.png) no-repeat; filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity: 0.6;opacity: 0.6;}
.flexslider2 .flex-direction-nav a:hover{filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity: 1;opacity: 1;}
.flexslider2 .flex-direction-nav .flex-next{right:0; background-position:0 -47px}
.flexslider2 .flex-direction-nav .flex-prev{left:0}
.flexslider2 .flex-direction-nav a:before{content: '';}

/* 首页众筹 */
.zc-list-item{float:left; width:380px; padding:10px 20px 20px; margin-right:29px; margin-bottom:30px}
.zc-list-item:hover{border-color:#2A7BDB;}
.zc-list-item:nth-child(3n){margin-right:0}
.zc-list-item h1{ font-size:14px; color:#585858; height:38px; margin-bottom:8px}
.zc-list-item a{display:block;transition:0.5s; overflow:hidden}
.zc-list-item a img{width:338px; height:234px; }
.zc-list-item a:hover{-moz-transform:scale(0.95,0.95);-ms-transform:scale(0.95,0.95);-o-transform:scale(0.95,0.95);-webkit-transform:scale(0.95,0.95);transform:scale(0.95,0.95)}
.zc-list-img .item-mark{position:absolute; right:-20px; top:8px;right:0px\9;top:0px\9;right:-20px\9\0; top:8px\9\0;height:24px; width:80px; background:#CB3033; -moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.zc-list-img .item-mark p{color:#fff; font-size:12px; text-align:center; line-height:24px}
.zc-list-item-bottom{margin-top:8px}
.zc-item-bottom{margin-top:8px;}
.zc-item-bottom li{width:33%; float:left; font-size:14px; color:#7C7C7C; line-height:24px; text-align:center}

/* 首页积分商城 */
.mall-item{padding:20px; height:218px}
.mall-item li{float:left; width:25%; text-align:center; border-right:1px solid #e5e5e5}
.mall-item li a{color:#848484}
.mall-item li a h1{font-size:14px; margin-bottom:8px}
.mall-item li a:hover{color:#191919}
.mall-item li a img{ width:120px; height:120px;margin-bottom:8px;}


/* 公告 */
.news-list{height:322px;padding:20px; }
.news-list li{background:url(../images/newsdot.png) left center no-repeat; text-align:left; //padding-left:12px;}
.news-list li a{font-size:14px;  line-height:30px}
.news-list li .badge{ font-family:serif; font-size:10px; padding:1px 3px; margin-left:8px}



/* 过滤 */
.ui_filter{ padding:10px 20px; clear:both; border:1px solid #eaeaea}
.ui_filter dd {height: 40px;line-height: 30px;padding: 5px 5px; }
.ui_filter dd.term{border:none}
.ui_filter dd ul li{float:left;margin-right:10px;display:inline-block;font:14px/24px "Microsoft YaHei";color:#828282;cursor:pointer}
.ui_filter dd ul li b{color:#2F2F2F; }
.ui_filter_tag{padding:0px 10px;border-radius:4px}
.ui_filter_tag:hover{background:#f0f0f0}
.ui_filter_tag.active{background: #4b93ec;}
.ui_filter_tag.active span{color: #fff;}
.ui_filter_tag input{display:none}
.ui_filter_money input.money_put{border:1px solid #e0e0e0;font: 14px/20px "Microsoft YaHei";width:30px;padding:0px 5px;vertical-align:middle}
.ui_filter_money span{margin-left:3px;vertical-align:middle}
.ui_filter_search{ padding:10px; background:#f0f0f0; border:1px solid #eaeaea;border-top:none; text-align:center}

/* 众筹详情 */
.zc-detail-slide{float:left; width:480px; height:360px; margin-bottom:20px}
.zc-detail-slide .banner .pointer { bottom:0}
.zc-detail-slide .banner .pointer .active { border: none; background: #E9924F; width: 15px; height: 4px; margin: 1px; }
.zc-detail-slide .banner .pager-prev,.zc-detail-slide .banner .pager-next{border:none}
.banner .item{margin-top:0; margin-bottom:0}
.zc-detail-slide .item img{width:480px; height:360px}
.zc-detail-right{width:680px; float:right}
.zc-detail-keyinfo{padding-top:30px; padding-bottom:30px}
.zc-detail-keyinfo li{width:25%; float:left; text-align:center; border-right:1px solid #e6e6e6}
.zc-detail-keyinfo li span{font-size:14px;color:#8A8A8A; line-height:30px}
.zc-detail-keyinfo li strong{font-size:20px;color:#e14b1c;line-height:30px}
.zc-detail-bigbtn{background-color:#0a6a9f; border-radius:0; height:46px; width:90px}
.car-keyinfo .keyinfo-icon{background:url(../images/iconimg-carkey.png) no-repeat}
.car-keyinfo .keyinfo-icon.icon1{ background-position:0 0}
.car-keyinfo .keyinfo-icon.icon2{ background-position:0 -54px}
.car-keyinfo .keyinfo-icon.icon3{ background-position:0 -108px}
.car-keyinfo .keyinfo-icon.icon4{ background-position:0 -162px}
.zc-detail-inputwrap .fhtz{width:220px;height:220px;position:absolute;top:-30px;right:50px;background:url(../images/fhtz.png) center no-repeat}
.zc-detail-inputwrap .fhtz .tz1{width:140px;height:30px;display:block;overflow:hidden;position:absolute;top:82px;left:40px;font-size:24px;color:#ce0000}
.zc-detail-inputwrap .fhtz .tz2{height:30px;display:block;overflow:hidden;position:absolute;top:140px;left:55px;font-size:22px;color:#ce0000}
.zc-car-img{padding:20px 0}
.zc-car-img img{float:left; width:48%; margin:1%}
.zc-car-news dt a{font-weight:normal; color:#3074CF; line-height:20px; font-size:16px}
.zc-car-news dt span{font-weight:normal; }
.zc-car-news dd{color:#999; border-bottom:1px solid #e6e6e6; padding:10px 0; margin-bottom:25px}

/* login */ 
.login-box-outer{width:470px; float:right; padding-bottom:20px}
.login-banner{height:535px; background:url(../images/login-banner.jpg) no-repeat center}

/* reg */ 
.reg-step-wrap{width:1000px; margin:0 auto 0}
.reg-step-wrap .step-text{color:#fff}
.reg-banner{height:368px; background:url(../images/reg-banner.jpg) no-repeat center}
.reg-box-outer{width:1000px; margin:-30px auto 0}

/* leftnav */
.leftnav li{border-bottom:1px solid #f0f0f0; background:url(../images/leftnav.png) no-repeat 10px -48px}
.leftnav li:last-child{border-bottom:none}
.leftnav li a{font-size:16px; height:40px; line-height:40px;  color: #757575;padding:0 0 0 36px;vertical-align:middle; }
.leftnav li a:hover{color:#333;}
.leftnav li.current{background-position:10px -5px}
.leftnav li.current a{color:#0a6a9f}
.leftnav.mallnav span{float:right; color:#BFBFBF; font-size:16px; margin-top:8px; margin-right:10px}
.leftnav.mallnav li{background:none}
.leftnav.mallnav li.current span{color:#2864BA}
.leftnav.mallnav li i{width:20px; display:inline-block; vertical-align:middle; height:20px; margin-right:10px; margin-left:5px; background:url(../images/mall-nav-icon.png) no-repeat}
.leftnav.mallnav li a{ padding-left:0 }
.leftnav.mallnav li i.mallnav-all{background-position:0 0}
.leftnav.mallnav li i.mallnav-drink{background-position:0 -20px}
.leftnav.mallnav li i.mallnav-dianqi{background-position:0 -40px}
.leftnav.mallnav li i.mallnav-shechipin{background-position:0 -60px}
.leftnav.mallnav li i.mallnav-shuma{background-position:0 -80px}
.leftnav.mallnav li i.mallnav-hongbao{background-position:0 -100px}
.leftnav.mallnav li i.mallnav-toy{background-position:0 -120px}
.leftnav.mallnav li.current i{background-position-x:-20px}

.leftnav.helpnav li{border-bottom:1px solid #f0f0f0; background:url(../images/leftnav.png) no-repeat 10px -106px}
.leftnav.helpnav li.current{ font-weight:bold}

/* list */
.imglist li{ padding:15px 0; border-bottom:1px solid #e6e6e6}
.imglist.textnews li{padding:15px 15px}
.imglist li a.imglist-img{float:left; margin-right:20px}
.imglist li a.imglist-img img{width:277px; height:182px}
.imglist li h1 {margin-bottom:10px}
.imglist li h1 a{font-size:16px; color:#0a6a9f; margin-bottom:15px;}
.imglist li h1 a:hover{text-decoration:underline}
.imglist li i{width:21px; display:inline-block; text-align:center}
.imglist .summary{padding-top:10px; display:block;overflow:hidden;/*注意不要写在最后了*/white-space:nowrap; -o-text-overflow:ellipsis;text-overflow:ellipsis;}

.imglist.img-s li{border-bottom:none}
.imglist.img-s li h1 a{font-size:16px; color:#737373; margin-bottom:15px;}
.imglist.img-s li h1 a:hover{color:#345993}
.imglist.img-s li a.imglist-img img{width:120px; height:auto}

/* news-detail*/
.news-detail-wrap{padding:25px}
.newstit{text-align:center; font-size:22px; border-bottom:1px solid #e6e6e6; padding-bottom:20px}
.detail-outer{ padding-top:30px}
.detail-outer img{margin:20px auto; display:block}
.detail-outer p{text-indent:2em; font-size:14px;color:#848484; line-height:1.8em;}

/* mall */
.mall-banner{height:300px; background:url(../images/mall-banner.jpg) center no-repeat}
.mall-item-outer{float:left; width:32%; margin-right:2%; margin-bottom:20px}
.mall-item-outer:nth-child(3n){margin-right:0}
.mall-item-outer a.mall-img-outer{display:block; background:#fff; text-align:center; padding:20px 0}
.mall-item-outer a img{display:block; margin-left:auto;margin-right:auto; height:211px;}
.mall-item-outer a span{font-size:14px; color:#7E7E7E; height:20px; display:block}
.mall-item-outer p{ background:#f7f7f7; border-top:1px solid #ccc; height:80px; padding:12px 20px}
.mall-item-outer p span{line-height:48px; font-size:16px}
.mall-item-outer p a.button{ height:42px; background-color:#5f89d5; border:none;  width:120px; text-align:center}


/* 用户中心 */
/* left head */
.left-user-wrap{padding:15px 0}
.left-user-wrap .headimg{width:78px; height:78px; display:block; margin:12px auto; position:relative}
.headimg .vip{ position:absolute; top:-10px; right:-10px; height:32px; width:32px; background:url(../images/head-vip.png) no-repeat center #f50; display:block; border-radius:50%}
.left-user-wrap .headimg img{width:78px; height:78px;border-radius:50%;}
.user-certification{padding:15px 10px}
.user-certification li{float:left; width:25%}
.user-certification li a{display:block; width:32px; height:32px; margin:0 auto;background:url(../images/icon-user-certification.png)}
.user-certification li a.user-certification-realname{background-position:0 0}
.user-certification li a.user-certification-mail{background-position:0 -32px}
.user-certification li a.user-certification-phone{background-position:0 -64px}
.user-certification li a.user-certification-paypwd{background-position:0 -96px}
.user-certification li.certed a.user-certification-realname{background-position:-32px 0}
.user-certification li.certed a.user-certification-mail{background-position:-32px -32px}
.user-certification li.certed a.user-certification-phone{background-position:-32px -64px}
.user-certification li.certed a.user-certification-paypwd{background-position:-32px -96px}
/* usernav */
.leftnav.usernav span{float:right; color:#BFBFBF; font-size:16px; margin-top:8px; margin-right:10px}
.leftnav.usernav li{background:none}
.leftnav.usernav li.current span{color:#2864BA}
.leftnav.usernav li i{width:20px; display:inline-block; vertical-align:middle; height:20px; margin-right:10px; margin-left:5px; background:url(../images/user-nav-icon.png) no-repeat}
.leftnav.usernav li a{ padding-left:0 }
.leftnav.usernav li i.usernav-home{background-position:0 0}
.leftnav.usernav li i.usernav-manage{background-position:0 -20px}
.leftnav.usernav li i.usernav-car{background-position:0 -40px}
.leftnav.usernav li i.usernav-money{background-position:0 -60px}
.leftnav.usernav li i.usernav-jifen{background-position:0 -80px}
.leftnav.usernav li i.usernav-account{background-position:0 -100px}
.leftnav.usernav li i.usernav-promote{background-position:0 -120px}
.leftnav.usernav li i.usernav-msg{background-position:0 -140px}
.leftnav.usernav li i.usernav-coupons{background-position:0 -160px}
.leftnav.usernav li.current i.usernav-home{background-position:-20px 0}
.leftnav.usernav li.current i.usernav-manage{background-position:-20px -20px}
.leftnav.usernav li.current i.usernav-car{background-position:-20px -40px}
.leftnav.usernav li.current i.usernav-money{background-position:-20px -60px}
.leftnav.usernav li.current i.usernav-jifen{background-position:-20px -80px}
.leftnav.usernav li.current i.usernav-account{background-position:-20px -100px}
.leftnav.usernav li.current i.usernav-promote{background-position:-20px -120px}
.leftnav.usernav li.current i.usernav-msg{background-position:-20px -140px}
.leftnav.usernav ul li.current a{color:#5f89d5}

.subnav{padding-left:35px; display:none}
.subnav li{border-bottom:none;}
.usernav .subnav li a{font-size:12px; line-height:26px; padding-left:15px}
.usernav .subnav li.current a{ border-left:3px solid #2E66B3; color:#2E66B3;padding-left:12px}
.leftnav.usernav li.subopen{background-color:#F7F7F7}
.leftnav.usernav li.subopen i{background-position-x:-20px;;color:#2864BA}
.leftnav.usernav li.subopen a{color:#2864BA}

/*user-main*/
.dottips{position:absolute; width:24px; height:24px; background:#737383; color:#fff; border-radius:50%; }
.table{display:table}
.table tbody{display:table-row-group; vertical-align:middle}
.table tr{display: table-row;}
.table tr.table-tit th {font-weight:bold; border-bottom: none;}
.table td{color:#828282;border-bottom: none;border-top: none}
.table  tr:nth-child(even) td{background-color:#f7f7f7}
.table td,.table th{display:table-cell;vertical-align: inherit;}

.label-left{display:block; text-align:right; color:#666; padding-right:15px; float:left; width:120px; line-height:30px}

/***** fund management modules start  *****/
.recharge_bank{width:540px;float:left}
.recharge_bank label.recharge_label{display:inline-block;margin-right:10px;margin-bottom:10px;cursor:pointer}
.recharge_bank label.recharge_label img{vertical-align:middle}
.recharge_bank label.recharge_label input{vertical-align:middle;margin-right:5px}
.tab_cont .tab_card{ display:none;}
.fund_manage h2 a{font:14px/30px "Microsoft YaHei"}
.fund_manage h2 em{font:bold 14px/30px "Microsoft YaHei";color:#999999;margin:0px 10px}
.src_box{padding: 10px;}
.fund_list .src_box .search a.a_link{font-family:"Microsoft YaHei";line-height:30px}
.account_money .cont{padding:20px 10px 20px 30px;}
.account_money .cont .account_bal{width:210px;font:18px/40px "Microsoft YaHei"}
.account_money .cont .account_bal b{font-size:28px}
.account_money .cont .account_bal em{font-size:22px}
.account_money .cont dl{padding-left:40px;border-left:1px solid #e2e2e2}
.account_money .cont dl dd{padding:5px}
.account_money .cont dl dd.first{border-bottom:1px solid #e2e2e2}
.account_money .cont dl dd li{border:none!important;display:inline-block;*display:inline;zoom:1;width:150px;font:16px/28px "Microsoft YaHei";vertical-align:middle}
.account_money .cont dl dd li span{font-size:22px}
.account_money .cont dl dd li span em{font-size:18px}
.fund_manage .user_withdraw .notice{margin:40px 0px 10px 40px}
.fund_manage .user_withdraw .notice i{width: 20px;height: 20px;background-position: -111px -80px;vertical-align: middle;}
.fund_manage .user_withdraw .notice span{line-height:30px;vertical-align: middle;}
.fund_manage .user_withdraw em.account_m{font-size:24px;font-family:"Microsoft YaHei";color:#fc491e}
.fund_manage .user_withdraw .recharge{margin:0px}
.fund_manage .user_withdraw .u_label{width:140px}
.fund_manage .user_withdraw .recharge_bank .fn_left{width:490px}
.fund_manage .user_withdraw .recharge_bank .fn_left .bank_more{display:none}
.fund_manage .user_withdraw .recharge_bank a.choose_other{display:inline-block;color:#0697DA;margin-top:90px}
.fund_manage .user_withdraw .recharge_bank a.choose_other i{display:block;margin:0 auto;width:10px;height:10px;background-position:0px -150px}
/***** fund management modules start  *****/

/* 警告框 */
.warning-box{margin:20px 40px; border:1px solid #fba98b; background:#fffbed; padding:20px; font-size:12px; line-height:1.8em}
.warning-box dt{font-size:14px;margin-bottom:10px; color:#FF610F}
.warning-box dd{margin-bottom:6px}

/* 积分记录 */
.mya-history { padding: 39px 0 10px }
.mya-history-head{ height:50px;}
.mya-history-head li{line-height:30px; background-color:#F3F3F3; float:left; display:block; padding-left:20px}
.mya-history .mya-title { margin-left: 20px }
.mya-history .h-none { margin-top: 67px; text-align: center }
.mya-history .h-ulist { position: relative; margin-top: 5px; font-size: 12px; zoom: 1 }
.mya-history .h-u-end { background: url(../images/slice-s13f9a4dbb7.png) no-repeat 0 -521px; height: 42px; width: 14px; position: absolute; bottom: 44px; left: 102px }
.mya-history .h-u-more { position: absolute; top: -25px; right: 30px; color: #a5a5a5 }
.mya-history .h-u-more:hover { color: #ea544a }
.mya-history .h-u-list { -moz-transition: background-color .2s ease-in-out; -o-transition: background-color .2s ease-in-out; -webkit-transition: background-color .2s ease-in-out; transition: background-color .2s ease-in-out; display: block; height: 78px; background-color: #fff }
.mya-history .h-u-list:hover{background-color:#f5f5f5}
.mya-history .h-u-l-date {
*display:inline; float: left; width: 109px; padding: 18px 0 0 20px; color: #a5a5a5 }
.mya-history .h-u-l-msg {
*display:inline; float: left; height: 78px; width:400px; padding: 17px 0 0 25px; border-left: 1px solid #a8bacf }
.mya-history .h-u-l-m-info { position: relative; height: 24px; color: #5e5e5e; zoom: 1 }
.mya-history .h-u-l-m-i-dot {
*display:inline; float: left; background: url(../images/slice-s13f9a4dbb7.png) no-repeat 0 -497px; height: 9px; width: 9px; position: absolute; top: 6px; left: -30px }
.mya-history .h-u-l-m-i-title {
*display:inline; float: left; font-size: 14px; color:#9A9A9A}
.mya-history .h-u-l-m-msg { white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; width: 100%; color: #a5a5a5; font-size: 12px }
.mya-history .h-u-l-price {
*display:inline; float: left; width: 209px; padding: 17px 54px 0 20px;  line-height: 42px }
.mya-history .h-u-l-button, .mya-history .h-u-l-info {
*display:inline; float: left; width: 148px; padding-top: 17px; text-align: center; line-height: 42px }
.mya-history .h-u-l-button .ui-button {
*margin-top:7px; font-size: 12px }
.mya-history .h-u-list-start { height: 60px;}
.mya-history .h-u-list-start .h-u-l-date { padding-top: 0 }
.mya-history .h-u-list-start .h-u-l-msg { height: 55px; margin-top: 6px; padding-top: 0 }
.mya-history .h-u-list-start .h-u-l-m-info { margin-top: -6px }
.mya-history .h-u-list-start .h-u-l-button, .mya-history .h-u-list-start .h-u-l-info, .mya-history .h-u-list-start .h-u-l-price { padding-top: 0 }
.mya-history .h-u-list-start .h-u-l-m-i-dot { background: url(../images/slice-s13f9a4dbb7.png) no-repeat 0 -855px; height: 11px; width: 11px; top: 3px; left: -31px }
.mya-history .h-u-list-end .h-u-l-msg { height: 14px }
.mya-history .h-u-list-end .h-u-l-m-i-dot { display: none }

/* 个人信息 */
.per_infor{padding:20px 0px 20px 10px}
.per_infor a.avatar{display:inline-block;width:75px;height:75px;margin-right:20px;position:relative}
.per_infor a.avatar .trans_bg{display:block;width:75px;height:75px;position:absolute;left:0px;top:0px;background:#000;opacity:0.6;filter:alpha(opacity=60);color:#fff;text-align:center;line-height:75px}
.per_infor .avatar img{width:75px;height:75px}
.per_infor .per_name span{color:#333333;}
.per_infor .per_name .account_name{padding:3px 0px;}
.per_infor .per_name .securelevel em{vertical-align:middle}
.per_infor .per_name .securelevel i{margin-right: 4px;font-size: 0;width: 79px;height: 10px;vertical-align:middle}
.per_infor .per_name .securelevel i.low{background: url(../images/users_icon.png) 0px -104px;}
.per_infor .per_name .securelevel i.middle{background: url(../images/users_icon.png) 0px -115px;}
.per_infor .per_name .securelevel i.high{background: url(../images/users_icon.png) 0px -126px;}
.per_infor .per_name .securelevel i.highest{background: url(../images/users_icon.png) 0px -138px;}

/***** upload users avatar module start *****/
.item{margin:15px 0px}
.upload_avatar{min-width:350px;padding:50px;}
.upload_avatar .u_sub{padding:6px 25px}
.upload_avatar .cancle{background:#c4ccd1}
/***** upload users avatar module end   *****/


/* 安全设置 */
.user-safe-wrap li{height:78px;border-bottom:1px solid #D8D8D8}
.user-safe-wrap li p{display:inline-block; margin-right:40px; vertical-align:middle}
.user-safe-wrap .user-safe-icon{background:url(../images/icon-usersafe.png) center no-repeat; width:60px; height:78px}
.user-safe-icon.safe-warnning{background-image:url(../images/icon-usersafe-2.png)}


/*****  add bank card modules start  *****/
.add_bank_cont{}
.add_bank_cont .remark{margin-left:50px;vertical-align:middle}
.add_bank_cont .notice{padding:30px 0px 50px 120px;width:500px; font-size:12px}
.add_bank_cont .notice h4 i{width:20px;height:20px;background-position:-111px -80px;vertical-align:middle}
.add_bank_cont .notice h4 span{vertical-align:middle}
.add_bank_cont .notice p{color:#999999;padding-left:20px; }
.bank_list{padding:40px 10px 50px 10px}
.bank_list dd{width: 224px;height: 130px;text-align: left;border: 1px solid #ccc;
border-radius: 5px;float: left;margin: 10px;display: inline;cursor: pointer;overflow: hidden;position: relative;box-shadow:3px 3px 3px #ebebed}
.bank_list dd .bank_card_infor{padding:5px 10px;border-bottom:1px dashed #b6b9be}
.bank_list dd .bank_card_infor img{ height:30px; width:auto}
.bank_list dd .edit_card{padding:5px 10px;}
.bank_list dd .edit_card i{width: 20px;height: 20px;vertical-align: middle;}
.bank_list dd .edit_card i.yes{background-position: -62px -80px;}
.bank_list dd .edit_card i.no{background-position:-86px -81px}
.bank_list dd .edit_card em{vertical-align:middle;color:#ff0000}
.bank_list dd .edit_card a{font-size:14px}
.bank_list dd p{}
/*****  add bank card modules end    *****/

/***** 提醒设置 start *****/
.user_box .remind_set{padding:20px;font:14px/22px "Microsoft YaHei"}
.user_box .remind_set p span{ color:#FF0000}
.set_form{ margin-top:10px}
.set_form table.tabyel{border-collapse:collapse;width:100%}
.set_form table td{border:1px solid #E2E2E2;line-height: 32px;text-align: center; font-family:"Microsoft YaHei"}
.set_form table tr.tab_head{ height:35px;line-height:35px;background:#f1f1f1}
.set_form table tr.tab_head td{ font-size:14px; color:#333333; }
.u_submit{ margin-top:10px; text-align:center}
/***** 提醒设置 end     *****/


.user_tab3{width:100%;border-collapse: collapse;}
.user_tab3 thead{background:#f1f1f1}
.user_tab3 td,.user_tab3 th{text-align:center;font:12px/20px "Microsoft YaHei";padding:10px 1px;color:#3d3d3d;border-top:1px solid #e2e2e2}
.user_tab3 tr.tab3_tit td{background:#f6f6f6;font-family:"Microsoft YaHei"}
.user_tab3 td a{color:#0073b6;margin:0px 5px;}
.user_tab3 tfoot td a{color:#0073b6;margin-left:0px;margin-right:8px}
.user_tab3 td a:hover{text-decoration:underline;}
/*****  system messages modules start  *****/
.sys_msg_list .user_tab3 thead{background:none}
.sys_msg_list .user_tab3 thead th{border-top:none;}
.sys_msg_list .user_tab3 thead th input{*margin-left:27px}
.sys_msg_list .user_tab3 thead th a{margin-right:10px}
.sys_msg_list .user_tab3 .sys_msg_detai{font:14px/20px "Microsoft YaHei";text-align:left}
.sys_msg_list .user_tab3  p.msg_cont{border-top:1px dashed #e2e2e2;margin-top:10px;padding:10px 0px 10px 20px;background:#F4F4F4;display:none;}
.sys_msg_list .user_tab3 a.f_bold{font-weight:bold;color:#0697DA;margin:0px}
.sys_msg_list .user_tab3 a.f_normal{font-weight:normal;color:#666666;margin:0px}
.msg-time{top:5px; right:5px; position:absolute; font-size:12px; color: #666}
.sys_msg_list .msg-icon{position:absolute; left:-25px; top:1px; font-size:14px; color:#999}
/*****  system messages modules end    *****/


/* help center */
.help-block{width:33%;float:left; padding:15px 40px; border-right:1px solid #DDDDDD}
.help-block i{width:120px; height:120px; display:block; margin:20px auto; background:url(../images/help-icon-120.png) no-repeat #B9B9B9; border-radius:50%;/*-moz-transition:all 0.5s;-ms-transition:all 0.5s;-o-transition:all 0.5s; -webkit-transition:all 0.5s;transition:all 0.5s*/}
.help-block:hover i{-webkit-animation:ani-shak 1.5s infinite linear;-ms-animation:ani-shak 1.5s infinite linear;-o-animation:ani-shak 1.5s infinite linear ;animation:ani-shak 1.5s infinite linear}
@-webkit-keyframes ani-shak{
	from{background-color:#386FEF; -webkit-transform:scale(1.0,1.0)}
	25%{background-color:#386FEF; -webkit-transform:scale(0.95,0.95)}
	75%{background-color:#386FEF; -webkit-transform:scale(1.05,1.05)}
	to{background-color:#386FEF; -webkit-transform:scale(1.0,1.0)}
}
@keyframes ani-shak{
	from{background-color:#386FEF; transform:scale(1.0,1.0)}
	25%{background-color:#386FEF; transform:scale(0.95,0.95)}
	75%{background-color:#386FEF; transform:scale(1.05,1.05)}
	to{background-color:#386FEF; transform:scale(1.0,1.0)}
}
.help-block h1{ text-align:center; line-height:40px; font-size:20px; margin-bottom:30px} 
.help-block li{ padding-left:15px; background:url(../images/arrow2.gif)  no-repeat center left}
.help-block li a{font-size:14px; line-height:1.8em; color: #838383;display:block;overflow:hidden;/*注意不要写在最后了*/white-space:nowrap; -o-text-overflow:ellipsis;text-overflow:ellipsis;}
.help-block li a:hover{ text-decoration:underline;}
.helplist li{padding:8px 0 8px 15px; background:url(../images/dot3x3.gif)  no-repeat center left; border-bottom:1px dotted #f0f0f0}

/* 关于我们 */
.aboutnav-wrap {padding-left:80px}
.aboutnav-wrap li{ margin-bottom:3px}
.aboutnav-wrap li a{display:block; width:70px; height:70px; border-radius:50%; background:#f0f0f0; position:relative; overflow:hidden; transition:all .5s}
.aboutnav-wrap li a:hover {background-color:#386FEF; background-image:none}
.aboutnav-wrap li a.nav-current{background-image:none}
.aboutnav-wrap li a b{position:absolute; top:75px; left:0; display:block; width:70px; color:#fff; font-size:1.4em; text-align:center; line-height:26px; margin-top:10px;}

.aboutnav-wrap li a.nav-current b{top:0px !important;}
.aboutnav-wrap .aboutnav{ background:url(../images/icon-aboutnav.png) no-repeat #ccc}/* 386FEF */
.aboutnav.nav-introduction{background-position:0 0}
.aboutnav.nav-certificate{background-position:0 -70px}
.aboutnav.nav-riskcontrol{background-position:0 -140px}
.aboutnav.nav-team{background-position:0 -210px}
.aboutnav.nav-partners{background-position:0 -280px}
.aboutnav.nav-contact{background-position:0 -350px}
.aboutnav-wrap .aboutnav.nav-current{background-color:#386FEF}


/* 鱼蛋宝list */
.ydb-list-img{width:210px; float:left; display:block}
.ydb-list-img img{width:210px; height:210px;display:block}
.ydb-list-main{float:left; width:930px}

/* 优惠券 */
.coupons-wrap input{display:none ;}

.coupons-wrap li{margin-bottom: 15px; width:30%; float:left; margin-right:3%}
.coupon-item{border-radius:6px;  padding: 0 ;font-size: 10px; position: relative;}
.coupon-topline{height:5px; background: url(../images/coupon-bg.png) repeat-x top;}
.coupon-main{padding:10px 10px 15px; height: 105px;background-color:#347CC7;}
.coupon-tit{font-size: 16px;line-height:1.8em;}
.coupon-tip{position: absolute; bottom: 8px; left:10px;color: #fff;font-size: 12px;}
.coupon-value{position: absolute;top:20px;right: 10px; font-size:5em; letter-spacing:0}
.coupon-value small{font-size: .5em; padding-right:0.1em}
.coupon-item.coupon-overdue{border-bottom: 3px solid #78abe1 ; color: #98BCE3;}
.coupon-item.coupon-overdue .coupon-tip{color: #98BCE3;}
.coupon-item.coupon-usable{border-bottom: 3px solid #78abe1; color: #fff;}
.checkeddiv{width:50px; height: 50px; background: url(../images/coupon-cheked.png) no-repeat ; background-size: 100% 100%; position:absolute; top:30px; right: 60px;}

.sys-vip{}
.sys-vip li{ width:24%; border-radius:3px; margin-left:1%; padding:15px 0 30px; float:left; margin-bottom:15px; border:1px solid #f0f0f0; text-align:center; -webkit-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;transition:all 0.2s ease-in-out}
.sys-vip li:hover{background:#f0f0f0;border:1px solid #4786C0;-webkit-box-shadow:2px 2px 2px rgba(30,30,30,0.3);-moz-box-shadow:2px 2px 2px rgba(30,30,30,0.3);-o-box-shadow:2px 2px 2px rgba(30,30,30,0.3);-ms-box-shadow:2px 2px 2px rgba(30,30,30,0.3);box-shadow:2px 2px 2px rgba(30,30,30,0.3)}
.sys-vip .sys-vip-header{width:100px; height:100px;  display:block; margin:15px auto;  }
.sys-vip .sys-vip-header img{width:100%; height:100%;border-radius:50%;-webkit-box-shadow:2px 2px 2px rgba(30,30,30,0.3);-moz-box-shadow:2px 2px 2px rgba(30,30,30,0.3);-o-box-shadow:2px 2px 2px rgba(30,30,30,0.3);-ms-box-shadow:2px 2px 2px rgba(30,30,30,0.3);box-shadow:2px 2px 2px rgba(30,30,30,0.3)}
.sys-vip .sys-vip-name{font-size:1.2em;}
.sys-vip .sys-vip-btn{display:inline-block; font-size:16px; color:#fff; width:75%; background:#3374B8; border-radius:6px; line-height:30px; padding:5px 0; text-align:center; margin-top:15px;-webkit-box-shadow:2px 2px 2px rgba(30,30,30,0.3);-moz-box-shadow:2px 2px 2px rgba(30,30,30,0.3);-o-box-shadow:2px 2px 2px rgba(30,30,30,0.3);-ms-box-shadow:2px 2px 2px rgba(30,30,30,0.3);box-shadow:2px 2px 2px rgba(30,30,30,0.3)}


/* 大转盘样式 add with 2016-03-29 */
.luckdraw-container{background:url(../images/prize/drawbg.jpg) no-repeat top center #2462b7;overflow-x:hidden; padding:400px auto 0 }
.luckdraw{display:block;width:422px; height:422px;margin:20px auto}
.luckdraw .turnplate{display:block;width:100%; height:100%;position:relative;}
.luckdraw .turnplate canvas.item{width:100%; height:100%;margin: 0}
.luckdraw .turnplate img.pointer{position:absolute;width:31.5%;height:42.5%;left:34.6%;top:23%;}
.luckdraw-container .luck-changce{width: 300px; background-color: #fff; margin: 15px auto; border: 1px solid #ccc; box-shadow: 2px 2px 4px rgba(0,0,0,0.2);  height:40px; border-radius: 50px; text-align: center; line-height: 40px; font-size: 14px; color:#333}
.win-record-container{width: 800px; margin: 30px auto 20px; background-color: #fff; border-radius: 10px;-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.2);-ms-box-shadow: 2px 2px 4px rgba(0,0,0,0.2);-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.2);}
.win-record-container .win-tit{font-size: 16px; line-height: 3em; padding-left: 15px; border-bottom: 1px solid #ccc; background-color: #f5f5f5}
.win-record-container .win-list{padding: 15px;}
.win-record-container .win-list li{padding:6px; border-bottom: 1px dashed #ccc; clear: both}
.win-record-container .win-list li .win-user-head{ display: inline-block; width: 50px; height:50px; border-radius: 50%; margin-right: 15px}
.win-record-container .win-list li span{display: inline-block; line-height: 50px;}
.win-record-container .win-list li .win-time{float: right; font-size: 12px;color:#666}

/* 扫描二维码注册 add with 2016-03-31 */
.qr-reg-banner{background-image:url(../images/reg-banner.jpg)}
.reg-qr-container{padding: 50px 0; text-align: center}
.reg-qr-img{display: inline-block;	width: 100%}
.reg-qr-tips{line-height: 3em; text-align:center;display: inline-block;font-size: 1.2em}

/* 404 */
html{height:100%}
.error-bg{min-height:100%;background: url(../images/bg-404.jpg) no-repeat top center;-webkit-background-size:100% 100%;-moz-background-size:100% 100%;-ms-background-size:100% 100%;background-size:100% 100%;}
.error-bg .topbar{background-color: #ccc;background-color:rgba(255,255,255,0.8); -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);-ms-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);box-shadow: 1px 1px 2px rgba(0,0,0,0.2) }
.error-bg .header-bg{background-image: none}
.error-container{padding:50px; text-align: center;margin-top:60px;}
.error-container .error-icon{width: 245px;	height:129px;display: inline-block; background: url(../images/error-icon2.png) no-repeat}
.error-container b{font-size: 1.6em;color:#666;margin-top:40px; line-height:3em;display: block}

/* 收货地址 display:none*/
.address-list{ margin: 15px 0}
.address-list li {padding:15px 10px; font-size: 14px; color: #666; border: 1px solid #f0f0f0; margin-bottom: 15px; border-radius: 4px; -webkit-transition: all 0.5s;-moz-transition: all 0.5s;-ms-transition: all 0.5s;transition: all 0.5s;}
.address-list li span{ margin: 0 6px}
.address-list li a{margin: 0 3px; }
.address-list li.default-address{ border-color: #2A7BDB; color: #0a6a9f;padding:20px 10px;}
.address-list li:hover{box-shadow: 2px 2px 2px rgba(0,0,0,0.2); border-color:#0a6a9f}

/* 确认订单 ;display:none*/
.choose-address-wrap{ margin: 15px 0}
.choose-address-wrap label {padding:15px 10px; font-size: 14px; color: #666; border: 1px solid #f0f0f0; margin-bottom: 8px; border-radius: 4px; -webkit-transition: all 0.5s;-moz-transition: all 0.5s;-ms-transition: all 0.5s;transition: all 0.5s;background: url(../images/choosed-addr-bg.png) 1200px center no-repeat}
.choose-address-wrap label span{ margin: 0 6px}
.choose-address-wrap label a{margin: 0 3px}
.choose-address-wrap label.choosed-address{ border-color: #2A7BDB; color: #0a6a9f;padding:15px 10px; background: url(../images/choosed-addr-bg.png) 980px center no-repeat}
.choose-address-wrap label:hover{box-shadow: 2px 2px 2px rgba(0,0,0,0.2); border-color:#0a6a9f}

/* 众筹完成图标 */
.zc-list-img .fhtz{width:200px;height:200px;position:absolute;top:60px;right:-30px;background:url(../images/fhtz.png) center no-repeat}
.zc-list-img .fhtz .tz1{width:140px;height:30px;display:block;overflow:hidden;position:absolute;top:82px;left:40px;font-size:24px;color:#ce0000}
.zc-list-img .fhtz .tz2{height:30px;display:block;overflow:hidden;position:absolute;top:140px;left:55px;font-size:22px;color:#ce0000}