@CHARSET "UTF-8";
/* 统计 */
.tjonline{
	width:1020px;
	margin:0 auto;
	height:112px;
	line-height:90px;
}
.tjonline .one{
	text-align:center;
	border-right:1px solid #999;
	height:60px;
	width:335px;
	float:left;
	line-height:30px;
	font-size:18px;
	color:#333;
	margin-top:30px;
}

/* 公告  */
.gg_online{
	width:100%;
	height:50px;
	background-color:#f6f7f8;
}
.gg_online .art{
	width:1020px;
	height:50px;
	margin:0 auto;
}
.gg_online .art span{
	font-size:16px;
	
}
.gg_online .art .one{
	width:95px;
	height:50px;
	margin:15px;
	font-size:12px;
}
.gg_online .art .two{
	width:750px;
	height:50px;
	line-height:50px;
	margin-left:20px;
}
.gg_online .art .three{
	width:90px;
	height:50px;
	float:right;
	line-height:50px;
}

/*标种*/

.deal{
	width:100%;
	height:480px;
	background-color:#e5e5e5;
	margin:0 auto;
 
}
.deal .list{
	width:1020px;
	height:480px;
	padding-top:30px;
	margin:0 auto;
	text-align:center;
	
}
.deal .list .ones{
	height:380px;
	width:325px;
	float:left
	
	
	
}
div.ones{
	background-color:#fff;
	height:380px;
	width:325px;
	float:left
}

div.ones:hover{
	height:380px;
	background-color:#FFB90F;
	color:#fff;
}
.deal .list .twos{
	height:380px;
	width:325px;
	float:left;
	margin-left:20px;
	
}
div.twos{
	background-color:#fff;
}

div.twos:hover{
	height:380px;
	background-color:#AAA1E7;
	color:#fff;
}
.deal .list .threes{
	height:380px;
	width:325px;
	float:left;
	margin-left:20px;
	
}
div.threes{
	background-color:#fff;
}

div.threes:hover{
	height:380px;
	background-color:#FDA988;
	color:#fff;
}
.deal_top{
	background:url(../img/xiangmu.png);
	background-size:cover;
	width:176px;
	height:176px;
	border-radius:88px;
	-webkit-border-radius: 88px;
	-moz-border-radius: 88px;
	margin:5px auto 24px;
	behavior: url(ie-css3.htc); /* 通知IE浏览器调用脚本作用于'box'类 */
	
	border:4px solid #fff;
}
.deal_top h1 h2 span{
	font-weight:bold;
	color:#333;
}
.deal_top h1{
	font-size:24px;
	color:red;
}
.deal_top h2{
	font-size:21px;
	color:#333;
}
.deal_top span{
	color:#333;
}
.list h1{
	font-size:28px;
	font-weight:bold;
}
.deal_botton{
	width:100%;
	height:48px;
	line-height:45px;
	font-size:18px;
    border-top:1px solid #999;
	margin-bottom:0px;
	margin-top:0px;
	
}
.banlk{
	width:100%;
	height:60px;
}

/*投资列表*/
.bakk{
	width:100%;
	height:20px;
}
.f_list{
	width:1020px;
	min-height:300px;
	margin:0 auto;
}
.f_title{
	width:100%;
	height:45px;
	border-left:5px solid #FFB90F;
}
.f_title h1{
	line-height:45px;
	padding-left:10px;
	font-size:21px;
	font-weight:bold;
	width:960px;
	float:left;
}
.f_title span{
	width:50px;
	padding-right:8px;
	float:left;
	line-height:45px;
}
.f_main{
	width:100%;
	min-height:70px;
}
.f_deal_title{
	width:100%;
	height:35px;
	font-size:21px;
	font-weight:bold;
	font-family:"宋体";
	line-height:35px;
	background-color:#e5e5e5;
	border:1px solid #e5e5e5;
}
.f_deal_main{
	width:100%;
	height:90px;
	border:1px solid #999;
}
.f_deal_main ul{
	width:860px;
	height:90px;
	float:left;
}
.f_deal_main ul li{
	width:170px;
	height:90px;
	float:left;
	text-align:center;
}
.f_deal_main h1{
	font-size:21px;
	font-weight:bold;
	padding-top:30px;
	text-align:center;
}
.f_deal_main p{
	text-align:center;
	
}
.f_tb{
	text-align:center;
	width:110px;
	height:80px;
}
.art_list{
	width:1020px;
	margin:0 auto;
	min-height:200px;
}
.art_list .art_gg{
	width:500px;
	float:left;
	min-height:200px;
}
.art_list .art_new{
	width:500px;
	float:left;
	min-height:200px;
	margin-left:10px;
}
.art_title{
	width:100%;
	height:40px;
	line-height:40px;
	border-left:5px solid #FFB90F;
	padding-left:10px;
}
.art_title h1{
	line-height:40px;
	width:400px;
	float:left;
	font-size:21px;
	font-weight:bold;
}
.art_title span{
	width:100px;
	height:40px;
	line-height:40px;
	float:left;
}
.art_gg ul li{
	width:100%;
	height:35px;
	
}
.art_gg ul li a{
	width:400px;
	height:35px;
	flaot:left;
}
.art_gg ul li span {
	width:100px;
	height:35px;
	color:#999;
	flaot:left;
}
/*car 样式*/
/* CSS Document */
.count_top{
width:1200px;
height:100px;
margin:0 auto;
box-shadow:0px 1px 2px 1px #e1e1e1;
}
.count_img1{
width:295px;
height:100px;
float:left;

}
.count_img1 .rol1{
width:60px;
margin-top:20px;
margin-left:20px;
float:left;
}
.count_img1 .rol2{
width:190px;
height:90px;
margin-left:20px;
margin-top:5px;
float:left;
border-right:1px solid #e1e1e1;
}
.count_img1 .rol2 p{
font-size:18px;
font-weight:bold;
margin-top:20px;
margin-bottom:10px;
}
.count_img2{
width:295px;
height:100px;
float:left;
}
.count_img2 .rol1{
width:60px;
margin-top:20px;
margin-left:20px;
float:left;
}
.count_img2 .rol2{
width:190px;
height:90px;
margin-left:20px;
float:left;
margin-top:5px;
border-right:1px solid #e1e1e1;
}
.count_img2 .rol2 p{
font-size:18px;
font-weight:bold;
margin-top:20px;
margin-bottom:10px;
}
.count_img3{
width:295px;
height:100px;
float:left;
}
.count_img3 .rol1{
width:60px;
margin-top:20px;
margin-left:20px;
float:left;
}
.count_img3 .rol2{
width:190px;
height:90px;
margin-left:20px;
float:left;
margin-top:5px;
border-right:1px solid #e1e1e1;
}
.count_img3 .rol2 p{
font-size:18px;
font-weight:bold;
margin-top:20px;
margin-bottom:10px;
}
.count_img4{
width:295px;
height:100px;
float:left;
}
.count_img4 .rol1{
width:60px;
margin-top:20px;
margin-left:20px;
float:left;
}
.count_img4 .rol2{
width:190px;
height:100px;
margin-top:5px;
margin-left:20px;
float:left;
}
.count_img4 .rol2 p{
font-size:18px;
font-weight:bold;
margin-top:20px;
margin-bottom:10px;
}
/* 推荐项目 */
.deal_main{
height:560px;
width:1200px;
margin:0 auto;
margin-top:20px;
}
.deal_main .deal_main_left{
width:700px;
height:560px;
float:left;
}
.deal_main_left .mainning_t{
	width: 100%;
	height:40px;
}
.mainning_t h3{
	border-left:4px solid #E7AB64;
	padding-left: 20px;
	margin-bottom: 0px;
	font-size:21px;
	width:200px;
	line-height:35px;
	height:35px;
	float: left;
}
.mainning_t_a{
	width: 60px;
	height: 25px;
	margin-top:10px;
	text-align: center;
	float:right;
	background-color: #f1f1f1;
	text-decoration:none;
}
.deal_list_wait{
	width: 100%;
	height: 230px;
	border:1px solid #f1f1f1;
	margin-top: 25px;
}
.deal_list_img{
	float: left;
	width: 280px;
	height: 200px;
	overflow: hidden;
	margin-top: 10px;
	margin-left: 10px;
}
.deal_list_conten{
	width: 390px;
	height: 200px;
	float: left;
	overflow: hidden;
	margin-top: 10px;
	margin-left: 10px;
}
.deal_list_conten h4{
	margin-top: 2px;
}
.deal_list_conten_art{
	width: 100%;
	height: 125px;
}
.deal_list_conten_foot{
	width: 100%;
	height: 30px;
	line-height: 30px;
	bottom:0;
	position:relative;
}
.deal_list_conten_foot a{
	float: right;
	padding-right: 10px;
	text-decoration:none;
	color: #E7AB64;
}
.deal_main .deal_main_right{
width:480px;
height:530px;
float:left;
margin-left:15px;
}
.deal_main_right .mainning_t{
	width: 100%;
	height:40px;
}
.deal_art_list{
	width: 100%;
	height: 85px;
	margin-top: 15px;
	overflow: hidden;
	border-left:1px solid #f1f1f1;
	border-right:1px solid #f1f1f1;
	border-bottom: 1px dashed #f1f1f1;
}
.deal_art_list_img{
	width: 115px;
	height: 80px;
	overflow: hidden;
	float: left;
	margin-left: 10px;
}
.deal_art_list_con{
	width: 330px;
	height: 80px;
	overflow: hidden;
	float: left;
	color:#585858;
	font-size:14px;
	margin-left:20px;
}
.deal_art_list_con p{
	padding-top:10px;
	line-height:25px;
	color:#727272;
}
.deal_art_list_con p a{
	color:#E7AB64;
}
/* 推荐项目*/
.recom_deal_main{
	width: 100%;
	height: 520px;
	background-color: #eeeeee;
	margin-top: 20px;
}
.recom_deal_main_body{
	width: 1200px;
	height: 520px;
	margin:0 auto;
}
.recom_t{
	width: 100%;
	height:40px;
}
.recom_t h3{
	border-left:4px solid #E7AB64;
	padding-left: 20px;
	margin-bottom: 0px;
	width:200px;
	margin-top:10px;
	font-size:21px;
	line-height:35px;
	height:35px;
	float: left;
}
.recom_t a{
	width: 60px;
	height: 25px;
	margin-top: 20px;
	text-align: center;
	float:right;
	margin-right:15px;
	background-color: #d2cfce;
	text-decoration:none;
}
.recom_deal_list{
	width: 1200px;
	height: 430px;
	margin-top: 20px;
}
.recom_deal_one{
	width: 285px;
	height: 420px;
	float: left;
	position:relative;
	margin-left: 10px;
	background-color:#fff;
	border:1px solid #e1e1e1;
}
.recom_deal_img{
	width:285px;
	height: 190px;
	overflow: hidden;
	background-color: #999;
}
.recom_deal_imgbq{
	width:76px;
	height:66px;
	left:0;
	top:0;
	position:absolute;
	z-index:1;
}
.recom_deal_one:hover .recom_deal_mous{
	display:block;
}
.recom_deal_mous{
	width:285px;
	display:none;
	left:0;
	top:0;
	height: 190px;
	position:absolute;
	z-index:2px;
	background-color:rgba(0,0,0,0.6);
}
.recom_deal_title{
	width: 100%;
	height: 40px;
	text-align: center;
	font-size: 16px;
	line-height:40px;
	font-weight: bold;
	border-bottom: 1px dashed #e1e1e1;
}
.recom_deal_title a{
	color:#585858;
	text-decoration:none;
}
a{
		color:#585858;
	text-decoration:none;
}
.recom_deal_status{
	width: 100%;
	height: 45px;
	border-bottom: 1px dashed #e1e1e1;
}
.recom_deal_status .recom_time{
	background:url(../images/deal_list_time.png) no-repeat;
	background-position: 10px 15px;
	width: 170px;
	height: 45px;
	font-size: 14px;
	line-height: 45px;
	padding-left:30px;
	color: #444;
	float: left;
}
.recom_deal_status .recom_status{
	width: 65px;
	height:30px;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	text-align: center;
	border-radius: 8px;
	line-height: 30px;
	border:2px solid #E7AB64;
}
.recom_deal_long{
	width: 100%;
	height: 85px;
	border-bottom: 1px dashed #e1e1e1;
}
.recom_deal_long_h{
	width:100%;
	height:20px;
}
.long_h{
	line-height:15px;
	width:255px;
	height:15px;
	margin-top:5px;
}
.recom_deal_long p{
	margin-top:5px;
	margin-left:15px;
	width: 170px;
	font-size: 14px;
	line-height: 25px;
	height: 25px;
	color: #666;
	float: left;
}
.recom_deal_long span{
	width: 100px;
	font-size: 14px;
	height: 25px;
	margin-top:5px;
	color: #666;
	line-height: 25px;
	float: left;
}
.recom_list_button{
	width: 120px;
	height: 25px;
	margin-top: 10px;
	margin-left:80px;
	background-color: #E7AB64;
	border-radius: 5px;
}
.recom_list_button a{
	width: 120px;
	height: 25px;
	line-height: 25px;
	text-decoration:none;
	color: #fff;
	padding-left: 30px;
}
/* 众筹中项目 */

.dealing_main{
	width:100%;
	height: 520px;
}
.dealing_main_body{
	width: 1200px;
	height: 520px;
	margin: 0 auto;
}
.recom_body{
	width:100%;
	height:450px;
	margin-top: 20px;
}
.recom_body_left{
	width:510px;	
	height:450px;
	float: left;
	border:1px solid #f1f1f1;	
}
.recom_left_img{
	width: 510px;
	height: 300px;
	position:relative;	
	overflow: hidden;
	background-color: #666;
}
.recom_left_title{
	width: 100%;
	height:50px;
	line-height: 50px;
	text-align: center;
	overflow: hidden;
	border-bottom: 1px dashed #666;
}
.recom_press{
	width: 100%;
	height:40px;
}
.recom_foot{
	width: 100%;
	height: 55px;
}
.recom_foot_left{
	width: 330px;
	height: 55px;
	float: left;
}
.recom_foot_left p{
	margin:0;
	text-align: center;
	height: 25px;
	line-height: 25px;
	width: 165px;
	float:left;
}
.recom_foot_right{
	width: 170px;
	height: 55px;
	float: left;
}
.recom_foot_right a{
	display: block;
	width: 140px;
	height: 32px;
	text-align: center;
	color: #fff;
	line-height: 32px;
	text-decoration: none;
	margin:10px auto;
	background-color: #E7AB64;
	border-radius: 5px;
}
.recom_body_right{	
	width: 685px;
	height: 450px;
	float: left;
}
.recom_right_list{
	position:relative;	
	width: 200px;
	height: 220px;
	float: left;
	margin-top: 5px;
	margin-left: 20px;
	border:1px solid #f1f1f1;	
	background-color: #fff;
}
.recom_right_img{
	width: 200px;
	height: 125px;
	overflow: hidden;
	background-color: #f1f1f1;
}
.recom_right_title{
	width: 100%;
	height: 45px;
	text-align:center;
	line-height:20px;
	border-bottom: 1px dashed #999;
}
.recom_right_botton{
	width: 100%;
	height: 50px;
}
.recom_right_botton a{
	display: block;
	width: 100px;
	height: 30px;
	margin: 10px auto;
	text-align: center;
	background-color: #E7AB64;
	border-radius: 5px;
	text-decoration: none;
	line-height: 30px;
	color:#fff;
}





/***/
.rides-cs {  font-size: 12px; background:#29a7e2; position: fixed; top: 250px; right: 0px; _position: absolute; z-index: 1500; border-radius:6px 0px 0 6px;}
.rides-cs a { color: #00A0E9;}
.rides-cs a:hover { color: #ff8100; text-decoration: none;}
.rides-cs .floatL { width: 36px; float:left; position: relative; z-index:1;margin-top: 21px;height: 181px;}
.rides-cs .floatL a { font-size:0; text-indent: -999em; display: block;}
.rides-cs .floatR { width: 130px; float: left; padding: 5px; overflow:hidden;}
.rides-cs .floatR .cn {background:#F7F7F7; border-radius:6px;margin-top:4px;}
.rides-cs .cn .titZx{ font-size: 14px; color: #333;font-weight:600; line-height:24px;padding:5px;text-align:center;}
.rides-cs .cn ul {padding:0px;}
.rides-cs .cn ul li { line-height: 38px; height:38px;border-bottom: solid 1px #E6E4E4;overflow: hidden;text-align:center;}
.rides-cs .cn ul li span { color: #777;}
.rides-cs .cn ul li a{color: #777;}
.rides-cs .cn ul li img { vertical-align: middle;}
.rides-cs .btnOpen, .rides-cs .btnCtn {  position: relative; z-index:9; top:25px; left: 0;  background-image: url(http://demo.lanrenzhijia.com/2014/service1031/images/lanrenzhijia.png); background-repeat: no-repeat; display:block;  height: 146px; padding: 8px;}
.rides-cs .btnOpen { background-position: 0 0;}
.rides-cs .btnCtn { background-position: -37px 0;}
.rides-cs ul li.top { border-bottom: solid #ACE5F9 1px;}
.rides-cs ul li.bot { border-bottom: none;}

/* 通乾众筹新版 */
/* CSS Document */
.index_notice{
	background-color:#F6F5F4;
	width:100%;
	height:70PX;
	line-height:70px;
	font-size:16px;
}
.index_notice_son{
	width:1200px;
	height:70px;
	margin:0 auto;
}
.index_notice_img{
	float:left;
	margin-top:20px;
	margin-left:10px;
}

.index_notice_font{
	float:left;
	margin-left:30px;
}
.index_notice_time{
	float:right;
	margin-right:80px;
}
.index_youdian_star{
	width:100%;
	height:220px;
	margin-top:75px;
	
}
.index_youdian{
	border:1px solid #e1e1e1;
	width:1200px;
	height:220px;
	margin:0 auto;
}
.index_youdian_son{
	width:124px;
	height:180px;
	float:left;
	margin-left:180px;
	margin-top:24px;
}
.index_youdian_son_fuben{
	margin-left:80px;
}

.index_youdian_font{
	float:left;
	margin-left:10px;
	margin-top:20px;
	font-size:24px;
	font-weight:bold;
	color:#333333;
}
.index_hot{
	
	width:100%;
	height:220px;
	margin-top:60px;
}
.index_hot_son{
	width:1200px;
	height:260px;
	margin:0 auto;
}
.index_count{
	border:1px solid #e1e1e1;
	width:380px;
	height:260px;
	float:left;
}

.index_count_money{

	margin-top:25px;
	margin-left:50px;
	height:50px;
}
.index_count_img{
	
	width:55px;
	height:48px;
	float:left;
}
.index_info{

	margin-left:29px;
	width:240px;
	float:left;
	
}
.index_count_number{
	color:#E1963D;
	font-size:24px;
}
.index_count_font{
	margin-top:10px;
	color:#6B6B6B;
}
.index_count_money_leiji{
	margin-top:30px;
}
.index_count_money_zhuce{
	margin-top:30px;
}
.index_message{
	border:1px solid #e1e1e1;
	margin-left:41px;
	float:left;
	width:775px;
	height:260px;
	
}
.index_message_body{
	width:735;
	height:228px;
	margin:17px 20px 17px 20px;
}

.index_message_zs{
	margin-top:-228px;
}
.index_message_right{

	width:370px;
	height:228px;
	float:right;
	color:#333;
}
.index_message_right_pname{
	color:#000;
	font-weight:bold;
}
.index_message_img{
	width:337px;
	position:relative;
	height:228px;
	float:left;
	overflow:hidden;
}
.index_message_status{
	width:93px;
	height:77px;
	top:0;
	left:0;
	position:absolute;
	z-index:1;
}
.index_message_right_line{
	border-bottom:2px solid #e1e1e1;
	margin-top:10px;
}
.index_message_right_money{
	margin-top:20px;
	font-size:14px;
}
.index_specail{
	color:#E3963A;
	font-size:18px;
}

.index_message_right_day{
	
	margin-top:20px;
	font-size:14px;
	
}
.index_message_crp{
	margin-top:20px;
	font-size:14px;
}
.index_distance{
	width:240px;
	float:left;
}
.index_know_detail{
	width:100px;
	height:30px;
	text-align:center;
	line-height:30px;
	border-radius:20px;
	background-color:#E2963E;
	font-weight:bold;
	float:right;
	margin-bottom:20px;
}
.index_distance_clear{
	height:20px;
}
.index_know_detail a{
	text-decoration:none;
	color:#FFF;
}


.index_dis_body{

	margin:0 auto;
	margin-top:70px;
	width:1200px;
	height:415px;
}
.index_dis_body_left{
	
	background-image:url(../IMAGES/index_55_70.png);
	float:left;
	width:715px;
	height:415px;
}
.index_dis_body_left_title{
	width:100%;
	height:50px;
	text-align:center;
	color:#D59C45;
	font-size:20px;
}
.index_dis_body_left_title_font{
	
	width:500px;
	height:auto;
	margin:0 auto;
	font-size:20px;
	color:#FFF;
	font-weight:bold;
	text-align:left;
}
.index_dis_body_left_title_font p{
	line-height: 51px;
	width:500px;
	height:auto;
	margin:0 auto;
	font-size:20px;
	color:#FFF;
	font-weight:bold;
	text-align:left;
}
.index_dis_body_right{
	border: 1px solid #e1e1e1;
	margin-left:40px;
	width:440px;
	height:415px;
	float:right;
	color:#666;
}
.index_dis_body_right_title{
	border-bottom: 1px solid #ADACAA;
	height:70px;
	background-color:#E2963E;
	color:#FFF;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	line-height:70px;
}
.index_dis_body_right_a{
	border-bottom: 1px solid #e1e1e1;
	width:440px;
	height:45px;
	
}
.index_dis_body_right_b{
	width:144px;
	float:left;
	margin-top:10px;
	font-size:18px;
	text-align:center;
}
.index_dis_body_right_c{
	width:146.6px;
	float:left;
	margin-top:25px;
	font-size:18px;
	text-align:center;
}
.index_clears{ width:1200px; height:20px; margin:0 auto;}
.index_zhiyin{
	border:1px solid #000;
	width:1200px;
	height:125px;
	margin:0 auto;
	margin-top:30px;
	color:#FFF; 
	background-image:url(../IMAGES/index_55_69.png);
}
.index_zhiyin_left{

	width:140px;
	height:125px;
	float:left;
	margin-left:190px;
	text-align:center;
	
}
.index_zhiyin_fount{
	font-size:34px;
	font-weight:bold;
	margin-top:25px;
}
.index_zhiyin_det{
	border:1px solid #FFF;
	width:85px;
	height:25px;
	line-height:25px;
	text-align:center;
	border-radius:20px;
	margin-left:20px;
}

.index_zhiyin_right{                     	
	
	width:600px;
	height:125px;
	float:right;
	margin-right:180px;
}
.index_zhiyin_right_son{
	
	width:120px;
	height:125px;
	float:left;
}
.index_zhiyin_right_son_img{
	margin-left:32px;
	margin-top:20px;
}
.index_zhiyin_right_son_font{
	text-align:center;
	margin-top:20px;
}
.index_pro_body{
	
	width:1200px;
	height:50px;
	margin:0 auto;
	margin-top:30px;
}
.index_pro_success{ float:left; line-height:50px; font-size:18px; font-weight:bold;}
.index_pro_line{float:left;line-height:50px; width:1px; height:30px; border-left:1px solid #999; margin-top:10px; margin-left:10px; margin-right:10px;}

.index_pro_zc_success{float:left;width:90px; line-height:30px;height:30px; border:1px solid #999; text-align:center; margin-top:10px; font-weight:bold; font-size:14PX;border-radius:20px;}
.index_pro_zc_success:hover{border:1px solid #E29344; color:#E29344;}

.index_pro_money{float:left;width:90px; line-height:30px;height:30px; border:1px solid #999; text-align:center; margin-top:10px; color:#999; font-weight:bold; font-size:14PX;border-radius:20px; margin-left:20px;}
.index_pro_money:hover{border:1px solid #E29344; color:#E29344;}
.index_pro_huodong{float:left;width:90px; line-height:30px;height:30px; border:1px solid #999; text-align:center; margin-top:10px; color:#999; font-weight:bold; font-size:14PX;border-radius:20px; margin-left:20px;}
.index_pro_huodong:hover{border:1px solid #E29344; color:#E29344;}

.index_more{float:right;width:90px; line-height:30px;height:30px; border:1px solid #999; text-align:center; margin-top:10px; color:#999; font-weight:bold; font-size:14PX;border-radius:20px; margin-left:20px;}
.index_more:hover{border:1px solid #E29344; color:#E29344;}
.index_pro_lines{ width:100%; height:1px; border-bottom:1px solid #e1e1e1; margin-top:10px;}

.index_pro_content{ width:1200px; height:485px; margin:0 auto;}

.index_pro_content_img{ float:left; width:368px; height:220px; margin-left:20px; margin-top:20px;overflow:hidden;position:relative;}
.index_pro_content_img:hover  .index_cg_mengb{display:block}
.index_pro_content_img:hover  .index_cg_ttile{display:none;}
.index_cg_mengb{width:368px;height:220px;left:0;top:0;position:absolute;z-index:2;background-color:rgba(0,0,0,0.4);display:none;}
.index_cg_mengb h1{text-align:center;font-size:21px;color:#EDEAEA;maegin-top:15px;}
.index_cg_ttile{width:368px;height:40px;left:0;bottom:0;line-height:40px;z-index:2;position:absolute;color:#EDEAEA;background-color:rgba(0,0,0,0.4);text-align:center;font-size:21px;}
.index_cg_ttile a{color:#EDEAEA;font-size:21px;}
.index_cg_bg{width:368px;height:110px;background:url(../images/yuanjuan.png) no-repeat;background-position:center;margin-top:12px;}
.index_cg_bg h2{font-size:24px;color:#fff;text-align:center;padding-top:36px;}
.index_cg_mengb p{width:160px;height:30px;color:#EDEAEA;line-height:30px;float:left;padding-left:20px;}
/*.index_pro_content_fonts{ height:50px; width:368px; position:absolute; margin-top:90px; text-align:center; line-height:50px; color:#FFF; font-size:24px; font-weight:bold;}*/
.index_news_content{width:1200px; height:450px; margin:0 auto;margin-top:30px;}
.index_news_content_list{ width:590px; float:left; margin-top:20px; margin-left:10px;}
.index_news_content_time{ width:84px; height:85px; float:left; border:1px solid #CCC; }
.index_news_content_year{width:84px; height:25px; background-color:#E2943F;color:#FFF;}
.index_news_content_day{width:84px; height:60px;background-color:#F5F5F5;color:#666; text-align:center; line-height:60px; font-size:24px; font-weight:bold;}
.index_news_content_fount{ width:503px; height:87px; background-color:#F5F5F5;float:left;}
.index_news_content_title{ margin-left:35px; margin-top:10px;font-weight:bold;color:#333;}
.index_news_content_s{margin-left:35px;margin-top:10px; font-size:14px; color:#333;}


.index_hezuo_people{ margin-top:20px;}
.index_hezuo_content_body{ width:1200px; height:auto; margin:0 auto;}
.index_hezuo_content_body ul{}
.index_hezuo_content_body ul li{list-style-type:none; float:left; width:226px; height:73px; margin-left:5px;}

.index_pro_content_body{ width:1200px; height:800px; margin:0 auto;  margin-top:30px;}
.index_pro_content_left{ width:766px;height:750px;float:left; border:1PX solid  #e1e1e1;}
.index_pro_content_left_bigimg{width:766px;height:460px;position:relative;}
.index_pro_content_left_bigico{ width:206px;height:180px;top:0;left:0;position:absolute;}
.index_pro_content_left_bottom{width:766px; height:300px; border:1px solid #FFF;}
.index_pro_content_left_bottom_title{width:666px; margin-left:50px; text-align:left; margin-top:30px;
font-size:26px; font-weight:bold;}
.index_pro_content_left_bottom_font{width:666px;margin-left:50px; text-align:left;  margin-top:60px;}
.index_pro_content_left_bottom_font_one{ width:440px; line-height:40px;height:40px;color:#666; font-size:18px;font-weight:bold;}
.index_pro_content_left_bottom_font_two{float:left;font-weight:bold;}
.index_pro_content_left_bottom_font_three{float:left; margin-left:70px;}
.index_pro_content_left_bottom_font_four{width:440px; line-height:40px;height:40px;color:#666;font-size:18px;font-weight:bold;}
.index_pro_content_left_bottom_font_five{float:left;}
.index_pro_content_left_bottom_font_six{float:left;margin-left:70px;color:#666;font-weight:bold;}
.index_pro_content_left_bottom_font_seven{float:right; width:160px; height:45px; margin-top:-60px; text-align:center; line-height:45px;color:#FFF; border-radius:50px; font-weight:bold; background-color:#E2963E; font-size:18px;}
.index_pro_content_lin{ width:720px; height:1px; border-bottom:1px solid #e1e1e1; margin:0 auto; margin-top:20px;}
.index_pro_content_bottom_imgfont{width:666px; height:50px; color:#666;margin:17px auto 0; line-height:50px;font-weight:bold;}
.index_pro_content_bottom_imgfont img{ margin-top:5px; float:left;}
.index_pro_content_bottom_time{ float:left;}
.index_pro_content_bottom_info{float:left; margin-left:170px;}
.index_pro_content_bottom_zan{float:right;}
.index_pro_content_right_one{ border:1px solid #e1e1e1;}
.index_pro_content_right{
	width:400px;
	height:760px;
	float:right;
	
}
/* 小份复制 */
.index_pro_content_left_bigimg_small{width:400px;height:230px;overflow:hidden;position:relative;}
.index_pro_content_left_bigimg_smalla{width:365px;height:230px;overflow:hidden;position:relative;}
.index_pro_content_left_small{ width:400px;height:760px;border:1px solid #000; float:left;}
.index_pro_content_left_bigico_small{ margin-top:-220px;}
.index_pro_content_left_bottom_small{width:400px; height:; border:1px solid #FFF; }
.index_pro_content_left_bottom_title_small{width:400px; margin-left:15px; text-align:left;
font-size:16px; font-weight:bold;}
.index_pro_content_left_bottom_font_small{width:400px;margin-left:15px; text-align:left;  margin-top:15px;}
.index_pro_content_left_bottom_font_one_small{ width:440px; line-height:20px;height:20px;color:#666; font-size:14px;font-weight:bold;}
.index_pro_content_left_bottom_font_two_small{float:left;font-weight:bold;}
.index_pro_content_left_bottom_font_three_small{float:left; margin-left:20px;}
.index_pro_content_left_bottom_font_four_small{width:400px;line-height:40px;height:40px;color:#666;font-size:14px;font-weight:bold;}
.index_pro_content_left_bottom_font_five_small{float:left;}
.index_pro_content_left_bottom_font_six_small{float:left;margin-left:20px;color:#666;font-weight:bold;}
.index_pro_content_left_bottom_font_seven_small{float:right; width:85px; height:20px; margin-top:-35px; text-align:center; line-height:20px;color:#FFF; border-radius:20px; font-weight:bold; background-color:#E2963E; font-size:14px; margin-right:50px;}
.index_pro_content_lin_small{ width:340px; height:1px; border-bottom:1px solid #e1e1e1;  margin-left:20px; margin-top:10px;}
.index_pro_content_bottom_imgfont_small{width:400px; height:25px; color:#666;margin:0 auto; line-height:25px;font-weight:bold;}
.index_pro_content_bottom_imgfont_small img{ margin-top:5px; float:left;}
.index_pro_content_bottom_time_small{ float:left; margin-left:30px;}
.index_pro_content_bottom_info_small{float:left; margin-left:50px;}
.index_pro_content_bottom_zan_small{float:left;margin-left:60px;}
.index_pro_content_right_two{ margin-top:15px; border:1px solid #e1e1e1; width:400px; float:left;}
.index_pro_content_right_one_one{ float:left; margin-left:25px; width:365px;}

.index_pro_content_bottom{ width:1200px; height:380PX;;margin:0 auto;  }

.index_dis_end{ background-color:#DF9238; width:20PX; height:20PX; margin:0 auto; color:#FFF;}
.index_dis_end_back{ background-color:#999; width:20PX; height:20PX; margin:0 auto; color:#FFF;}

.wrapper,
.content1{
	width: 100%;
	overflow: hidden;
}
.content2{
	width: 1200px;
	margin:0 auto;
	overflow: hidden;
}
ul,
ul li{
	overflow:hidden;
}
a{
	cursor:pointer;
}
.five-title{
	height: 45px;
	padding:25px 0 20px 0;
	position: relative;
}
.five-title img{
	width: 100%;
	height: 45px;
}
.five-title p,
.five-title p span{
	font-size: 18px;
	color: #b2b2b2;
}
.five-title p{
	position: absolute;
	top:35px;
	right: 0px;
}
.five-title p span{
	padding:0 35px 0 5px;
}


.five-notice{
	border-bottom: 1px solid #e1e1e1;
}
.five-num {
	padding:32px 0;
}
.five-num ul li img{
	width: 130px;
	height: 135px;
}
.five-num ul li .p1{
	font-size: 20px;
	color: #1f1f1f;
}

.five-statistics{
	overflow: hidden;
}
.five-statistics .ststs{
	float: left;
	width: 598px;
	height: 178px;
	border:1px solid #e6e6e6;
	overflow: hidden;
	position: relative;
}
.five-statistics .ststs .mark{
	width: 87px;
	height: 88px;
	position: absolute;
	top:0;
	left: 0;
}
.five-statistics .data .text{
	overflow: hidden;
	margin:40px 30px;
}
.five-statistics .data .text p,
.five-statistics .data .text p span{
	font-size: 18px;
	line-height: 50px;
}
.five-statistics .data .text p{	
	float: left;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	text-align: right;
	color: #5e5e5e;
}
.five-statistics .data .text p span{
	padding-left: 20px;
	color: #ff6600;
	font-weight: bold;
}
.five-statistics .data .text .p1{
	width: 55%;
}
.five-statistics .data .text .p2{
	width: 45%;
}
.five-statistics .web .fiv{
	height: 158px;
	overflow: hidden;
	margin:0 23px 0 80px;
	padding:10px 0;
}
.five-statistics .web .fiv .list{
	border-bottom:1px dashed #9c9c9c;
	margin:5px 0;
}
.five-statistics .web .fiv .p1 img{
	width: 7px;
	height: 7px;
}
.five-sell ul li .text{
	position: relative;
}
.five-sell ul li .text .speed{
	position: absolute;
	top:45px;
	right: 20px;
}
.box{
	float:left;
	overflow:hidden;
	width:70px;
	height:70px;
	position: relative;	 
}
.box canvas{
	width:70px;
	position: absolute;
	top:0;
	left:0;
}
.box span{
	display:inline-block;
	width:70px;
	text-align:center;
	line-height:70px;
	font-size: 14px;
	color: #e56c10;
}
.five-sell ul li .investment,
.five-success ul li .investment{
	margin: 0 auto;
}
.five-sell ul li .investment,
.five-sell ul li .investment img{
	width: 119px;
	height: 28px;
}
.five-success ul li .text p{
	text-align: center;
}
.five-success ul li .text .p1{
	font-size: 20px;
}
.five-success ul li .text .p2,
.five-success ul li .text .p2 span{
	font-size: 18px;
}
.five-success ul li .investment,
.five-success ul li .investment img{
	width:200px;
	height: 40px;
}
.five-news{
	padding-top: 20px;
}
.five-news .new{
	float: left;
	width: 600px;
	overflow: hidden;
	background: #f8f8f8;
	padding-bottom: 20px;
}
.five-news .new .five-title{
	padding:0;
}
.five-news .new .five-title p{
	position: absolute;
	top:12px;
}
.five-news .new .text{
	height: 220px;
	overflow: hidden;
}
.five-news .new .text .list{
	border-bottom: 1px dashed #9b9b9b;
	padding:7px 0;
}
.five-news .new .text .list .p1 img{
	width: 15px;
	height: 15px;
	margin-top: 5px;
}
