@charset "utf-8";

*:focus {outline: none;}
/* fade */
.jbox-fade{background-color:#000000;}
/* drag */
.jbox-drag{border:1px dashed #86ae00;}
/* jbox */
div.jbox {padding:0px;border:none;font-size:12px;}
/* border */
div.jbox .jbox-border{background: none repeat scroll 0 0 #000000;filter:alpha(opacity=20);-moz-opacity:0.2;opacity:0.2;}
/* container */
div.jbox .jbox-container{background-color:#ffffff; border-radius:5px;}
/* title-panel */
div.jbox .jbox-title-panel{background-color:#F4F7F9; border-radius:5px 5px 0 0}
div.jbox .jbox-title{font-weight:bold;}
div.jbox .jbox-title-icon{background:url(images/jbox-title-icon.gif) no-repeat scroll 3px 5px transparent;}
div.jbox .jbox-close,div.jbox .jbox-close-hover{background:url(images/jbox-close1.gif) no-repeat scroll 0px 0px transparent;}
div.jbox .jbox-close-hover{background-position:-20px 0;}
/* content */
div.jbox .jbox-content{min-height:24px;line-height:18px;color:#444444;}
div.jbox .jbox-content-loading{background-color:#E6E6E6;}
div.jbox .jbox-content-loading-image{background:url(images/jbox-content-loading.gif) no-repeat bottom center;}
/* button-panel */
div.jbox .jbox-button-panel{border-top:1px solid #CCCCCC;background-color: #EEEEEE; border-radius:0 0 5px 5px;}
div.jbox .jbox-bottom-text{text-indent:10px;color:#444444;}
div.jbox .jbox-button{background: #06a9e7;color:#fff;margin:1px 7px 0px 0px;height:22px;cursor:default; font-family:微软雅黑;cursor:pointer; border:none}
div.jbox .jbox-button-hover{background: #06a9e7; font-family:微软雅黑;border:none}
div.jbox .jbox-button-active{background: #06a9e7;color:#fff;margin:1px 7px 0px 0px;height:22px;cursor:default; font-family:微软雅黑; border:none}
div.jbox-warning .jbox .jbox-button-panel{background-color: #FFFFFF;}
/* tip-color */
div.jbox .jbox-tip-color{background:#fff; border-radius:30px;}
/* icons */
div.jbox span.jbox-icon{background:url(images/jbox-icons.png) no-repeat scroll 0 0 transparent;_background:url(images/jbox-icons-ie6.gif) no-repeat scroll 0 0 transparent; background-size: 160px;}
div.jbox span.jbox-icon-info {background-position:center center;}
div.jbox span.jbox-icon-question {background-position:-32px center;}
div.jbox span.jbox-icon-success {background-position:-64px center;}
div.jbox span.jbox-icon-warning {background-position:-96px center;}
div.jbox span.jbox-icon-error {background-position:-128px center;}
div.jbox span.jbox-icon-none {display: none; overflow:hidden;}
div.jbox span.jbox-icon-loading {background:url(images/jbox-loading1.gif) no-repeat scroll center center transparent;}

