
/*宸︿晶瀵艰埅*/
 .accordion {
 	width: 100%;

 }

.accordion .link {
	cursor: pointer;
	display: block;
}
.accordion li{	
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	}
.accordion li:last-child .link {
	border-bottom: 0;
}


.accordion li.open .about_us_ico {
	background: #ffeeee  url(../images/about_us.png) no-repeat scroll 15px -16px;
	color:#fb4140;
}

.accordion li.open .partner_ico {
	background: #ffeeee  url(../images/partner_ico.png) no-repeat scroll 15px -16px;
	color:#fb4140;
}

.accordion li.open .zhaopin_ico {
	background: #ffeeee  url(../images/zhaopin_ico.png) no-repeat scroll 15px -16px;
	color:#fb4140;
}

.accordion li.open i {
	color: #b63b4d;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.accordion li.default .submenu {display: block;}

 .submenu {
 	display: none;
 
 }
 .submenu li{border:none;margin:0px 0; padding:10px 0;} 
.submenu li a {
	  font-size:14px; color:#999 ; display:block; height:30px; line-height:30px; border-left:3px solid #fff;  
 }
.submenu li a:hover{color:#fb4140;border-left:3px solid #fb4140}
.submenu li .active{color:#fb4140;border-left:3px solid #fb4140}
/*鍙充晶鍐呭鍖哄煙*/
.myaccount_right_box{ padding:30px 30px; background:#fff; }
.myaccount_right_title{ color:#4e4e4e; font-size:24px; font-weight:normal; border-left:3px solid #fb4140; height:24px; line-height:24px; padding-left:20px; margin-bottom:57px;

 }
/*浜ゆ槗璁板綍_鏃ユ湡閫夋嫨*/
.filtrate_box{ position:relative;}
.data_box{ overflow:hidden;float:left;}
.data_box dt{ float:left;  color:#333;line-height:28px; }
.data_box dt span{display:inline-block;line-height:28px;color:#808080;}
.data_box dt input{width:120px; height:30px;}
.data_box dd{ float: left; margin-left: 10px;line-height:28px;}
.data_box dd a{ color:#4e4e4e; font-size:14px; line-height:28px; margin:0 5px;}
.data_box dd a:hover{ color:#fb4140}


/*----涓嬫媺select----*/
.select {
    position: relative;
    float: left;
	margin-right:10px;
    border: solid 1px #d9d9d9 !important;height:24px;border-radius: 4px;padding:3px 0; font-size:14px; color:#4e4e4e;  width:123px;
	background:#fafafa;
	margin-right:20px;
}
.select .select-view {
    position: relative;
}
.select .select-view .select-text {
   
}
.select .select-view .select-icon {
    display: block;
    position: absolute;
    right: 0px;
    top: 2px;
    height:24px; width:105px; background:url(../images/select-icon.png) no-repeat; background-position:  right -3px;  padding:0 10px;
    cursor: pointer;
}
.select .options {
    display: none;
    position: absolute;
    left: -1px;
    top: 100%;
    padding: 5px 0;
    background: #fff;
    width: 100%;
    border: solid 1px #ddd;
	border-radius: 0 0 4px 4px;
	border-top:none; margin-top:-2px;
	background:#fff;
  z-index: 99999; overflow-y:auto;
}
.select .options > li {
  padding: 10px;
    cursor: pointer;
}
.select .options > li:hover{  color:#fb4140; background: #f7f7f7;}
/*瀵煎嚭琛ㄦ牸*/
.export_excl{ font-size:14px; color:#fff; background:#fa5757;border-radius: 4px;float:right; width:auto; min-width:85px; height:30px; line-height:30px; text-align:center; display:inline-block; cursor:pointer; padding-right:25px;
-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	overflow:hidden;
}
.export_excl p{ float:left;}
.export_excl:hover{ color:#fff;  background:#e53939}
/*浜ゆ槗璁板綍琛ㄦ牸*/
.excel_box{ border-top:1px dashed #d9d9d9;margin-top:25px;}
.refund_list { margin-bottom:25px;width:100%; margin-top:25px;}
.refund_list thead tr{ height:42px;  background:#fa5757; width:100%; line-height:42px; color:#fff; font-size:15px;}
.refund_list thead tr th{ text-align:center; width:auto;}
.refund_list tbody tr{ height:45px; line-height:45px; color:#808080;}
.gridAlternada{ background:#f7f7f7}
.refund_list tbody tr td{text-align:center;width:211px; cursor:default;}
#refund_time{ width:100px; text-align:center;}
/*鍒嗛〉*/
.loan_bottom{ overflow:hidden; margin-bottom:5px;}
.loan_bottom_nav{ }
.loan_bottom_nav li{ float:left;border:1px solid #e5e5e5; margin:0 4px;
					-moz-border-radius:4px;      /* Gecko browsers */
    -webkit-border-radius:4px;   /* Webkit browsers */
    border-radius:4px;

	}
.loan_bottom_nav li:hover{ background:#ffeeee; color:#fa5757;border:1px solid #fa5757;}
.loan_bottom_nav li:hover a{color:#fa5757;}
.loan_bottom_nav .on{ background:#fa5757 !important;border:1px solid #fa5757 !important; cursor: default;}
.loan_bottom_nav .on a{ color:#fff !important;}
.loan_bottom_nav li a{ display:block; padding:5px 10px;; font-size:14px; color:#999;}

/*鍏呭�椤甸潰*/
/*鍏呭�鏂瑰紡*/
.pay_ul{ margin-top:-27px;}
.pay_ul li{ margin-right:3px;}
.pay_ul li a{ padding:0px !important; display:block; text-align:center; width:120px; height:36px; border:1px solid #e5e5e5 !important;line-height:36px; border-bottom:none !important; background:#fff !important; }
.pay_ul  > li > a:hover{border:1px solid #fa5757  !important;}
.pay_ul .active a{border:1px solid #fa5757  !important; background:#fa5757 !important; color:#fff !important;}
.pay_ul > li.active > a:focus{border:1px solid #fa5757  !important; background:#fa5757 !important; color:#fff !important;}
/*閫夋嫨閾惰*/
.bank_title{ font-size:16px; color:#4e4e4e; margin-top:20px; display:block; margin-left:10px;font-weight:bold; }
.bank_ul{ overflow:hidden; margin-top:20px;}
.bank_ul li{ float:left; border:1px solid #ddd; margin:0 10px; margin-bottom:20px;text-align:center; display:block; width:160px; height:40px; padding:5px 0; position:relative; cursor: pointer;}
.bank_ul li:hover{ border:1px solid #fb4140;}
.bank_ul .selected{border:1px solid #fb4140;}
.bank_ul .selected span{ display:block;}
.bank_ul li img{ height:40px; text-align:center;}
.bank_ul li span{ background:url(../images/bank_on.png) center no-repeat; width:160px; height:50px; display:none; position:absolute;top:0; left:0;}

/*线下充值列表*/
.bankline_ul{ overflow:hidden; margin-top:20px;}
.bankline_ul li{ float:left; border:1px solid #ddd; margin:0 50px 0 10px; margin-bottom:20px;display:block; width:320px; height:70px; padding:5px 0; position:relative; cursor: pointer;}
.bankline_ul li img{ height:40px; text-align:left;}
.bankline_ul li p{margin-right:15px;line-height:30px; text-align:right;color:#2f87d0}
.bankline_ul li p i{font-style:normal;margin-right:10px}
.dis_inline{display:inline-block;}
.width80{width:80px;text-align:right}
.tab-content{ }
.marginleft10{margin-left:10px}
.bankline_ul .selected {border: 1px solid #fb4140;}
.bankline_ul .selected span{ display:block;}
.bankline_ul li span{ background:url(../images/bank_on.png) top right no-repeat; width:320px; height:70px; display:none; position:absolute;top:0; right:0;}
/*杈撳叆閲戦*/
.money_dl{padding-top:10px;padding-left:10px; overflow:hidden;border-top:1px dashed #d9d9d9; padding-top:20px; padding-bottom:20px;}
.money_dl dt{  margin-bottom:10px;margin-right:10px;width:252px;}
.money_dl dt span{ border-radius:4px 0 0 4px;}
.money_dl dt input{ padding:10px; width:250px !important;}
.money_dl dd{ color:#4e4e4e; }
.money_dl dt p{ height: 34px; line-height:34px; text-align:right; color:#4e4e4e;font-size: 13px; margin-top:10px; }
.money_dl dt p span{ color:#fb4140; font-size:16px; }
.money_dl dd p{ height: 34px; line-height:34px;margin-top:10px;}
.money_dl dd p span{ color:#fb4140; font-size:16px;}
.money_btn{ display:block; width:120px; height:40px; font-size:18px; font-weight:bold; color:#fff !important; text-align:center; line-height:40px;border-radius:4px; background:#fa5757; margin-left:10px;
-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;}
.money_btn:hover{background:#e53939}
.red_btn{ display:inline-block;width:120px; height:40px; font-size:18px; font-weight:bold; color:#fff !important; text-align:center; line-height:40px;border-radius:4px; background:#fa5757; margin-right:20px; margin-top:20px;
-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;}
.red_btn:hover{background:#e53939}
.green_btn{ display:inline-block; width:120px; height:40px; font-size:18px; font-weight:bold; color:#fff !important; text-align:center; line-height:40px;border-radius:4px; background:#6fbb49; margin-right:20px; margin-top:20px;
-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;}
.green_btn:hover{background:#65ab42}
.put_quxian{float:right;}
.money_dl input{ height:33px;padding: 0px 10px !important; line-height:33px;}
.money_dl .input-group{}
/*娓╅Θ鎻愮ず*/
.notice_p{  font-size:12px; color:#4e4e4e; line-height:24px; margin:0 10px; margin-top:30px;border-top:1px dashed #d9d9d9; padding-top:30px;}
.notice_p span{ display:block; margin-bottom:10px; font-size:16px; background:url(../images/notice_btn.png) center left no-repeat; padding-left:20px;}
/*鎻愮幇椤甸潰*/
.money_data_p{height: 34px; line-height:34px;  color:#4e4e4e; margin-left: 10px; margin-top: -10px;font-size: 13px;}
.money_data_p span{color:#fb4140; font-size:16px; }
.card_nav{ overflow: hidden;}
.card_nav .bank_title{ float: left; margin-top: 0;height: 30px; line-height: 30px;}
/*鏂板绠＄悊閾惰鍗*/
.card_nav ul{ float:right; overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;}
.card_nav ul li{ float: left; cursor: pointer; width: 140px; height: 30px; line-height: 30px; text-align:center; border-radius:4px;color:#fff;margin:0 10px; overflow:hidden;}
.card_nav ul li p{ float:left;}
.card_nav ul li span{ font-size: 14px;}
.card_nav ul li a{ color: #fff;}
.add_card{ background:#fa5757; }
.add_card:hover{background:#e53939; color:#fff !important;}
.manage_card{ background:#378cbd }
.manage_card:hover{ background: #137ebd;color:#fff !important;}
.add_card_2 {background:#fab757}
.add_card_2:hover{background:#f8a127; color:#fff !important;}
/*鎻愮幇閾惰鍗*/
.bankcard_box{margin-top:-32px;}
.bankcard_ul{ margin-top:20px; overflow:hidden; padding-left: 15px;}
.bankcard_ul li{ width:280px; color:#fff; border-radius:4px; padding:20px; float:left; margin:0 15px; margin-bottom:30px;cursor:pointer; position:relative; overflow:hidden;}
.bankcard_ul .selected span{ display:block;}
.bankcard_ul li span{ background:url(../images/card_active.png) center no-repeat; width:320px; height:170px; display:none; position:absolute;top:0; left:0;}
.green_card{ background:#37bd9c}
.blue_card{ background:#378cbd}
.red_card{ background:#fa5757}
.other_card{background:#fab757}
.bankcard_ul li h1{ font-weight:normal; font-size:16px; overflow:hidden; line-height:30px; border-bottom:2px solid #fff; padding-bottom:10px;}
.bankcard_ul li h1 i{ width:30px; display:block; float:left; margin-right:10px; }
.bankcard_ul li h1 i img{ width:100%;}
.bankcard_ul li h2{ padding:30px 0; text-align:center; }
.marginbottom10 dd{margin-bottom:10px}
.width250{width:250px}
.input-group i{padding-left:10px;font-style:normal;color:#999}
/*娣诲姞閾惰鍗*/
.add_card_box{}
.modal-content{margin:0 auto;width:650px;}
.add_card_box .modal-title{color:#4e4e4e; font-size:20px; font-weight:normal; border-left:3px solid #fb4140; height:24px; line-height:24px; padding-left:20px;}
.add_card_ul{width: 90%; margin: 0 auto;}
.add_card_ul .input-group-addon{ border-radius: 4px 0 0 4px; width: 100px; background: none; border: none; text-align: right;}
.add_card_ul li{ }
.add_card_ul li .input-group{ width: 506px;margin-bottom: 20px;}
.add_card_ul li .input-group p{ line-height: 24px; color: #4e4e4e;}
.add_card_ul li .input-group p i{ color: #999; font-size: 14px;}
.add_card_ul input{ }
.span_phone {background:#f5f5f5 !important;  color: #4e4e4e !important; border-radius: 0 4px 4px 0 !important; width: 257px !important;text-align:center !important; border:1px solid #ddd !important; border-left:none !important;}
.span_phone:hover{background: #e5e5e5 !important; border:1px solid #ccc !important; border-left:none !important;}
.add_card_ul li .input-group .select {
  position: relative;
  float: left;
  border: solid 1px #ccc !important;height:24px;border-radius: 4px;padding:3px 0; font-size:14px; color:#4e4e4e;  width:125px; text-align: left;
  margin-right: 0; margin-left: 0; padding-left: 10px;
  background:#fff;
}
.add_card_ul li .input-group .select-icon { width: 100%; padding: 0;}
.select_box{ width:345px; overflow:hidden; margin-left:2px;}
.select_box select{ border:none; width:130px; color:#4e4e4e;cursor:pointer; padding:5px 0;}
.select_box li{float:left;background:url(../images/select-icon.png) no-repeat; background-position:  right 2px; cursor:pointer; padding:0 5px; border:1px solid #ccc;border-radius: 4px;
				margin-right:10px;}
.select_box span{ width:108px; overflow:hidden; display:block; margin-right:20px; }
.card_btn_box a{ padding:5px 20px; display:inline-block;}
.card_btn_box{ margin-right:220px;}
/*浜掑姩绠＄悊*/
.notice_h1{ font-weight:normal; font-size:18px; color:#4e4e4e; margin:-5px 10px;}
/*娑堟伅鍒楄〃*/
.message_data_box{}
.message_data_box dt{ float:left; font-size:15px; color:#333;line-height:26px; padding-top:2px;margin-left:24px !important; }
.message_data_box dt input{ }
.message_data_box dd{ float:right; margin-left:80px;}
.message_data_box .btn_dd{ float:right;margin-left:260px;}
.btn_dd a{ padding:2px 20px; display:inline-block;  font-size:16px; margin:0 20px;}
.btn_dd .btn-default:hover{ color: #4e4e4e !important;}

.tip_td{ position: relative;}
.td_tit{padding-left:20px;}

.ztcu{cursor: pointer;}
.ztcu:hover{color:#e53939;}
.hover_position{position: relative;}
.tips {
    position: absolute;
    top: -20px;
    left: 190px;
    z-index: 99;
    width: 240px;
    line-height: 24px;
    min-height: 100px;
    background:#ffeeee;
    color:#4e4e4e;
    border:1px solid #fa5757;
    box-shadow: 0px 0px 15px #999;
    visibility: hidden;
    opacity: 0;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    text-align: left;
    padding:10px;
}
.hover {
    visibility: visible;
    top: -30px;
    left:210px;
    opacity: 1;
}
.message_textarea{border:1px solid #d9d9d9;border-radius: 4px; width:97%; height: auto; min-height: 150px; display:block; color:#4e4e4e !important; margin: 10px auto; text-align: left;  padding:5px; line-height:28px; margin-top:20px;}
.choose_p{  overflow:hidden; padding-left:10px;margin-bottom:10px;}
.choose_p input{ margin-top:5px;; display:block; float:left;}
.choose_p span{ float:left; margin-left:10px;line-height:19px;}
.glyphicon{ background:url(../images/btn_icon.png) no-repeat; width:14px; height:14px; display:block; margin-top:9px; float:left; margin-left:25px; margin-right:10px;}
.glyphicon-envelope{ background-position: 0 -56px !important;}
.glyphicon-enve{ background-position: 0 -42px !important;}
.glyphicon-plus-sign{ background-position:0 -14px  !important;;}
.glyphicon-th-large{ background-position:0 -28px  !important;;}
.big_line{border-left:3px solid #fb4140; display: block;padding-left:10px;line-height:18px}
.money_dl dd p b{border-left:3px solid #fb4140; display: block;padding-left:10px;line-height:18px;margin-top:7px}
