/* CSS Document */
*{ padding:0; margin:0;}
.clear{ clear:both;}
ul{ list-style:none;}
a{ text-decoration:none;}
img{ border:none;}
.blank_20{width:100%;height:20px;}
.top{ width:100%; height:40px; background:#2e394b;}
.toper{ width:1200px; margin:0 auto; font-family:"微软雅黑"; }
.toperleft{ width:280px; float:left;}
.toperleft p{font-size:13px; color:#fff; float:left; line-height:40px;}
.toperleft ul li{ float:left; width:40px; margin-top:13px; text-align:center;}
.toperright{ width:140px; float:right;}
.toperright ul li{ float:left; width:70px; text-align:center; font-size:12px; line-height:40px;}
.toperright ul li a{ color:#aeadad;}
.toperright ul li a:hover{ color:#fff;}
.head{ width:1200px; margin:0 auto; font-family:"微软雅黑";}
.headleft{ width:280px; float:left; margin-top:15px; margin-bottom:15px;}
.headcenter{ width:500px; float:left; margin-left:100px;}
.headcenter ul li{ width:100px; text-align:center; float:left; line-height:70px; font-size:16px;}
.headcenter ul li a{ color:#333333; display:block; height:60px; width:80px;}
.headcenter ul li a:hover{ color:#e04c54; border-bottom:3px solid #e04c54;}
.headright{ width:250px; float:right; height:40px; border-left:1px solid #999; margin-top:15px;}
.headright ul li{ width:104px; margin-left:20px; float:left; text-align:center; font-size:16px; line-height:40px;}
.headright ul .headone{ width:95px; height:40px; border-radius:5px; background:#e4e9ed;}
.headright ul .headone a{ color:#180e0e; display:block;}
.headright ul .headtwo{ width:95px; height:40px; border-radius:5px; background:#e3787f;}
.headright ul .headtwo a{ color:#fff; display:block;}
.indexshuju{ width:1200px; margin:0 auto; font-family:"微软雅黑"; }
.shujuleft{ width:856px; float:left; margin-left:60px;}
.shujuleft ul li{ width:170px; text-align:center; float:left; margin-top:35px;}
.shujuleft ul li p{ font-size:14px; color:#e04c54; font-weight:bold; line-height:38px;}
.shujuright{ width:130px; float:right; margin-top:35px;}
.shujuright h1{ font-weight:normal; font-size:14px; color:#000000; background:url(../images/sjtj.jpg) no-repeat left; padding-left:18px;}
.shujuright span{ font-size:18px; color:#e04c54; line-height:50px;}
.shujuright p{ font-size:12px; color:#000;}
.cenment{ width:100%; height:45px; background:#eeeeee; margin-top:20px;}
.cenmenter{ width:1200px; margin:0 auto; font-family:"微软雅黑";}
.cenmenter p{ line-height:45px; background:url(../images/laba_03.jpg) no-repeat left; padding-left:28px; font-size:14px; color:#333333;}


.shell{
 border:1px solid #eeeeee;
 width:400px;
 padding:3px 2px 2px 20px;
}
#div1{
 height:18px;
 overflow:hidden;
}
#div1 a{
 display:block;/*这个属性是必须的*/
 font-size:12px;
 line-height:18px;
 text-decoration:none;
 color:#333;
 font-family:Arial;
}
.cenmenter p{ float:left;}
.zhuhuangd{ float:left; margin-top:10px;}

.more{ float:right; line-height:15px; font-size:12px;}
.more a{ color:#333;}
.indexcase{ width:1200px; margin:0 auto; font-family:"微软雅黑";}
.indexcase h1{ text-align:center; font-size:36px; color:#e04c54; font-weight:normal; line-height:130px;}
.bigleft{ float:left;}
.caseleft{ width:920px; border:#aaaaaa solid 1px;}
.caseimg{ width:350px; height:321px; float:left;}
.zhongchouz{ width:110px; height:86px; position:absolute; z-index:2; background:url(../images/zhongc_03.png) center  no-repeat;}
.zhongchouzi{ width:350px; height:50px;background-color:rgba(0,0,0,0.4);position:absolute; z-index:2; margin-top:271px; text-align:center; font-size:18px; color:#ffffff; line-height:50px;}
.caseimg img{width:350px; height:321px;}

.caseqiche{ float:right; width:400px;margin-right:73px;}
.caseqiche h1{ font-size:30px; color:#383838; line-height:50px; text-align:left;}
.caseright{ width:270px; float:right; border:#aaaaaa solid 1px;}
.caseqiche ul li{ float:left; width:133px;}
.caseqiche ul li span{ line-height:60px;}
.caseqiche ul li p{ font-size:16px; color:#282828; line-height:30px;}
.caseqiche .zcjd span{ line-height:60px; width:200px; display:block; float:left;}
.caserightnei{ width:215px; margin:0 auto;}
.caserightnei span{ font-size:16px; color:#e04c54; line-height:50px;}
.caserightnei p{ font-size:14px; line-height:30px; color:#666666; margin-bottom:30px;}
.indexqichez{ width:1200px; margin:0 auto; font-family:"微软雅黑"; margin-top:50px;}
.indexqichez ul li{ width:293px; float:left; border:1px solid #aaaaaa; margin-left:5px;}
.linei{ width:275px; margin:0 auto;}
.liimg img{ width:275px; height:223px; margin-top:10px;}
.lizhong{ width:275px;}
.lizhong p{ font-size:18px; color:#4d4c4c; line-height:30px;}
.lizhong a img{ float:right;}
.inmubiao{ width:275px;}
.inmubiao .indexone{ width:91px; text-align:center; float:left;}
.inmubiao span{ font-size:13px; color:#aaa; margin-bottom:10px; display:block;}
.inmubiao p{ font-size:13px; color:#009600; line-height:30px; margin-top:10px;}
.indexnews{ width:1200px; margin:0 auto; margin-top:55px; font-family:"微软雅黑";}
.indexnewsleft{ width:593px; float:left; border:1px solid #aaaaaa;}
.title span{ font-size:26px; color:#69655c; display:block; float:left; line-height:80px;}
.title a{ color:#69655c; font-size:19px; display:block; float:right;line-height:80px;}
.indexnewnei{ width:535px; margin:0 auto;}
.indexnewnei ul{ margin-bottom:20px;}
.indexnewnei ul li{ font-size:19px; color:#69655c; line-height:45px;}
.indexnewnei ul li a{ color:#69655c;}
.indexnewnei ul li span{ display:block; float:right;}

.indexnewsright{ width:593px; float:right;border:1px solid #aaaaaa;}
.indexlink{ width:1200px; margin:0 auto; font-family:"微软雅黑"; margin-top:50px;}
.linktit{ text-align:center; font-size:36px; color:#e04c54;}
.linkcon{ margin-top:40px;}
.foot{ width:100%; height:200px; background:#2e3a4b;}



