<div class="footer_middle"><!-- FOOTER MIDDLE -->
    <div class="container_12">
        <div class="grid_2">
            <h5>
                {$Think.lang.T_NAV}
            </h5>
            <div class="list-type-footer">
                <ul>
                    <li>
                        <a href="__APP__"><span class="grey">{$Think.lang.T_HOME}</span></a>
                    </li>
                    <nav posstion="bottom" order="sort DESC">
                        <li>
                            <a href="{$link}" class="grey">{$nav_name}</a>
                        </li>
                    </nav>
                </ul>
            </div>
        </div>
        <div class="grid_2">
            <h5>
                {$Think.lang.T_LINKS}
            </h5>
            <div class="list-type-footer">
                <ul>
                    <flink limit="6" order="sort DESC">
                    <li>
                        <a href="{$link}" class="grey" <if condition="$target eq 2">target='_blank'</if> title='{$title}'>{$title}</a>
                    </li>
                    </flink>
                </ul>
            </div>
        </div>
        <div class="grid_2">
            <h5>
                关注微博
            </h5>
            <div class="list-type-footer">
                <a href="#" target="_blank"><img src="__IMG__/logo_ft_1.png"> </a>
            </div>
        </div>
        <div class="grid_3 latest_posts">
            <h5>
                关注微信
            </h5>

        </div>
        <div class="grid_3">
            <h5>
                Contact Details
            </h5>
            <div class="list-type-footer">
                <p class="grey">
                    HEHE
                </p><br />
                <p class="grey">
                    Email: <a href="conist@conist.com" class="grey">conist@conist.com</a>
                </p>
            </div>
        </div>
    </div>
</div><!-- FOOTER MIDDLE -->

<div class="footer"><!-- FOOTER -->
    <div class="container_12">
        <div class="grid_6">
            <p class="copyright">
                &copy; Copyright &copy; 2013.Conist All rights reserved.<a target="_blank" href="#"></a>
            </p>
        </div>
        <div class="grid_6">
            <div class="social-box">
                <a href="#"><img src="__IMG__/social_facebook.png" width="19" height="18" alt="" /></a> <a href="#"><img src="__IMG__/social_twitter.png" width="19" height="18" alt="" /></a> <a href="#"><img src="__IMG__/social_flickr.png" width="19" height="18" alt="" /></a> <a href="#"><img src="__IMG__/social_linkedin.png" width="19" height="19" alt="" /></a> <a href="#"><img src="__IMG__/social_dribble.png" width="19" height="18" alt="" /></a>
            </div>
        </div>
    </div>
</div><!-- END FOOTER -->
</body></html>