*{
	padding: 0;
	margin: 0;
	font-family:"微软雅黑";

}
ul,li
{
	list-style: none;
}
a
{
	color: #666;
	text-decoration: none;
}
a:hover
{
    text-decoration: none;
}

img{border:0;}
article,aside,dialog,footer,header,section,footer,nav,figure,menu
{
	display:block;
}


.ts-li
{
	height: 30px;
	line-height: 30px;
	color: red;
	clear: both;
}