@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei";
}
body {
	cursor: default;
	width:100%;font-size:14px;color:#333;
}
.wrap {
	width:1200px;
	margin: 0 auto;
}
.mt30{margin-top:30px;}
.blue{color:#10a5e7;}
.hr2 {
	background: #666 none repeat scroll 0 0;
	height: 1px;
	width: 100%;
}
.content-module1-center .hr2 {
	margin: 3px 0 4px 0;
}
.hr3 {
	background: #e0e0e0 none repeat scroll 0 0;
	height: 1px;
	width: 100%;
}
.container {
	width: 1000px;
}
a {
	text-decoration: none;color:#666;
}

a:visited {
	outline: medium none;
}
a:active {
	outline: medium none;
}
a:focus {
	outline: none;
}

.show {
	display: block;
}
.hide {
	display: none;
}
.clear {
	clear: both;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
em{font-style:normal;}
b{font-weight:normal;}
.cp {
	cursor: pointer
}
img {
	border: 0;
	outline: medium none;
}
table{border-collapse: collapse; border-spacing:0;}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
	
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}

.hidden {
	display: none;
}
.tl {
	text-align: left;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
ul li {
	list-style: none;
}
.c3 {
	color: #ADADAD;
}
.mt20 {
margin-top: 20px;
}
.over {
	overflow: hidden;
}
.btn1 {
	background-color:#14a2e3;
	color: #fff;
	padding:6px 26px;
	border-radius: 4px;
}
.btn2 {
	background: #009de1;
	color: #fff;
	padding: 10px 20px;
	border-radius: 4px;
}

.btn3 {
  background: #659AE0;
  color: #fff;
  padding: 6px 14px;
  border-radius: 2px;
}
.btn3:hover {
	background: #2A6BC2;
	color: #fff;
}
.icon_text {
	font-size:18px;
	padding-left:10px;
}
.icon_text a {
	color: #131f2a;
}
.share-text1 {
	color: #333;
	font-size: 30px;
	text-align: center;
}
#tenderConfirm{margin-left:110px;}
#tenderConfirm .row p {line-height: 30px;}
#tenderConfirm .row p input,#tenderConfirm .row p select{height:36px;line-height:36px;padding-left:10px;border:1px solid #e4e4e4;}
#tenderConfirm .row p a.btn1{padding:6px 100px;}
/************按钮**********/
.button {
	display: inline-block;
	font-size:14px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width:280px;
	cursor: pointer;
}
.button1{background:#218cce;color:#fff;}
.button2{background:#ddd;color:#999;font-size:16px;}
.button3{height:38px;width:278px;border: 1px solid #ddd;color:#aaa;}
/*********文字颜色*************/
.red_font{color:red;}/**红色**/
.blue_font{color:#14a2e3;}/**蓝色**/
/******************头部***************************/
.nav {width:100%;background:#fff;
	height:80px;border-bottom: 1px solid #d4d4d4;z-index: 9999;
}
.nav_fixed{position:fixed;top:0;left:0;}
.nav-logo {
	padding-top: 12px;
}
.nav_link {
	margin-top:26px;
    position: relative;
    height: 29px;
    padding-left:20px;
    border-left: 1px solid #ddd;
}
.nav_link ul li {float:left;
}
.logout{padding: 2px 5px;
    background-color: #38a9dd;
    color: #fff;
    margin-left: 10px;border-radius: 2px;}
.nav_link ul li a.login,.nav_link ul li a.regist{display: inline-block;
    line-height: 25px;
    text-decoration: none;
    border-radius: 3px;
    width: 65px;
    text-align: center;
    font-size: 14px;}
.nav_link ul li a.login{background:#14a2e3;border: 1px solid #14a2e3;
    color: #fff;}
.nav_link ul li a.regist{
    border:1px solid #d4d4d4;
    margin-right: 10px;
    color: #000;
    margin-left: 20px;}
.Top_navigation_width {
	color: #333;
	height:80px;margin-left:50px;
}
.top_nav ul li {
	padding:0 15px;
	list-style: none;
	float: left;
	font-size: 18px;line-height:70px;
}
.top_nav ul li a {
	color: #000;padding-bottom:10px;
}
.top_nav ul li a:hover,.top_nav ul li a.active {color:#38a9dd ;border-bottom:2px solid #38a9dd;}
.pcsublist{position:relative;}
.pclsubnav{position:absolute;left:10px;top:65px;height:0;transition:all .3s;overflow:hidden;border-radius:3px;background:url(../images/tm_2.png) top no-repeat;border-bottom:1px solid #fff;opacity:0;}
.pclsubnav p{line-height:36px;}
.pclsubnav p a{display:inline-block;line-height:26px;padding:0 !important;text-align:center;width:98px;color:#333;font-size:14px;}
.overactive .pclsubnav{height:150px;border-bottom:1px solid #eee;opacity:1;}
.overactive .pclsubnav2{height:79px;}
.pclsubnav p a:hover{background-color:#14a2e3;color:#fff !important;border:none !important;}

.Top_navigation_right ul li.nav1{background: rgba(0, 0, 0, 0) url(../images/tel1.png) no-repeat scroll 0 11px !important;background:url(../images/tel1.png) no-repeat scroll 0 11px\9;line-height:34px;}
.Top_navigation_right ul li.nav1 .c3{ color:#005f4b !important;}
.Top_navigation_right ul li.nav2 a{border: 1px solid #005f4b !important;color: #005f4b !important;display:inline-block;}
.Top_navigation_right ul li.nav2 a:hover{background: #05c49b none repeat scroll 0 0 !important;}
.navigation_right_one {
	background: rgba(0, 0, 0, 0) url(../images/tel.png) no-repeat scroll 0 4px;background:url(../images/tel.png) no-repeat scroll 0 11px\9;
	height: 27px;
	width: 65px;
	padding-top: 2px;
	text-indent: 20px;line-height:30px;
}
.hidd{display:block;width:100%;height:80px;}
/*************公告*****************/
#notice {height:55px;background:#fff;font-size:14px;}
#notice .notice_ico{display:block;float:left;width:35px;height:54px;margin-right:5px;background:url(../images/horn.png) no-repeat center center;}
#notice .ptnews {float: left;width:700px;height:54px;overflow:hidden;line-height:54px;}
#notice .ptnews ul li {height:55px;}
#notice .ptnews ul li a{font-size:14px;float:left;width:500px;}
#notice .ptnews ul li a:hover{color:#14a2e3;}
#notice .ptnews ul li em{float:left;margin-right:20px;}
.news_more{float:right;color:#14a2e3;padding:16px;border-radius:4px;border:1px solid #ccc;line-height:0px;margin-top:8px;margin-right:30px;}
/***************指引********************/
.guide
{
	width:100%;
	height:94px;
	background-color:#ededed;
}
.guide-box
{
	width:1200px;
	margin:0 auto;
}
.guide-box h1
{
	font-size:18px;
}
.guide-box-1, .guide-box-2, .guide-box-3
{
	width:33.33%;
	float:left;	
	color:#959094;
	font-family:"微软雅黑";
	font-size:12px;
}
.mk-img
{
    height: 73px;
    padding: 21px 0 0 25px;
}
.fk-img
{
    height: 79px;
    padding: 21px 0 0 25px;
}
.ls-img
{
	height: 73px;
    padding: 21px 0 0 70px;
}

/************************/
.homePage-nav {
	width: 100%;
	position: relative;
	width:100%;
}

.navigation_right_in1{ background:url(../images/head_fxn_email2.png) no-repeat center left; padding-left:18px;color:#C2FFF3 !important;padding-top: 2px;}
.navigation_right_in1 a{color:#C2FFF3 !important; padding-right:10px;}
.navigation_right_in2{padding-top: 2px;}
.navigation_right_in2 .logout{ color:#C2FFF3 !important;}
#ltBanner {
	position: relative;
}
#ltBanner .banner {
	width: 100%;
	height:350px;
	overflow: hidden;
	position: relative;
}
#ltBanner .banner ul li {
	width: 100%;
	height:350px;
	z-index: 2;
}
#ltBanner .banner li a {
	display: block;
	width: 100%;
}
#ltBanner .banner img {
	display: block;
	margin: 0 auto;
	z-index: 1;
}
#ltBanner .banner ol li {
	list-style: none;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	float: left;
	width: 14px;
	height: 14px;
	background: url(../images/banner_bgc.png) no-repeat;
	margin-right: 15px;
}
#ltBanner .banner ol .current {
	background: url(../images/banner_bg.png) no-repeat;
	color: #fff;
}
#ltBanner .banner ol {
	position: absolute;
	left: 50%;
	bottom: 15px;
}
#ltBanner .banner span {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	width:35px;
	height: 60px;
	cursor: pointer;
	opacity: 0.3;
}
#ltBanner .banner span:hover {opacity: 1;}
#ltBanner .banner .btn_l {left: 30px;background: url(../images/left.png) no-repeat;}
#ltBanner .banner .btn_r {right: 30px;background: url(../images/right.png) no-repeat;}


.invest_title{font-size: 30px;text-align: center;color: #323232;line-height: 90px;}
.invest_cont{overflow:hidden;margin-bottom:20px;border:1px solid #d2d2d2;}
.investLeft{width: 860px;height: 310px;}
.investLeft img{width:100%;}
.investRight{width:300px;height:288px;color: #797a7a;padding:10px;position:relative;}
.investRight h2{line-height: 50px;padding-top: 10px;font-size: 24px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.investRight h2 a:hover{color:#14a2e3;}
.curadd{padding-left: 20px;background: url(../images/G_02.png) no-repeat;margin:10px 0;}
.investRight ul li{line-height: 35px;}
.label{width:120px;height:86px;position:absolute;bottom:0;right:0;background:url(../images/label.png) no-repeat;color:#fff;line-height:120px;}
.label em{margin-left:60px;font-size:20px;}
.more{text-align:center;margin:60px 0;}
.moreBtn{display:inline-block;width:188px;height:68px;line-height:68px;font-size:18px;border:1px solid #0091d4;color:#0091d4;}

.s0,.s1,.s2{font-size: 24px;position: absolute;bottom: 20px;left: 100px;}
.s0{color:#fe002a;}/**预热中**/
.s1{color:#ff4200;}/**分红中**/
.s2{color:#858585;}/**已完成**/
/****************帮助************************/
.helpbox{padding-top: 140px;background: url(../images/help_img.jpg) no-repeat top center;}
.helptitle{font-size: 40px;color: #fff;text-align: center;}
.helpList{padding-top: 130px;text-align: center;}
.tipsdt{height: 154px;margin-left:-100px;}
.tipsdt li{float:left;width: 154px;height: 154px;overflow:hidden;display:inline-block;padding: 0;transition: all .5s;background: url(../images/help_ico.png) no-repeat;cursor: pointer;margin-left:100px;*margin-left:60px;}
.tipsdt .tips1{left:0;background-position:0px 0px;}
.tipsdt .tips1.hover{background-position:0px -186px;}
.tipsdt .tips2{left:262px;background-position:-215px 0px;}
.tipsdt .tips2.hover{background-position:-215px -186px;}
.tipsdt .tips3{left:524px;background-position:-411px 0px;}
.tipsdt .tips3.hover{background-position:-411px -186px;}
.tipsdt .tips4{right:262px;background-position:-626px 0px;}
.tipsdt .tips4.hover{background-position:-626px -186px;}
.tipsdt .tips5{right:0px;background-position:-830px 0px;}
.tipsdt .tips5.hover{background-position:-830px -186px;}
.tipsdd{padding:70px 0 120px 0;height: 380px;overflow: hidden;}
.addAnmite_1{width:980px;height:333px;padding-top:100px;display:none;margin:0 auto;}
.addAnmite_2{display:block;}
.pchelptxt{width:353px;text-align:left;padding-left:560px;}
.pchelptxt h3{font-size:30px;color:#4a4a4a;padding-top:50px;font-weight:bold;}
.pchelptxt p{font-size:20px;color:#999;padding-top:50px;}
.statpp1{background: url(../images/helplarge_1.png) no-repeat left;}
.statpp2{background: url(../images/helplarge_2.png) no-repeat left;}
.statpp3{background: url(../images/helplarge_3.png) no-repeat left;}
.statpp4{background: url(../images/helplarge_4.png) no-repeat left;}
.statpp5{background: url(../images/helplarge_5.png) no-repeat left;}
/******************新闻动态**********************/
.newList{height:648px;background: url(../images/new.jpg) no-repeat left;padding-top:70px;position:relative;}
.new-box{position: relative;overflow: hidden;height:520px;}
.newBox{height:416px;overflow:hidden;width: 6650px;position: absolute;left: 0;top:100px;}
.newBox ul{}
.newBox ul li{width:372px;height:416px;float:left;margin-right:40px;background:#fff;border-radius:5px 5px 0 0;overflow: hidden;}
.newCon{padding:28px;}
.newCon h3{line-height:50px;font-size:18px;}
.newCon h3 a:hover{color:#14a2e3;}
.newCon p{line-height:24px;}
.pageBtn{position:absolute;height:33px;bottom:40px;width:100%;text-align:center;}
.prev,.next{display:inline-block;width:33px;height:33px;margin-right:24px;}
.prev{background: url(../images/prev.png) no-repeat;}
.next{background: url(../images/next.png) no-repeat;}

/******************投资产品****************************/
.invest_nav{margin-bottom:20px;}
.investment_product_title {
	overflow: hidden;
	margin-bottom: 15px;
}
.product_title_h1 {
	font-size: 30px;
	color: #333;
}
.product_title_h6 {
	border: 1px solid #999;
	border-radius: 17px;
	text-align: center;
	line-height: 27px;
	cursor: pointer;
	height: 30px;
	width: 100px;
	margin-top: 7px;
}
.product_title_h6 a {
	color: #999;
}
.product_title_h6 a:hover {
	color: #00a884;
}
.invest_pro ul{overflow: hidden;
	margin-left: -24px;}
	
.invest_pro ul li {
	border: 1px solid #e7e7e7;
	height: 473px;
	width: 280px;
	position: relative;
	margin:0px 0px 20px 24px;
	float: left;
	border-radius:5px;
	overflow:hidden;
}
.invest_pro ul li .over{height:40px;line-height:40px;color:#fff;background:#218cce;}
.but{position:absolute;bottom:0;}
.product_title{height:40px;line-height:40px;color:#333;overflow:hidden;}
.icon_state {
	background:#218cce;
	border-radius: 3px;
	color: #fff;
	font-size: 12px;
	height: 18px;
	line-height: 17px;
	margin-left: 10px;
	margin-top:11px;
	text-align: center;
	width: 18px;
}
.property_id {
	font-size: 12px;
	color: #999;
	position: absolute;
	left: 35px;
	top:50px;
}
.property_city {
	background: url(../images/G_02.png) no-repeat;
	font-size: 12px;
	right: 10px;
	text-indent: 15px;
	top:14px;
	height: 20px;
	position: absolute;
	min-width: 40px;
	color:#999;padding-left:4px;
}
.property_img {
	border: 3px solid #fff;
	border-radius: 136px;
	height: 136px;
	width: 136px;
	margin: 50px auto 0;
	overflow: hidden;
}
.property_state{
    height: 99px;
}
.price_lineThere{
    height: 75px;
    position: relative;
}
.price_lineThere_bar{
    width: 232px;
    height: 10px;
    background: #218cce;
    position: relative;
    top:37px;
    left: 23px;
}
.bar_floodmark{
    background:url(../images/icon1.png) -64px -9px;
    height: 44px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 44px;
}
.bar_Purchase{
    background:url(../images/icon1.png) 0px 0px;
    height: 60px;
    left: 111px;
    position: absolute;
    top: 12px;
    width: 60px;
}
.bar_exit{
    background:url(../images/icon1.png) -112px -9px;
    height: 44px;
    right: 17px;
    position: absolute;
    top: 20px;
    width: 44px;
}
.price_text {
	font-size: 14px;
	color: #999;
	position: relative;
}
.price_text .price_text_p1 {
	padding-top: 4px;
	position: relative;
	text-align:center;
	top: -5px;
	width:93px;
}
.property_text {
    color: #999;
    font-size: 14px;
    margin: 10px auto 10px 32px;
    overflow: hidden;
    width: 100%;
}
.property_text .p1 {
	font-size: 20px;
	color: #e05a00;
	text-align: left;
}
.property_text .p1 a {
	color: #de5e00;
}
.property_text .p2 {
	padding-top: 9px;
	width: 95px;
	text-align: left;
}
.property_text .p3 {
	color: #666;
	font-size: 20px;
	text-align: left;

}
.property_text .p3 a {
	color: #666;
}
.property_text_time {
    border-top: 1px solid #ddd;
    height:60px;padding-top:28px;
    width: 275px;
    margin: 0 auto;text-align:center;position: relative;
}
.property_text_time p{font-size:14px;color:#999;}
.property_text_time p span{font-size:26px;color:#218cce;margin:0px 4px;}
.property_text_time p b{color:#218cce;font-size:30px;}
.residue_opening_timeIcon{
    background: rgba(0, 0, 0, 0) url("../images/ycz_icon.png") no-repeat scroll 0 0;
    height: 98px;
    left: 170px;
    position: absolute;
    top: -8px;
    width: 98px;
}

/***************底部*********************/
.footer{width:100%;
	background: #fff;
    padding-top:50px;overflow:hidden;
}
.pcaboutus{font-size: 14px;color: #757575;line-height: 30px;width: 450px;}
.footernav{float:left;width:185px;padding-top:5px;}
.footernav dt{font-size:24px;color:#757575;padding-bottom:23px;}
.footernav dd{font-size:14px;line-height:36px;color:#aaa;}
.footernav dd a{color:#757575;}
.bottom{margin-top:40px;background:#fff;color:#757575;text-align:center;line-height:60px;}
.bottom img{vertical-align:middle;height: 36px;margin-left: 10px;}

/***************帮助中心*********************/
.help_center{padding-top: 96px;background:url(../images/helpbg.jpg);}
.help_center h1{text-align:center;font-size:48px;color:#fff;}
.searchbox{background:#424241;height: 64px;padding: 20px;width: 984px;margin: 46px auto;position: relative;}
.searchbox input{width: 750px;width:732px\0;*width:732px;
    height: 64px;
    background: #fff;
    line-height: 64px;
    font-size: 18px;
    border:none;
    padding-left: 20px;
    color: #333;
    float:left;}
.searchbox button{width: 232px;
    height: 64px;
    background:#218cce url(../images/isprite_6.png) -317px -270px no-repeat;
    color: #fff;
    font-size: 24px;float:left;border:none;cursor:pointer;}
.help_center_con{width: 824px;
    padding: 50px 100px 200px 100px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 2px 2px 20px #999;}
.qafenl,.qalist dt,.qalist dd{background:url(https://imgm.touchouwang.net/public/p_image/isprite_5.png?20151204) no-repeat;}
.qafenl{font-size:16px;color:#999;margin-top:5px;padding-left:40px;cursor:pointer;margin-left:12px;margin-right:12px;background-position:0 -414px;transition:all .5s;}
#current.qafenl{background-position:0px -465px;color:#2eacf5;}
.qafenl:hover{color:#2eacf5;}
.qafenl span i{font-style:normal;padding-right:18px;line-height:45px;}
.qafenl span .englishname{font-size:14px;} 
.qalist{border-radius:10px;margin-top:20px;margin-left:30px;padding:30px 20px 0;margin-bottom:20px;position:relative;border:1px solid #818181;display:none;}
.qalist .qafenl{display:none;}
.qalist dt{background-position:0 -631px;}
.qalist dd{background-position:0 -677px;}
.qalist dt,.qalist dd{font-size:14px;line-height:28px;padding-left:40px;color:#999;}
.qalist dl span{}
.qalist dt{}
.qalist dd{margin-top:10px;margin-bottom:30px;}
.qalist dd div span{display:inline;background-color:#f9f9f9;margin:0;}
.qalist dd img{width:100%;}
.nobg{background:none;}


/***************首页悬浮********************************************/
#a-icon {
	position: fixed;
	right: 40px;
	top: 135px;
	width: 56px;
	z-index: 99999;
}
@media all and (max-width:1400px) {
#a-icon {
	position: fixed;
	right: 0;
	top: 135px;
	width: 56px;
	z-index: 99999;
}
}
.nav-text-online {
	background: rgba(0, 0, 0, 0) url(../images/suspend.png) scroll -152px -9px;background:url(../images/suspend.png) scroll -152px -9px\9;
	border-radius: 2px;
	height: 45px;
	width: 45px;
}
.nav-text-online:hover {
	background-position: -152px -57px;
}
.suspend_logo {
	background: rgba(0, 0, 0, 0) url(../images/suspend.png) scroll -11px -9px;background:url(../images/suspend.png) scroll -11px -9px\9;
	border-radius: 2px;
	height: 45px;
	width: 45px;
	position: absolute;
}
.suspend_logo_denglu {
	background: rgba(0, 0, 0, 0) url(../images/denglu_03.png) no-repeat scroll 0 0;background:url(../images/denglu_03.png) no-repeat scroll 0 0\9;
	height: 81px;
	position: absolute;
	right: 42px;
	top: -15px;
	width: 182px;
}
.suspend_logo_denglu .div {
	margin-left: 72px;
	margin-top: 20px;
}
.suspend_logo_denglu .div a {
	font-size: 14px;
	color: #666666;
	outline: none;
}
.suspend_logo_denglu .div a:hover {
	color: #00a884;
}
.suspend_logo:hover {
	background-position: -11px -56px;
}
.suspend_service {
	background: rgba(0, 0, 0, 0) url(../images/suspend.png) scroll -152px -9px;background:url(../images/suspend.png) scroll -152px -9px\9;
	border-radius: 2px;
	height: 45px;
	width: 45px;
}
.suspend_service:hover {
	background-position: -152px -57px;
}
.suspend_tel {
	background: rgba(0, 0, 0, 0) url(../images/suspend.png) scroll -58px -9px;background:url(../images/suspend.png) scroll -58px -9px\9;
	border-radius: 2px;
	height: 45px;
	width: 45px;
	position: relative;
	top: 1px;
}
.tel_munber {
	background: rgba(0, 0, 0, 0) url(../images/nu_03.png) no-repeat scroll 0 0;background:url(../images/nu_03.png) no-repeat scroll 0 0\9;
	position: absolute;
	right: 53px;
	top: -46px;
	width: 232px;
	height: 140px;
	display: none;
}
.tel_munber_center {
	margin-top: 34px;
	margin-left: 15px;
}
.tel_munber_center div {
	margin-top: 10px;
	color: #666666;
	font-size: 14px;
}
.tel_munber_center div .p1 {
	color: #ad8f00;
	font-size: 18px;
}
.suspend_tel:hover {
	background-position: -58px -57px;
}
.suspend_tel:hover>.tel_munber {
	display: block;
}
.suspend_Barcode {
	background: url(../images/suspend.png) scroll -105px -9px;
	;
	border-radius: 2px;
	height: 45px;
	width: 45px;
	position: relative;
	top: 1px;
}
.Barcode_code {
	background: rgba(0, 0, 0, 0) url(../images/code_03.png) no-repeat scroll 0 0;background:url(../images/code_03.png) no-repeat scroll 0 0\9;
	display: none;
	height: 308px;
	position: absolute;
	right: 53px;
	top: -54px;
	width: 165px;
}
.suspend_Barcode:hover {
	background-position: -105px -57px;
}
.suspend_Barcode:hover>.Barcode_code {
	display: block;
}
.suspend_tally {
	background: url(../images/suspend.png) scroll -200px -9px;
	border-radius: 2px;
	height: 45px;
	width: 45px;
}
.suspend_tally:hover {
	background-position: -200px -57px;
}
.suspend_share {
	background: url(../images/suspend.png) scroll -295px -9px;
	border-radius: 2px;
	height: 45px;
	width: 45px;
	position: relative;
}
.share_fenxiang {
	background: rgba(0, 0, 0, 0) url(../images/fenxiang_03.png) no-repeat scroll 0 0;background:url(../images/fenxiang_03.png) no-repeat scroll 0 0\9;
	height: 67px;
	position: absolute;
	right: 3px;
	top: -10px;
	width: 298px;
}
.share_fenxiang_center {
	margin: 25px;
	width: 194px;
}
.share_fenxiang_add {
	background: url(../images/suspend.png) scroll -11px -115px;
	font-size: 12px;
	text-indent: 20px;
	height: 17px;
	width: 73px;
}
.share_fenxiang_weixin {
	background: url(../images/suspend.png) scroll -122px -115px;
	height: 19px;
	width: 19px;
}
.share_fenxiang_kongZ {
	background: url(../images/suspend.png) scroll -164px -115px;
	height: 19px;
	width: 19px;
	margin-left: 5px;
}
.share_fenxiang_xinlang {
	background: url(../images/suspend.png) scroll -101px -115px;
	height: 19px;
	width: 19px;
	margin-left: 5px;
}
.share_fenxiang_renren {
	background: url(../images/suspend.png) scroll -144px -115px;
	height: 19px;
	width: 19px;
	margin-left: 5px;
}
.share_fenxiang_tenxun {
	background: url(../images/suspend.png) scroll -184px -115px;
	height: 19px;
	width: 19px;
	margin-left: 5px;
}
.suspend_share:hover {
	background-position: -295px -57px;
}
.suspend_phone {
	background: url(../images/suspend.png) scroll -248px -9px;
	border-radius: 2px;
	height: 45px;
	width: 45px;
	position: relative;
}
.suspend_fenjinshe {
	background: url(../images/fenjinshe_03.jpg) no-repeat scroll 0 0;
	height: 177px;
	width: 176px;
	display: none;
	position: absolute;
	right: 53px;
	top: -75px;
}
.suspend_phone:hover {
	background-position: -248px -57px;
}
.suspend_phone:hover>.suspend_fenjinshe {
	display: block;
}


/**********找回密码*******/
.findBox .cont2 {position:relative;
	background-color:#fff;
	border-radius: 5px;
	padding: 20px;    border: 1px solid #ddd;
	margin: 30px 0;
}
.cont2 .bymobile {
    position: absolute;
    background: url(../images/e-mail2.png) no-repeat center center;
    right: 54px;
    top: 110px;
    width: 574px;
    height: 376px;
}
.cont2 .byemial{background: url(../images/e-mail1.png) no-repeat center center;}
.findBox h3.title {
    border-bottom: 1px solid #e4e4e4;
    line-height: 40px;
    margin: 0 55px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
.findBox form{margin:0 55px;}
.findBox p {
	overflow:hidden;
	padding: 7px;
	margin-top:10px;
}
.findBox input.text {
	float:left;
	border: 1px solid #e4e4e4;
	padding: 15px 74px;
	border-radius: 5px;
	padding-left: 50px;
	width: 258px;
}
.findBox input.username {
	background: url(../images/auth-sprite.png) left -4px no-repeat;
}
.findBox input.password {
	background: url(../images/auth-sprite.png) left -44px no-repeat;
}
.findBox input.mobile {
	background: url(../images/auth-sprite.png) left -229px no-repeat;
}
.findBox input.email {
	background: url(../images/auth-sprite.png) left -315px no-repeat;
}
.findBox p a.btn1{
	float:left;
	margin-top:8px;border-radius:4px;
}
.findBox p a.submit{padding:10px 160px;}
.findBox p img.vcode{float:left;margin:10px 0px 0 10px;}
.findBox p .msgtip{line-height: 48px;
    color: red;
    padding-left: 10px;}

/***********右悬浮****************/
.index_right{width:55px;height:215px;position:fixed;top:60%;right:0px; z-index:100;}
.index_right span{position:relative;display:inline-block;width:55px;height:50px;text-align:center;cursor: pointer;}
.index_kf{background:url(../images/right_kf1.png) no-repeat;}
.index_kf2{background:url(../images/right_kf2.jpg) no-repeat!important;}
.index_kf:hover{background:url(../images/right_kf1.png) no-repeat;}
.index_wx{background: url(../images/right_weixin1.png) no-repeat;}
.index_wx:hover{background: url(../images/right_weixin1.png) no-repeat;}
.index_qq{background: url(../images/right_qq1.png) no-repeat;}
.index_qq:hover{background: url(../images/right_qq1.png) no-repeat;}
.index_top{background: url(../images/right_top1.png) no-repeat;}
.index_top:hover{background: url(../images/right_top1.png) no-repeat;}

.index_right span div{position:absolute;width:auto;height:auto;top:0px;right:55px;background:#fff;display:none;border:1px solid #e4e4e4;overflow:hidden;padding:2px;}
.index_right span div a{line-height:44px;display: inline-block;min-width: 140px;width:140px\9;}
.index_right span div a iframe,.index_qq a img,.index_kf a img{margin-top: -3px;vertical-align: middle;}
.index_right span div p{margin-bottom:10px;}
/***********511新增****************/
.zx-list { background: url("../images/little.jpg") no-repeat center left; width: 100%; display: block; padding-left: 10px; }

.porject-box-left img{
cursor: pointer;
transition: all 0.6s;

}

.porject-box-left a:hover img{width:420px;height:300px;z-index:9999;position:relative;margin-top:-30px;margin-left:-20px}
