@charset "utf-8";
@-webkit-keyframes btnRotate {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    -moz-animation: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
    -moz-animation: rotateZ(360deg);
  }
}
@keyframes btnRotate {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    -moz-animation: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
    -moz-animation: rotateZ(360deg);
  }
}
@-webkit-keyframes displacement {
  0% {
    text-indent: 0px;
  }
  50% {
    text-indent: 10px;
  }
  100% {
    text-indent: 0px;
  }
}
@keyframes displacement {
  0% {
    text-indent: 0px;
  }
  50% {
    text-indent: 10px;
  }
  100% {
    text-indent: 0px;
  }
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/*公用样式*/
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
  display: block;
}
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td,
span {
  padding: 0;
  margin: 0;
}
body,
html {
  font-size: 14px;
  font-family: "microsoft yahei";
  line-height: 1;
  -webkit-text-size-adjust: none;
  color: #666;
}
li,
ol {
  list-style: none;
}
input {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
.begin {
  transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
}
.stop,
.stop * {
  transition: none;
  -o-transition: none;
  -webkit-transition: none;
  -moz-transition: none;
}
button {
  outline: none;
  cursor: pointer;
}
*html {
  background-image: url(about:blank);
  background-attachment: fixed;
}
ins,
s {
  text-decoration: none;
}
i,
em {
  font-style: normal;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  outline: none;
  color: #666;
}
a:hover {
  cursor: pointer;
  color: #ff550a;
}
a,
img {
  border: none;
}
.fl,
.fr,
.lifl li {
  float: left;
  display: inline;
  list-style: none;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.clear {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.block {
  display: block;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.underline {
  text-decoration: underline;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.unabled {
  background: #bfbebb!important;
  border: 1px solid #bfbebb!important;
}
.unabled:hover {
  cursor: not-allowed;
}
.wrap {
  width: 1160px;
  margin: 0 auto;
}
.minwrap {
  width: 800px;
  margin: 0 auto;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
/*表格*/
.wmax {
  width: 100%;
}
.vam {
  display: table;
  text-align: center;
}
.vam > div {
  display: table-row;
}
.vam > div > div {
  display: table-cell;
  vertical-align: middle;
}
.cmain {
  color: #fc8412;
}
.cgreen {
  color: #5eb95e;
}
/*浏览器版本过低提示*/
.browsertip {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #F1F1F1;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  background: #000000;
  filter: alpha(opacity=50);
}
.browsertip a {
  color: #fc8412;
}
.browsertip .ico-warn {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 6px;
  position: relative;
  background: url(../img/www/bg.png) no-repeat -342px -4px;
  cursor: pointer;
  background-position: -715px -42px;
}
.tips {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  background: url(../img/www/bg.png) no-repeat -463px -3px;
  cursor: pointer;
  position: relative;
}
.tipsinfo {
  position: absolute;
  top: 30px;
  left: -20px;
  padding: 0px 10px;
  line-height: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
  white-space: nowrap;
  /* 不换行 */
  z-index: 2;
  border-radius: 5px;
}
.up {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 18px;
  margin-right: 6px;
  position: relative;
  background: url(../img/www/bg.png) no-repeat -627px -3px;
  cursor: pointer;
  position: absolute;
  top: 16px;
  left: 4px;
  z-index: 3;
}
.top-info {
  background-color: #fff;
  border-bottom: 1px solid #cbcbcb;
  height: 40px;
  line-height: 40px;
  min-width: 1200px;
  width: 100%;
}
.top-info .top-l {
  width: 50%;
  float: left;
}
.top-info .top-r {
  width: 50%;
  float: right;
  color: #646464;
  text-align: right;
}
.top-info .ico-news {
  padding: 2px 5px;
  border-radius: 3px;
  color: #fff;
  background-color: #df532f;
  font-size: 12px;
}
.top-info span {
  color: #b2b2b2;
}
.top-info .ico-phone {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 6px;
  position: relative;
  background: url(../img/www/bg.png) no-repeat 0px 0px;
  cursor: pointer;
}
.top-info .ico-qq {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 6px;
  position: relative;
  background: url(../img/www/bg.png) no-repeat -171px 0px;
  cursor: pointer;
}
.top-info .ico-wx {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 6px;
  position: relative;
  background: url(../img/www/bg.png) no-repeat -84px 0px;
  cursor: pointer;
}
.top-info .ico-phone:hover {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 6px;
  position: relative;
  background: url(../img/www/bg.png) no-repeat 0px -33px;
  cursor: pointer;
  transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.top-info .ico-qq:hover {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 6px;
  position: relative;
  background: url(../img/www/bg.png) no-repeat -171px -33px;
  cursor: pointer;
  transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.top-info .ico-wx:hover {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 6px;
  position: relative;
  background: url(../img/www/bg.png) no-repeat -84px -33px;
  cursor: pointer;
  transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.top-info .ico-down {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 6px;
  position: relative;
  background: url(../img/www/bg.png) no-repeat -342px -4px;
  cursor: pointer;
  width: 13px;
}
.top-info .ico-phone img,
.top-info .ico-wx img,
.top-info .wechat img {
  position: fixed;
  top: 38px;
  z-index: 10;
  border: 4px solid #606060;
  display: none;
}
.header {
  background-color: #fff;
  /*padding: 20px 0;*/
  width: 100%;
  min-width: 1200px;
}
.header .logo {
  display: block;
  width: 191px;
  height: 59px;
  background: url(../img/www/logo.png) no-repeat;
  float: left;
  overflow: hidden;
}
.header .logo a {
  display: block;
  width: 191px;
  height: 59px;
  overflow: hidden;
  font-size: 0;
}
.header .logo-info {
  width: 246px;
  height: 59px;
  margin-left: 20px;
  border-left: 1px solid #cbcbcb;
  background: url(../img/www/logo-02.png) no-repeat;
  background-position: top 0px left 20px ;
  float: left;
  margin-top: 5px;
}
.header .menu {
  float: right;
  padding-top: 20px;
  height: 30px;
  line-height: 30px;
  position: relative;
}
.header .menu li {
  position: relative;
  float: left;
  display: inline;
  list-style: none;
  font-size: 18px;
  color: #333;
  padding: 0px 20px;
}
.header .menu li:hover a,
.header .menu .focus a {
  color: #fc8412;
}
.header .menu .select a {
  color: #fc8412;
}
.header .menu span.s1 {
  width: 36px;
  background-color: #fc8412;
  height: 3px;
  display: block;
  position: absolute;
  left: 20px;
  bottom: -3px;
}
.contentbox {
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px 0px;
  min-width: 1200px;
}
.pager {
  padding-left: 0;
  line-height: 20px;
  margin: 20px 0;
  list-style: none;
  text-align: center;
  font-size: 12px;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 6px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-right: -1px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #df532f;
  color: #fff;
  border: 1px solid #df532f;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager li:first-child {
  margin-right: -5px;
}
.pager li:last-child {
  margin-left: -5px;
}
.pager .active span {
  z-index: 2;
  color: #fff;
  background-color: #df532f;
  border-color: #df532f;
  cursor: default;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777777;
  background-color: #fff;
  cursor: not-allowed;
}
/*进度条*/
/*错误信息提示*/
.err_tip {
  color: #f00;
  background: url(../img/www/ico-err.png) no-repeat center left;
  height: 20px;
  line-height: 20px;
  text-indent: 20px;
  font-size: 12px;
}
/*文本框公共样式*/
.input {
  border: 1px solid #ccc;
  height: 40px;
  line-height: 40px;
  width: 100%;
  text-indent: 15px;
  box-sizing: border-box;
}
/*投资按钮样式*/
.btnred {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  width: 160px;
  border: 1px solid #df532f;
  background-color: #df532f;
  color: #fff;
  box-sizing: border-box;
  vertical-align: middle;
}
.btngreen {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  width: 160px;
  border: 1px solid #5eb95e;
  background-color: #5eb95e;
  color: #fff;
  box-sizing: border-box;
  vertical-align: middle;
}
.btnyellow {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  width: 160px;
  border: 1px solid #fc8412;
  background-color: #fc8412;
  color: #fff;
  box-sizing: border-box;
  vertical-align: middle;
}
.btngray {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  width: 160px;
  border: 1px solid #999;
  background-color: #999;
  color: #fff;
  box-sizing: border-box;
  vertical-align: middle;
}
.i-btn {
  width: 160px;
}
.l-btn {
  width: 200px;
}
.d-btn {
  width: 100%;
  height: 42px;
  margin-top: 20px;
  border-radius: 21px;
}
.r-tabs-1 .btnred {
  border-radius: 4px;
}
.btnred:hover {
  background-color: #ce4c2b;
  color: #fff;
}
.btnyellow:hover {
  background-color: #e86a1f;
  color: #fff;
}
.btngreen:hover {
  background-color: #57aa57;
  color: #fff;
}
.btngray:hover {
  background-color: #8d8d8d;
  color: #fff;
}
/*温馨提示*/
.warmprompt {
  text-align: left;
  margin-left: 200px;
  margin-top: 60px;
}
.warmprompt dt {
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}
.warmprompt dd {
  line-height: 26px;
  color: #999;
}
/*底部样式*/
.footer {
  width: 100%;
  min-width: 1210px;
  padding-top: 30px;
  color: #99a7cc;
  background-color: #242832;
  display: block;
}
.footer .cont {
  width: 100%;
  height: 200px;
  background-color: #2b344e;
}
.footer .cont .wxcont {
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
}
.footer .cont .wxcont .about {
  width: 380px;
  height: 130px;
  overflow: hidden;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  padding-left: 40px;
}
.footer .cont .wxcont .about .tit {
  color: #a4a8b4;
  font-size: 16px;
  text-align: left;
}
.footer .cont .wxcont .about .tit i {
  width: 30px;
  height: 30px;
  margin-right: 6px;
  position: relative;
  background: url(../img/www/bg.png) no-repeat -385px 0px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.footer .cont .wxcont .about p {
  padding-left: 20px;
}
.footer .cont .wxcont .kftel {
  width: 380px;
  height: 130px;
  overflow: hidden;
  border-right: 1px solid #636879;
  font-size: 14px;
}
.footer .cont .wxcont .kftel .tit {
  margin-left: 40px;
  color: #a4a8b4;
  font-size: 16px;
  text-align: left;
}
.footer .cont .wxcont .kftel .tit i {
  width: 30px;
  height: 30px;
  margin-right: 6px;
  position: relative;
  background: url(../img/www/bg.png) no-repeat -423px 0px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.footer .cont .wxcont .kftel .kfno {
  margin: 10px 0px 0px 72px;
  color: #ff5a00;
  font-size: 32px;
}
.footer .cont .wxcont .kftel .kftime {
  text-align: center;
  line-height: 26px;
  margin: 5px 0px;
}
.footer .cont .wxcont .kfwex {
  width: 380px;
  height: 130px;
  overflow: hidden;
  border-right: 1px solid #636879;
}
.footer .cont .wxcont .kfwex img {
  border-radius: 4px;
}
.footer .cont .wxcont .kfwex .txtip {
  margin-left: 20px;
  font-size: 14px;
  padding-top: 20px;
  line-height: 26px;
}
.footer .cont .wxcont .kfwex .txtip .tal {
  width: 100%;
  text-align: left;
}
.footer .cont .wxcont .kfwex .txtip .tac {
  width: 100%;
  text-align: center;
}
.footer .flink {
  width: 1000px;
  margin: 0 auto;
  padding: 30px 0 30px 0;
  color: #979ba7;
  font-size: 14px;
  text-align: left;
}
.footer .flink a {
  color: #979ba7;
  text-decoration: none;
  padding: 0 10px 0 10px;
}
.footer .flink a:hover {
  color: #ff5a00;
  text-decoration: none;
}
.footer .icp {
  width: 100%;
  padding: 20px 0 20px 0;
  background-color: #2b344e;
  color: #828eb0;
  font-size: 14px;
  text-align: center;
}
.ico-clock {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  position: relative;
  background: url(../img/www/bg.png) no-repeat -674px -3px;
  cursor: pointer;
}
.ico-bao {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  position: relative;
  background: url(../img/www/bg.png) no-repeat -500px -5px;
  cursor: pointer;
}
.ico-back {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  position: relative;
  background: url(../img/www/bg.png) no-repeat -531px -5px;
  cursor: pointer;
  margin-left: 20px;
}
.dotting {
  color: #fff;
  display: inline-block;
  min-width: 2px;
  min-height: 2px;
  box-shadow: 2px 0 #fff, 6px 0 #fff, 10px 0 #fff;
  -webkit-animation: dot 2s infinite step-start both;
  animation: dot 2s infinite step-start both;
}
.dotting:before {
  content: '...';
}
/* IE8 */
.dotting::before {
  content: '';
}
:root .dotting {
  margin-right: 8px;
}
/* IE9+,FF,CH,OP,SF */
@-webkit-keyframes dot {
  25% {
    box-shadow: none;
  }
  50% {
    box-shadow: 2px 0 #fff;
  }
  75% {
    box-shadow: 2px 0 #fff, 6px 0 #fff;
  }
}
@keyframes dot {
  25% {
    box-shadow: none;
  }
  50% {
    box-shadow: 2px 0 #fff;
  }
  75% {
    box-shadow: 2px 0 #fff, 6px 0 #fff;
  }
}
.prodwrap {
  padding: 0px 88px;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}
.prodwrap .path {
  padding: 26px 0px;
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
}
.prodwrap .path a {
  color: #999;
}
.prodwrap .path a:hover {
  color: #666;
}
.prodwrap .plan {
  padding: 20px 0px;
  border-bottom: 1px solid #e5e5e5;
}
.prodwrap .plan a {
  margin-left: 25px;
  display: inline-block;
  padding: 6px 10px;
  color: #333;
}
.prodwrap .plan .focus,
.prodwrap .plan a:hover {
  background-color: #df532f;
  color: #fff;
  border-radius: 5px;
}
.prodwrap .prodlist {
  border: 1px solid #e5e5e5;
  margin-top: 15px;
}
.prodwrap .prodlist .item {
  padding: 30px 35px 30px 0px;
  border-bottom: 1px solid #e5e5e5;
  height: 152px;
}
.prodwrap .prodlist .item:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
  transition: all 0.2s ease-in 0s;
  -webkit-transform: translate3d(0, -2px, 0);
  -webkit-transition: all 0.2s ease-in 0s;
}
.prodwrap .prodlist .item:last-child {
  border-bottom: none;
}
.prodwrap .prodlist .c01 {
  padding-top: 15px;
  width: 180px;
  float: left;
  text-align: center;
}
.prodwrap .prodlist .c01 a {
  display: inline-block;
  width: 122px;
  height: 122px;
  overflow: hidden;
  border-radius: 61px;
  background: url(../img/www/pic-none.png) no-repeat;
  background-size: cover;
}
.prodwrap .prodlist .c01 img {
  visibility: hidden;
}
.prodwrap .prodlist .c02 {
  width: 600px;
  float: left;
}
.prodwrap .prodlist .c03 {
  float: left;
  text-align: right;
}
.prodwrap .prodlist .r01 {
  color: #999;
  margin-top: 5px;
}
.prodwrap .prodlist .c02 .r01 i {
  padding: 2px 6px;
  color: #fc8412;
  border: 1px solid #fc8412;
  font-size: 12px;
  border-radius: 5px;
}
.prodwrap .prodlist .r02 {
  margin-top: 25px;
}
.prodwrap .prodlist .r02 a {
  margin-top: 22px;
}
.prodwrap .prodlist .r03 {
  font-size: 12px;
  margin-top: 20px;
}
.prodwrap .prodlist .info {
  width: 100%;
  text-align: left;
}
.prodwrap .prodlist .info .sub {
  font-size: 13px;
}
.prodwrap .prodlist .info > div:first-child {
  font-size: 24px;
  color: #333;
  line-height: 40px;
}
.prodwrap .prodlist .info > div:last-child {
  color: #999;
  line-height: 30px;
}
.prodwrap .prodlist .cc01 {
  width: 226px;
}
.prodwrap .prodlist .cc02 {
  width: 174px;
}
.prodwrap .prodlist .sp1 {
  color: #999;
  margin-right: 20px;
}
.prodwrap .prodlist .sp2 {
  color: #999;
}
.prodwrap .prodlist .bars {
  width: 200px;
}
.prodwrap .prodlist .bartotal {
  width: 140px;
  height: 9px;
  background-color: #ddd;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.prodwrap .prodlist .barcurrent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fc8412;
  height: 9px;
  width: 0px;
  border-radius: 5px;
  background-color: #df532f;
}
.prodwrap .prodlist .barnum {
  display: inline-block;
  vertical-align: middle;
  width: 54px;
  height: 22px;
  margin-right: 6px;
  position: relative;
  background: url(../img/www/bg.png) no-repeat -562px -3px;
  cursor: pointer;
  margin-right: 0px;
  text-align: center;
  color: #fff;
  line-height: 22px;
  text-indent: 5px;
}
.proddetail .path {
  padding: 4px 0px 24px;
  font-size: 14px;
}
.proddetail .path a {
  color: #999;
}
.proddetail .path a:hover {
  color: #666;
}
.proddetail .detail01-l {
  float: left;
  width: 800px;
  height: 202px;
  border: 1px solid #e5e5e5;
  padding: 25px 0px;
  background-color: #fff;
}
.proddetail .detail01-l .c01 {
  padding-top: 18px;
  width: 240px;
  float: left;
  text-align: center;
}
.proddetail .detail01-l .c01 img {
  visibility: hidden;
}
.proddetail .detail01-l .c01 span {
  display: inline-block;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 90px;
}
.proddetail .detail01-l .c02 {
  float: left;
}
.proddetail .detail01-l .r01 {
  color: #999;
  margin-top: 5px;
}
.proddetail .detail01-l .r01 i {
  padding: 2px 6px;
  color: #fc8412;
  border: 1px solid #fc8412;
  font-size: 12px;
  border-radius: 5px;
}
.proddetail .detail01-l .r02 {
  margin-top: 25px;
}
.proddetail .detail01-l .r02 a {
  margin-top: 22px;
}
.proddetail .detail01-l .r03 {
  font-size: 12px;
  margin-top: 20px;
}
.proddetail .detail01-l .info {
  width: 100%;
  text-align: left;
}
.proddetail .detail01-l .info .sub {
  font-size: 13px;
}
.proddetail .detail01-l .info > div:first-child {
  font-size: 24px;
  color: #333;
  line-height: 40px;
}
.proddetail .detail01-l .info > div:last-child {
  color: #999;
  line-height: 30px;
}
.proddetail .detail01-l .cc01 {
  width: 226px;
}
.proddetail .detail01-l .cc02 {
  width: 174px;
}
.proddetail .detail01-l .sp1 {
  color: #999;
  margin-right: 40px;
}
.proddetail .detail01-l .sp2 {
  color: #999;
}
.proddetail .detail01-l .bars {
  margin-top: 25px;
}
.proddetail .detail01-l .bartotal {
  width: 362px;
  height: 9px;
  background-color: #ddd;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.proddetail .detail01-l .barcurrent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fc8412;
  height: 9px;
  width: 0px;
  border-radius: 5px;
}
.proddetail .detail01-l #barnum {
  margin-right: 0px;
  text-align: center;
  color: #fc8412;
  line-height: 22px;
  text-indent: 5px;
}
.proddetail .detail01-r {
  position: relative;
  float: right;
  width: 330px;
  height: 202px;
  border: 1px solid #e5e5e5;
  padding: 15px 25px 35px;
  background-color: #fff;
}
.proddetail .detail01-r .tips-info {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  height: 45px;
  line-height: 45px;
  background-color: #7e7e7e;
  color: #fff;
  font-size: 16px;
  text-indent: 20px;
}
.proddetail .detail01-r .tips-info a {
  color: #df532f;
}
.proddetail .detail01-r .tips-info a:hover {
  color: #ce4c2b;
}
.proddetail .detail01-r .amount {
  line-height: 35px;
  width: 100%;
  color: #999;
  font-size: 14px;
}
.proddetail .detail01-r .amount span {
  color: #333;
}
.proddetail .detail01-r .amount > div > div {
  width: 50%;
}
.proddetail .detail01-r .count-num {
  height: 28px;
  line-height: 28px;
  margin-top: 10px;
}
.proddetail .detail01-r .count-num a {
  display: block;
  float: left;
  width: 30px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.proddetail .detail01-r .itxt {
  width: 270px;
  text-align: center;
  height: 28px;
  line-height: 28px;
  float: left;
}
.proddetail .detail01-r .ico-clock {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  position: relative;
  background: url(../img/www/bg.png) no-repeat -674px -3px;
  cursor: pointer;
}
.proddetail .detail01-r .amount a {
  color: #fc8412;
}
.proddetail .detail01-r .clock {
  font-size: 16px;
  color: #fc8412;
}
.proddetail .detail01-r .clock span {
  color: #fc8412;
}
.proddetail .detail01-r .r-tabs-2 {
  padding-top: 20px;
}
.proddetail .detail02 {
  padding: 0px 45px 20px;
  margin-top: 40px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}
.proddetail .detail02 .ul-nav li {
  float: left;
  width: 180px;
  font-size: 16px;
  color: #999;
  text-align: center;
  cursor: pointer;
}
.proddetail .detail02 .ul-nav li span {
  display: inline-block;
  width: 80px;
  padding: 20px 0px;
}
.proddetail .detail02 .ul-nav li:hover span,
.proddetail .detail02 .ul-nav .focus span {
  color: #fc8412;
  padding: 19px 0px;
  border-top: 3px solid #fc8412;
  box-sizing: border-box;
  margin-top: -1px;
}
.proddetail .detail02 .tabs-1 {
  min-height: 500px;
}
.proddetail .detail02 .title {
  color: #333;
  height: 20px;
  line-height: 20px;
  margin: 10px 0px 10px -18px;
  border-left: 3px solid #fc8412;
  text-indent: 15px;
}
.proddetail .detail02 .info {
  line-height: 40px;
  color: #999;
}
.proddetail .detail02 .info span {
  margin-right: 60px;
}
.proddetail .detail02 imglist {
  width: 100%;
  overflow: hidden;
}
.proddetail .detail02 .carimg {
  width: 541px;
  height: 332px;
  float: left;
  overflow: hidden;
  margin: 6px 5px;
}
.proddetail .detail02 .imglist img {
  visibility: hidden;
}
.proddetail .detail02 .ico-qi,
.proddetail .detail02 .ico-zhi {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  line-height: 26px;
  background-color: #3d98ff;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
.proddetail .detail02 .ico-zhi {
  margin-left: 20px;
  background-color: #ff294d;
}
.proddetail .detail02 .btnljtz {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
  border: 1px solid #fc8412;
  background-color: #fc8412;
  color: #fff;
  box-sizing: border-box;
  vertical-align: middle;
}
.proddetail .detail02 .hd-bg {
  width: 100%;
  height: 0;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  border-top: 3px solid #E7E9F0;
  display: none;
}
.proddetail .detail02 .am-sticky {
  position: fixed!important;
  z-index: 20 !important;
  margin: 0px;
  top: 0px;
  left: 0px;
  width: 866px;
}
.proddetail .detail02 .am-btn {
  position: absolute;
  right: -280px;
  top: 11px;
  z-index: 3;
}
