@charset "utf-8";
/* CSS reset */
body,button,input,select,textarea{font:12px/1.5 arial,tahoma,\5b8b\4f53,sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
ul,ol{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:none; color:#b80b00;}
legend{color:#333;}fieldset,img{border:0 none;}
button,input,select,textarea{font-size:100%;overflow:visible;}
table{border-collapse:collapse;border-spacing:0;}
article,aside,details,figcaption,figure,footer,header,menu,nav,section,time,audio,video{display:block;margin:0;padding:0;}
.clearfix:after{clear:both;content:" ";display:table;}
.clearfix{ *zoom:1;}
.clearout{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.cleartxt{color:transparent;font:0/0 a ;overflow:hidden;}
li{list-style: none;}
body{font-family: "Microsoft YaHei", Helvetica, sans-serif,simsun ; font-size: 12px; color:#666; background-color: #fff;}

/*film*/
.w890{width:890px; margin:0 auto; background-color:#fff; border:1px solid #e0e0e0;box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.6);}
.contnet{padding:24px 20px 34px 12px;}
.contnet h2{font-size: 16px;padding-left: 30px;}
.fm-item{line-height:50px; padding-left:165px; vertical-align:middle;}
.fm-item label{cursor:pointer;}
.fm-item label.title{display: inline-block;height: 40px;margin-left: -165px;text-align: right;width: 165px; margin-right:5px;}
.fm-item input[type="text"]{border: 1px solid #DDDDDD;border-radius: 3px;height: 28px;width: 170px;}
.btn{color:#fff; background-color:#067bce; border-radius:3px; padding:.5em 2.6em; border:none; font-size:15px; margin-top:10px;}
.m_left{width:700px;height: 380px;border: solid 1px red;margin: 26px 0px 2px 296px;float: left;}
.m_right{width:304px;height: 380px;border: solid 1px red;margin: 26px 0px 2px 14px;float: left;}
.tijiaojk{ background:url(../images/tijiaojkbg.gif) no-repeat; width:90px; height:25px; border:0; cursor:pointer;}